<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Alumni-Portal Newsletter - {{ config.title }}</title>
    <style>
        @import url("https://use.typekit.net/dcz3wfu.css");
        @import url("https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css");

        body {
            font-family: Arial, Helvetica, sans-serif;
            background-color: #fafafa;
        }

        .header {
            border-bottom: 3px solid rgb(41, 74, 112);
            margin-bottom: 1rem;
            padding: .5rem 0;
            background-color: #fff;
        }

        .content {
            padding: 1rem 0;
        }

        .footer {
            background-color: rgba(199, 199, 204,.25);
            padding: 1rem 0;
        }

        .logo {
            display: flex;
            align-items: center;
        }

        .logo > img {
            padding: .5rem;
            margin-right: .5rem;
            border-right: 3px solid rgb(41, 74, 112);
        }

        h1 {
            font-size: 1.25rem;
            font-weight: normal;
            margin: 0;
        }

        h2, h3, h4, h5 {
            font-size: 1rem;
            font-weight: bolder;
            margin: 0;
            color: rgb(41, 74, 112);
        }

        a {
            color: rgb(41, 74, 112)!important;
        }

        h1,h2,h3,h4,h5,h6{
            font-family: sofia-pro, sans-serif!important;
            line-height: 1!important;
            font-weight: 400!important;
        }
        p,a{
            font-family: sofia-pro, sans-serif!important;
            line-height: 1.6!important;
            font-weight: 300!important;
        }
    </style>
</head>
<body>

<div class="header">
    <div class="container">
        <div class="logo">
            <img src="{{ svg_base64 }}" onerror="this.src='{{ absolute_url(logo_url) }}'" height="24" class="" alt="logo">
            <div>
                <h1>Alumni Portal</h1>
                <h2>Newsletter</h2>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="container">
        <p>Hallo {{ user.fullname }},</p>
        {{ config.description|raw }}
        <p></p>

        {% if user %}
            <div class="card mb-3">
                <div class="card-header">
                    <h3>{{ user.school.title }}</h3>
                </div>
                <div class="card-body">Aktuell sind <b>{{ user.school.users.count }}</b> Alumni deiner Schule registriert.</div>
            </div>

            <div class="card mb-3">
                <div class="card-header">
                    <h3>Kommende Veranstaltungen</h3>
                </div>
                <div class="list-group list-group-flush">
                    {% for event in user.school.events %}
                        {% if event.endDate|date('Ymd') >= date('now')|date('Ymd')%}
                            <a href="{{ url('event_show',{'slug':event.slug}) }}" class="list-group-item list-group-item-action">
                                <div>{{ event.title }}</div>
                                <small>{{ event.startDate|date('d.m.Y') }}</small>
                            </a>
                        {% endif %}
                    {% else %}
                        <div class="list-group-item">Keine Veranstaltungen geplant</div>
                    {% endfor %}
                </div>
                <div class="card-body"></div>
            </div>

            <div class="card mb-3">
                <div class="card-header">
                    <h3>Aktuelle Stellenangebote</h3>
                </div>
                <div class="list-group list-group-flush">
                    {% for offer in user.school.personOffers %}
                        <div class="list-group-item">
                            <div>{{ offer.title }}</div>
                            <small>{{ offer.type.title }}</small>
                        </div>
                    {% else %}
                        <div class="list-group-item">Keine offenen Stellen.</div>
                    {% endfor %}
                </div>
                <div class="card-body"></div>
            </div>

        {% endif %}

        <p>Vielen Dank für deine Unterstzützung.</p>
        <p>Dein Alumni-Portal</p>
    </div>
</div>

<div class="footer">
    <div class="container">
        <p>
            &copy; 2024 Alumni am Treptow-Kolleg Berlin<br>
            <a href="https://www.alumni-portal.org/">www.alumni-portal.org</a>
        </p>
    </div>
</div>

</body>
</html>