<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Alumni-Portal Newsletter - {{ config.title }}</title>
</head>
<body>


    <p>Hallo {{ user.fullname }},</p>
    {{ config.description|raw }}
    <p></p>

    {% if show_events %}
        <p style="font-weight: bold">Kommende Veranstaltungen ({{ user.school.title }})</p>
        <ul>
            {% for event in user.school.events|sort((a, b) => a.startDate <=> b.startDate) %}
                {% if event.endDate|date('Ymd') >= date('now')|date('Ymd')%}
                    <li>
                        <a href="https://www.alumni-portal.org/{{ path('event_show',{'slug':event.slug}) }}" class="list-group-item list-group-item-action">
                            <div>{{ event.title }}</div>

                        </a>
                        <div>{{ event.startDate|date('d.m.Y') }}</div>
                    </li>
                {% endif %}
            {% else %}
                <li>Aktuell sind keine Veranstaltungen geplant.</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if show_events %}
        <p>Auf dich warten aktuell {{ message_count ? message_count : 'keine' }} Nachrichten.</p>
    {% endif %}

    <p>
        Vielen Dank für deine Unterstützung.<br>
        Dein Alumni-Portal
    </p>

    <p>
        &copy; 2025 - Alumni Portal des ZBW<br>
        <a href="https://www.alumni-portal.org/">www.alumni-portal.org</a>
    </p>

</body>
</html>