{% extends '_empty.html.twig' %}

{% block title %}Almuni Portal{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        body {
            background-color: #ffffff!important;
        }
    </style>
{% endblock %}

{% block page %}
    <div class="d-flex justify-content-between align-items-start mx-0 mx-xl-auto" style="max-width: 1300px;">
        <div id="menu" class="sticky-top">
            <ul class="list-unstyled fw-normal fs-5 pb-2 small text-center text-xl-start px-1 mt-1">
                <li>
                    <a href="{{ url('app_beta') }}" class="bd-links-link ms-0 d-inline-block py-2 px-3 rounded-5 active" aria-current="page">
                        <img src="{{ asset('images/logo.svg') }}" width="20" height="20" alt="logo"><span class="d-none d-xl-inline fw-bold ms-3">Home</span>
                    </a>
                </li>
                <li>
                    <a href="{{ url('people_index') }}" class="bd-links-link ms-0 d-inline-block py-2 px-3 rounded-5">
                        <i class="ti ti-school text-primary"></i><span class="d-none d-xl-inline ms-3">Alumni</span>
                    </a>
                </li>
                <li>
                    <a href="{{ url('group_hobby_index') }}" class="bd-links-link ms-0 d-inline-block py-2 px-3 rounded-5">
                        <i class="ti ti-users text-primary"></i><span class="d-none d-xl-inline ms-3">Gruppen</span>
                    </a>
                </li>
                <li>
                    <a href="{{ url('event_index') }}" class="bd-links-link ms-0 d-inline-block py-2 px-3 rounded-5">
                        <i class="ti ti-calendar-event text-primary"></i><span class="d-none d-xl-inline ms-3">Events</span>
                    </a>
                </li>
                <li>
                    <a href="{{ url('chat_start') }}" class="bd-links-link ms-0 d-inline-block py-2 px-3 rounded-5">
                        <i class="ti ti-message-2 text-primary"></i><span class="d-none d-xl-inline ms-3">Nachrichten</span>
                    </a>
                </li>
                <li>
                    <a href="{{ url('profile_index') }}" class="bd-links-link ms-0 d-inline-block py-2 px-3 rounded-5">
                        <i class="ti ti-user text-primary"></i><span class="d-none d-xl-inline ms-3">Profil</span>
                    </a>
                </li>
                <li class="dropdown">
                    <a class="bd-links-link ms-0 d-inline-block py-2 px-3 rounded-5" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="ti ti-dots text-primary"></i><span class="d-none d-xl-inline ms-3">Mehr</span>
                    </a>
                    <ul class="dropdown-menu bg-white rounded-4 border-0 fs-5 py-3 shadow">
                        <li><a class="dropdown-item" href="#"><i class="ti ti-building text-primary"></i><span class="ms-3">Schulen</span></a></li>
                        <li><a class="dropdown-item" href="{{ url('blog_news_offer_index') }}"><i class="ti ti-briefcase text-primary"></i><span class="ms-3">Jobs</span></a></li>
                        {% if app.user %}
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{{ url('profile_settings') }}"><i class="ti ti-settings text-primary"></i><span class="ms-3">Einstellungen</span></a></li>
                            {% if is_granted('ROLE_AUTHOR') or is_granted('ROLE_PLANNER') %}
                                <li><a class="dropdown-item" href="{{ url('admin') }}" target="_blank"><i class="ti ti-dashboard text-primary"></i><span class="ms-3">Administration</span></a></li>
                            {% endif %}
                            <li><a class="dropdown-item" href="{{ url('app_logout') }}"><i class="ti ti-logout text-primary"></i><span class="ms-3">Abmelden</span></a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </div>
        <div id="content">
            <div class="card bg-white border-top-0 border-bottom-0">
                <ul class="nav nav-underline nav-fill border-bottom sticky-top global-nav" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active py-3" aria-current="page"  data-bs-toggle="tab" href="#blog">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-3"  data-bs-toggle="tab" href="#news">Neuigkeiten</a>
                    </li>
                </ul>
                <div class="card-body border-bottom py-1"></div>
                <div class="tab-content">
                    <div class="tab-pane active" id="blog">
                        <div class="list-group list-group-flush">
                            {% for post in posts %}
                                {% if post.isPublished %}
                                    <div class="list-group-item list-group-item-action">
                                                <div class="d-flex flex-column">
                                                    <div class="text-uppercase small card-text">{{ post.type }}</div>
                                                    <a href="{{ path('blog_show',{'slug':post.slug}) }}" class="fw-normal mb-0 fs-5 stretched-link text-decoration-none">{{ post.title }}</a>
                                                    <p class="fw-normal mb-2">{{ post.subtitle }}</p>
                                                </div>
                                                {% if post.blogPostImage %}
                                                    <img class="img-fluid rounded-4" src="{{ asset(post.blogPostImageUrl)|imagine_filter('post_thumbnail')  }}" alt="{{ post }}">
                                                {% else %}
                                                    <img class="img-fluid" src="https://dummyimage.com/800x480/294a70/294a70&text=Preview" alt="{{ post }}" style="filter: brightness(60%);">
                                                {% endif %}
                                                <div class="mt-2 text-end">
                                                </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="tab-pane" id="news">
                        <div class="list-group list-group-flush">
                            {% for post in news %}
                                {% if post.isPublished %}
                                    <div class="list-group-item list-group-item-action">
                                                <div class="d-flex flex-column">
                                                    <div class="text-uppercase small card-text">{{ post.type }}</div>
                                                    <a href="{{ path('blog_news_show',{'slug':post.slug}) }}" class="fw-normal mb-0 fs-5 stretched-link text-decoration-none">{{ post.title }}</a>
                                                    <p class="fw-normal mb-2">{{ post.subtitle }}</p>
                                                </div>
                                                {% if post.blogPostImage %}
                                                    <img class="img-fluid rounded-4" src="{{ asset(post.blogPostImageUrl)|imagine_filter('post_thumbnail')  }}" alt="{{ post }}">
                                                {% else %}
                                                    <img class="img-fluid" src="https://dummyimage.com/800x480/294a70/294a70&text=Preview" alt="{{ post }}" style="filter: brightness(60%);">
                                                {% endif %}
                                                <div class="mt-2 text-end">
                                                </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="card-body py-5 border-top"></div>
            </div>
        </div>
        <div id="sidebar" class="d-none d-xl-block sticky-top" style="min-width: 500px;">
            <div class="container">
                <div class="mt-4">
                    <div class="mb-3">
                        <input class="form-control" type="search" placeholder="Suchen" aria-label="Suchen" autocomplete="off">
                    </div>
                    <div class="mb-3">
                        <div class="card bg-white rounded-4">
                            <div class="card-body">
                                <div class="h5 mb-0">Kommende Events</div>
                            </div>
                            <div class="list-group list-group-flush border-0">
                                {% for event in events|sort((a, b) => a.startDate <=> b.startDate) %}
                                    {% if event.endDate|date('Ymd') >= date('now')|date('Ymd')%}
                                        <a href="{{ url('event_show',{'slug':event.slug}) }}" class="list-group-item d-flex align-items-center border-0 list-group-item-action">
                                            <div class="small text-center bg-light border border-off p-3 rounded-circle me-2">
                                                <div class="">{{ event.startDate|date('d.m.') }}</div>
                                                <div>{{ event.startDate|date('Y') }}</div>
                                            </div>
                                            <div class="ms-2 d-flex flex-column">
                                                <div class="link-primary text-truncate">{{ event.title }}</div>
                                                <div class="small text-truncate">{{ event.location }}</div>
                                                <div class="small text-truncate">{{ event.type.title }}</div>
                                            </div>
                                        </a>
                                    {% endif %}
                                {% endfor %}
                                <a href="{{ url('event_index') }}" class="list-group-item list-group-item-action border-0 rounded-bottom-4 link-primary">mehr Events finden</a>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <div class="card bg-white rounded-4">
                            <div class="card-body">
                                <div class="h5 mb-0">Neue Alumni</div>
                            </div>
                            <div class="list-group list-group-flush border-0">
                                {% for profile in profiles|sort((a, b) => b.id <=> a.id) %}
                                    <a href="{{ url('people_show',{'slug':profile.user.slug}) }}" class="list-group-item d-flex align-items-center list-group-item-action border-0">
                                        {% if profile.user.image.name %}
                                            <img src="{{ vich_uploader_asset(profile.user)|imagine_filter('avatar')  }}" class="img-fluid rounded rounded-circle" style="max-width: 48px" alt="...">
                                        {% else %}
                                            <img src="{{ asset('images/avatar-01-01.png') }}" class="img-fluid rounded-circle" style="max-width: 48px" alt="...">
                                        {% endif %}
                                        <div class="ms-2 d-flex flex-column">
                                            <div class="link-primary">{{ profile }}</div>
                                            <div class="small">{{ profile.user.school.title }}</div>
                                        </div>
                                    </a>
                                {% endfor %}
                                <a href="{{ url('people_index') }}" class="list-group-item list-group-item-action border-0 rounded-bottom-4 link-primary">mehr Alumni finden</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}