{% extends '_empty.html.twig' %}

{% block title %}Almuni Portal{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        body {
            background-color: #ffffff!important;
        }
    </style>
{% endblock %}

{% block page %}
    <div class="container-fluid container-lg">
        <div class="row">
            <div class="col-2 col-lg-2">
                <ul class="list-unstyled fw-normal fs-5 pb-2 small sticky-top" style="top:2px">
                    <li>
                        <a href="{{ url('app_beta') }}" class="bd-links-link ms-0 d-inline-block py-2 px-3 rounded-5 active" aria-current="page">
                            <img src="{{ asset('images/logo.svg') }}" width="20" height="20" alt="logo"><span class="d-none d-lg-inline fw-bold ms-3">Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ url('people_index') }}" class="bd-links-link ms-0 d-inline-block py-2 px-3 rounded-5">
                            <i class="ti ti-search text-primary"></i><span class="d-none d-lg-inline ms-3">Alumni</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ url('event_index') }}" class="bd-links-link ms-0 d-inline-block py-2 px-3 rounded-5">
                            <i class="ti ti-calendar-event text-primary"></i><span class="d-none d-lg-inline ms-3">Events</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ url('group_hobby_index') }}" class="bd-links-link ms-0 d-inline-block py-2 px-3 rounded-5">
                            <i class="ti ti-users text-primary"></i><span class="d-none d-lg-inline ms-3">Gruppen</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ url('chat_start') }}" class="bd-links-link ms-0 d-inline-block py-2 px-3 rounded-5">
                            <i class="ti ti-message-2 text-primary"></i><span class="d-none d-lg-inline ms-3">Nachrichten</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ url('profile_index') }}" class="bd-links-link ms-0 d-inline-block py-2 px-3 rounded-5">
                            <i class="ti ti-user text-primary"></i><span class="d-none d-lg-inline ms-3">Profil</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-10 col-lg-6">
                <div class="card bg-white border-top-0 border-bottom-0">
                    <ul class="nav nav-underline nav-fill border-bottom" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active py-3" aria-current="page"  data-bs-toggle="tab" href="#blog">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link py-3"  data-bs-toggle="tab" href="#news">Neuigkeiten</a>
                        </li>
                    </ul>
                    <div class="card-body border-bottom py-1"></div>
                    <div class="tab-content">
                        <div class="tab-pane active" id="blog">
                            <div class="list-group list-group-flush">
                                {% for post in posts %}
                                    {% if post.isPublished %}
                                        <div class="list-group-item list-group-item-action">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="d-flex flex-column">
                                                        <div class="text-uppercase small card-text">{{ post.type }}</div>
                                                        <h3 class="fw-normal mb-0 h5">{{ post.title }}</h3>
                                                        <p class="fw-normal mb-2">{{ post.subtitle }}</p>
                                                    </div>
                                                    {% if post.blogPostImage %}
                                                        <img class="img-fluid rounded-4" src="{{ asset(post.blogPostImageUrl)|imagine_filter('post_thumbnail')  }}" alt="{{ post }}">
                                                    {% else %}
                                                        <img class="img-fluid" src="https://dummyimage.com/800x480/294a70/294a70&text=Preview" alt="{{ post }}" style="filter: brightness(60%);">
                                                    {% endif %}
                                                    <div class="mt-2 text-end">
                                                        <a href="{{ path('blog_show',{'slug':post.slug}) }}" class="card-link stretched-link text-decoration-none">weiterlesen <i class="fas fa-chevron-right"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="tab-pane" id="news">
                            <div class="list-group list-group-flush">
                                {% for post in news %}
                                    {% if post.isPublished %}
                                        <div class="list-group-item list-group-item-action">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="d-flex flex-column">
                                                        <div class="text-uppercase small card-text">{{ post.type }}</div>
                                                        <h3 class="fw-normal mb-0 h5">{{ post.title }}</h3>
                                                        <p class="fw-normal mb-2">{{ post.subtitle }}</p>
                                                    </div>
                                                    {% if post.blogPostImage %}
                                                        <img class="img-fluid rounded-4" src="{{ asset(post.blogPostImageUrl)|imagine_filter('post_thumbnail')  }}" alt="{{ post }}">
                                                    {% else %}
                                                        <img class="img-fluid" src="https://dummyimage.com/800x480/294a70/294a70&text=Preview" alt="{{ post }}" style="filter: brightness(60%);">
                                                    {% endif %}
                                                    <div class="mt-2 text-end">
                                                        <a href="{{ path('blog_news_show',{'slug':post.slug}) }}" class="card-link stretched-link text-decoration-none">weiterlesen <i class="fas fa-chevron-right"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="card-body py-5 border-top"></div>
                </div>

            </div>
            <div class="col-12 col-lg-4">
                <div class="row row-cols-1 g-3 mt-3 sticky-top" style="top:16px">
                    <div class="col">
                        <input class="form-control" type="search" placeholder="Suchen" aria-label="Suchen" autocomplete="off">
                    </div>
                    <div class="col">
                        <div class="card bg-white rounded-4">
                            <div class="card-body">
                                <div class="h5 mb-0">Kommende Events</div>
                            </div>
                            <div class="list-group list-group-flush border-0">
                                {% for event in events|sort((a, b) => a.startDate <=> b.startDate) %}
                                    {% if event.endDate|date('Ymd') >= date('now')|date('Ymd')%}
                                        <a href="{{ url('event_show',{'slug':event.slug}) }}" class="list-group-item list-group-item-action">
                                            <div class="small">{{ event.startDate|date('d.m.Y') }}</div>
                                            <div class="fw-bolder">{{ event.title }}</div>
                                        </a>
                                    {% endif %}
                                {% endfor %}
                                <a href="{{ url('event_index') }}" class="list-group-item list-group-item-action border-0 rounded-bottom-4 link-primary">mehr Events finden</a>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card bg-white rounded-4">
                            <div class="card-body">
                                <div class="h5 mb-0">Neue Alumni</div>
                            </div>
                            <div class="list-group list-group-flush border-0">
                                {% for profile in profiles %}
                                <a href="{{ url('people_show',{'slug':profile.user.slug}) }}" class="list-group-item list-group-item-action">{{ profile }}</a>
                                {% endfor %}
                                <a href="{{ url('people_index') }}" class="list-group-item list-group-item-action border-0 rounded-bottom-4 link-primary">mehr Alumni finden</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
