{% extends '_full.html.twig' %}

{% set seo_title = 'Überblick der neuesten Beiträge und Veranstaltungen' %}

{% block page_header %}

{% endblock %}

{% block body %}
    <div class="">
        {% if lead %}
                <div class="card text-white border-0">
                    {% if lead.blogPostImage %}
                    <img class="card-img d-none d-lg-block" src="{{ asset(lead.blogPostImageUrl)|imagine_filter('lead_thumbnail')  }}" alt="{{ lead }}">
                    <img class="card-img d-block d-lg-none" src="{{ asset(lead.blogPostImageUrl)|imagine_filter('post_thumbnail')  }}" alt="{{ lead }}">
                    {% endif %}
                    <div class="text-bg-primary border-0">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 px-4 py-3">
                                    <div class="text-uppercase small card-text">{{ lead.type }}</div>
                                    <h4 class="fw-normal h2 mb-0">{{ lead.title }}</h4>
                                    <p class="card-text lead d-none d-md-block fw-bolder">{{ lead.subtitle }}</p>
                                    <a href="{{ path('blog_show',{'slug':lead.slug}) }}" class="card-link stretched-link text-decoration-none link-white fs-5">mehr erfahren <i class="fas fa-chevron-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        {% endif %}
    </div>

    <div class="container mb-5 mt-3">

        {% if app.user %}
            <div class="col-12 mt-3">
                <div class="card bg-light-subtle border-0 shadow-sm rounded rounded-2">
                    <div class="card-body">
                        <a href="{{ url('profile_index')}}" class="stretched-link text-decoration-none d-flex align-items-center">
                            <i class="ti ti-user text-primary me-2"></i>
                            {% if "now"|date('H') < 10 and "now"|date('H') >= 4 %}Guten Morgen, {{ app.user.fullname }}!{% endif %}
                            {% if "now"|date('H') < 18 and "now"|date('H') >= 10 %}Guten Tag, {{ app.user.fullname }}!{% endif %}
                            {% if "now"|date('H') < 4 and "now"|date('H') >= 18 %}Guten Abend, {{ app.user.fullname }}!{% endif %}

                            <i class="ti ti-chevron-right ms-auto"></i>
                        </a>
                    </div>
                </div>
            </div>
        {% endif %}


        <div class="row row-cols-1 row-cols-lg-3 g-3 mt-3 align-content-stretch">

                <div class="col">
                    <div class="card card-body shadow-sm rounded rounded-2 bg-white h-100">
                        <i class="ti ti-users display-1 text-off opacity-50"></i>
                        <div class="text-uppercase small">Alumni-Portal</div>
                        <h4 class="h4 text-primary fw-normal">Jetzt durchstarten</h4>
                        <p class=" opacity-75">Finde ehemalige Lernende und Lehrkräfte deiner Bildungseinrichtung des zweiten Bildungsweges.</p>
                        <a href="{{ path('people_index') }}" class="stretched-link text-decoration-none d-flex align-items-center mt-auto">
                            <span class="fs-5 me-1">Alumni finden</span>
                            <i class="fa-solid fa-chevron-right"></i>
                        </a>
                    </div>
                </div>

                <div class="col">
                    <div class="card card-body shadow-sm bg-white rounded rounded-2 h-100">
                        <i class="ti ti-briefcase display-1 text-off opacity-50"></i>
                        <div class="text-uppercase small">Stellenangebote</div>
                        <h4 class="h4 text-primary fw-normal">Jobbörse</h4>
                        <p class=" opacity-75">Engagiere dich im zweiten Bildungsweg.</p>
                        <a href="{{ path('blog_news_offer_index') }}" class="card-link stretched-link text-decoration-none d-flex align-items-center  mt-auto">
                            <span class="fs-5 me-1">bewerben</span>
                            <i class="fa-solid fa-chevron-right"></i>
                        </a>
                    </div>
                </div>

            {% if blog_post %}
                <div class="col">
                    <div class="card card-body shadow-sm text-bg-primary border-0 rounded rounded-2 h-100">
                        <i class="ti ti-rss display-1 text-white opacity-50"></i>
                        <div class="text-uppercase small">{{ blog_post.type }}</div>
                        <h4 class="h4 text-light fw-normal">{{ blog_post.title }}</h4>
                        <p class=" opacity-75">{{ blog_post.subtitle }}.</p>
                        <a href="{{ path('blog_show',{'slug':blog_post.slug}) }}" class="card-link stretched-link text-decoration-none d-flex align-items-center  link-white mt-auto">
                            <span class="fs-5 me-1">lesen</span>
                            <i class="fa-solid fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>

        <div class="row mt-5">

            <div class="col-lg-12">
                <div class="card  bg-light-subtle shadow-sm border-0 rounded-2">
                    <div class="card-body border-bottom border-primary rounded-top">
                        <h3 class="h6 mb-0">Nächste Veranstaltungen</h3>
                    </div>
                    <div class="list-group list-group-flush">
                        {% for post in events|sort((a, b) => a.startDate <=> b.startDate) %}
                            {% if post.endDate|date('Ymd') >= date('now')|date('Ymd')%}
                                {{ include('component/_event_list.html.twig') }}
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="card-body rounded-bottom border-top">

                    </div>
                </div>

                <a href="{{ url('event_index') }}" class="btn btn-primary d-block d-lg-inline-block rounded-2 mt-3">Weitere Termine</a>
            </div>

            <div class="col-lg-8">
                <h3 class="mb-3 mt-5 fs-5 fw-light text-muted">Aktuelle Meldungen</h3>
                <div class="row row-cols-1 row-cols-lg-2 g-3 align-content-stretch">
                    {% for post in posts %}
                        {% if post.isPublished %}
                        <div class="col">
                            <div class="card bg-transparent rounded border-0 rounded-2 shadow-sm h-100">
                                {% if post.blogPostImage %}
                                    <img src="{{ asset(post.blogPostImageUrl)|imagine_filter('post_thumbnail')  }}" alt="{{ post }}" class="img-fluid card-img-top rounded-top">
                                    <div class="px-3 py-2 bg-white h-100 rounded-bottom">
                                        <div class="mb-0 small"><span class="fw-bold">{{ post.updatedAt|date('d.m.Y') }}</span> <span class="text-uppercase">{{ post.type }}</span></div>
                                        <a href="{{ path('blog_news_show',{'slug':post.slug}) }}" class="fs-6 card-link stretched-link text-decoration-none">{{ post }}</a>
                                    </div>
                                {% else %}
                                    <div class="px-3 py-2 bg-white h-100 rounded-bottom">
                                        <a href="{{ path('blog_news_show',{'slug':post.slug}) }}" class="fs-6 card-link stretched-link text-decoration-none">{{ post }}</a>
                                        <div class="mb-0 small"><span class="fw-bold">{{ post.updatedAt|date('d.m.Y') }}</span> {{ post.type }}</div>
                                        <div class="d-block text-truncate text-wrap">{{ post.subtitle }}</div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        {% endif %}
                    {% else %}
                        <div class="col">
                            Aktuell sind keine Meldungen vorhanden
                        </div>
                    {% endfor %}
                </div>
                <a href="{{ url('blog_news_index') }}" class="btn btn-primary d-block d-lg-inline-block rounded-2 mt-3">Weitere Meldungen</a>
            </div>
         </div>
    </div>
{% endblock %}

{% block aside %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h3 class="display-6 text-primary">Gemeinnützig und unabhängig – Ein Projekt von Lernenden für Lernende</h3>
                <p>
                    Bildung ist ein lebenslanger Prozess – und für viele beginnt ein neuer Abschnitt des Lernens erst im zweiten Bildungsweg. Das Alumni-Portal des Treptow-Kollegs Berlin wurde ins Leben gerufen, um genau diesen Geist des gemeinsamen Lernens, der Durchlässigkeit und der Bildungsgerechtigkeit zu bewahren. Gegründet durch Benjamin Wagner (Kollegsprecher 2021–2024) und Sami Teuchert (Kollegsprecher 2024–2026) in enger Zusammenarbeit mit der Kollegvertretung der Lernenden und dem Förderverein des Treptow-Kollegs Berlin e. V., verfolgt dieses Portal eine klare Mission: Es soll eine kostenfreie, unabhängige Plattform sein, die ehemalige Lernende und Lehrkräfte verbindet.
                </p>
                <p>
                    Die Idee hinter diesem Portal ist tief in dem Wunsch verwurzelt, die Gemeinschaft des zweiten Bildungswegs lebendig zu halten. Viele Erwachsene entscheiden sich für den nachträglichen Erwerb eines Schulabschlusses, um neue berufliche und persönliche Chancen zu ergreifen. Doch nach dem Abschluss verlieren sich viele Kontakte, und mit der Schließung von Einrichtungen des zweiten Bildungswegs schwindet oft auch das Gefühl der Zugehörigkeit. Unser Alumni-Portal setzt genau hier an. Es bietet eine Plattform für Vernetzung, Austausch und Inspiration – nicht aus kommerziellen Interessen, sondern allein aus dem Antrieb heraus, Bildung als ein gemeinschaftliches Gut zu erhalten.
                </p>
                <h4>Die Bedeutung eines Alumni-Portals für den zweiten Bildungsweg</h4>
                <p>
                    Die Schullandschaft in Deutschland verändert sich stetig. Leider sind Einrichtungen des zweiten Bildungswegs immer wieder von Schließungen bedroht, obwohl sie eine essenzielle Rolle für Bildungsdurchlässigkeit und Chancengleichheit spielen. Unser Portal will nicht nur Kontakte erhalten, sondern auch ein Zeichen setzen. Es soll deutlich machen, dass Lernen keine Frage des Alters ist und dass jeder Mensch die Möglichkeit haben sollte, seinen Bildungsweg frei zu gestalten. Durch den Austausch zwischen ehemaligen Lernenden und Lehrkräften bleibt das Wissen erhalten, Erfahrungen werden weitergegeben und Netzwerke entstehen, die über den Schulbesuch hinausreichen.
                </p>
                <p>
                    Das Alumni-Portal bietet Raum für persönliche Geschichten und Einblicke in die Bildungsbiografien derjenigen, die den zweiten Bildungsweg gewählt haben. Erfahrungsberichte zeigen, welche Herausforderungen gemeistert wurden und welche Perspektiven sich nach dem Abschluss eröffneten. Auch Lehrkräfte kommen zu Wort, um ihre Sicht auf die Bedeutung des zweiten Bildungswegs zu teilen. Neben der Vernetzung dient das Portal auch als Informationsquelle zu bildungspolitischen Entwicklungen, die die Zukunft dieser wichtigen Bildungssäule beeinflussen.
                </p>
                <h4>Ein Netzwerk, das verbindet</h4>
                <p>
                    Das Alumni-Portal lebt von der Beteiligung seiner Mitglieder. Jeder, der den zweiten Bildungsweg beschritten hat oder sich für dessen Erhalt engagieren möchte, ist eingeladen, Teil dieser Gemeinschaft zu werden. Die Plattform bietet die Möglichkeit, Kontakte zu pflegen, neue berufliche Chancen zu entdecken und sich für die Stärkung des zweiten Bildungswegs einzusetzen. So bleibt nicht nur der Geist der Erwachsenenbildung lebendig, sondern es wird auch ein starkes Zeichen für mehr Bildungsgerechtigkeit gesetzt. Denn der zweite Bildungsweg endet nicht mit dem Abschluss – er beginnt dort erst richtig.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
