{% extends 'base.html.twig' %}

{% block title %}Almuni Portal{% endblock %}

{% block body %}

    <div class="container">
        <div class="row my-5">
            <div class="col">
                <div class="card card-body text-bg-light border-0 h-100">
                    <h3>Aktuelles Hauptthema</h3>
                    <p>Kurzbeschreibung bzw. Foto-Hintergrund</p>
                    <a href="{{ path('app_index') }}" class="card-link stretched-link text-decoration-none link-dark fs-3 mt-5">weiterlesen >>></a>
                </div>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3 align-content-stretch">
            <div class="col">
                <div class="card card-body text-bg-primary border-0 h-100">
                    <div class="text-uppercase small">podcast</div>
                    <h3>Blog-Post 1</h3>
                    <p>Kurzbeschreibung</p>
                    <a href="{{ path('app_index') }}" class="card-link stretched-link text-decoration-none link-white  fs-3 mt-5">weiterlesen >>></a>
                </div>
            </div>
            <div class="col">
                <div class="card card-body text-bg-secondary border-0 h-100">
                    <div class="text-uppercase small">erfahrungsbericht</div>
                    <h3>Blog-Post 2</h3>
                    <p>Kurzbeschreibung</p>
                    <a href="{{ path('app_index') }}" class="card-link stretched-link text-decoration-none link-black fs-3 mt-5">weiterlesen >>></a>
                </div>
            </div>
            <div class="col">
                <div class="card card-body text-bg-primary border-0 h-100">
                    <div class="text-uppercase small">fotostrecke</div>
                    <h3>Blog-Post 3</h3>
                    <p>Kurzbeschreibung</p>
                    <a href="{{ path('app_index') }}" class="card-link stretched-link text-decoration-none link-white fs-3 mt-5">weiterlesen >>></a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8">
                <h2 class="mb-3 mt-5 h4 fw-normal">Aktuelle Meldungen</h2>
                <div class="row row-cols-1 row-cols-lg-2 g-3 align-content-stretch">
                    <div class="col">
                        <div class="card card-body text-bg-light border-0 h-100">
                            <h3>Blog-Post 1</h3>
                            <p>Kurzbeschreibung mit Foto</p>
                            <a href="{{ path('app_index') }}" class="card-link stretched-link text-decoration-none link-black fs-3 mt-5">weiterlesen >>></a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card card-body text-bg-light border-0 h-100">
                            <h3>Blog-Post 2</h3>
                            <p>Kurzbeschreibung mit Foto</p>
                            <a href="{{ path('app_index') }}" class="card-link stretched-link text-decoration-none link-black fs-3 mt-5">weiterlesen >>></a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card card-body text-bg-light border-0 h-100">
                            <h3>Blog-Post 3</h3>
                            <p>Kurzbeschreibung mit Foto</p>
                            <a href="{{ path('app_index') }}" class="card-link stretched-link text-decoration-none link-black fs-3 mt-5">weiterlesen >>></a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card card-body text-bg-light border-0 h-100">
                            <h3>Blog-Post 4</h3>
                            <p>Kurzbeschreibung mit Foto</p>
                            <a href="{{ path('app_index') }}" class="card-link stretched-link text-decoration-none link-black fs-3 mt-5">weiterlesen >>></a>
                        </div>
                    </div>
                </div>
                <a href="#" class="btn btn-secondary btn-lg mt-3">Weitere Meldungen</a>
            </div>
            <div class="col-12 col-lg-4">
                <h2 class="mb-3 mt-5 h4 fw-normal">Nächste Veranstaltungen</h2>
                <div class="d-flex flex-column">
                    <div class="mb-2 pb-2 border-bottom">
                        <div class="fw-bold">22.06.2025</div>
                        <a href="#" class="fs-4 link-primary text-decoration-none">Sommerfest der Alumni am Gymnasium 09Y12</a>
                    </div>
                    <div class="mb-2 pb-2 border-bottom">
                        <div class="fw-bold">13.12.2025</div>
                        <a href="#" class="fs-4 link-primary text-decoration-none">Vorstandssitzung</a>
                    </div>
                </div>
                <a href="#" class="btn btn-secondary btn-lg mt-3">Weitere Termine</a>
            </div>
        </div>
    </div>


{% endblock %}
