{% extends 'base.html.twig' %}

{% block title %}Almuni Portal{% endblock %}


{% block page_header %}
        <div class="row mb-5">
            {% if lead %}
            <div class="col">
                <div class="card text-white shadow-sm h-100">
                    <img class="card-img d-none d-md-block" src="{{ vich_uploader_asset(lead)|imagine_filter('lead_thumbnail')  }}" alt="{{ lead }}" style="filter: brightness(80%);">
                    <img class="card-img d-block d-md-none" src="{{ vich_uploader_asset(lead)|imagine_filter('post_thumbnail')  }}" alt="{{ lead }}" style="filter: brightness(80%);">
                    <div class="card-img-overlay h-100 align-content-end">
                        <div class="text-uppercase small card-text">{{ lead.type }}</div>
                        <h3 class="fw-normal h2 mb-0">{{ lead.title }}</h3>
                        <p class="card-text lead d-none d-md-block fw-bolder">{{ lead.subtitle }}</p>
                        <a href="{{ path('blog_show',{'slug':lead.slug}) }}" class="card-link stretched-link text-decoration-none link-white fs-5">mehr erfahren <i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3 align-content-stretch">
            {% if podcast %}
            <div class="col">
                <div class="card card-body shadow-sm bg-white border-primary h-100">
                    <div class="text-uppercase small">{{ podcast.type }}</div>
                    <h3 class="text-primary fw-normal">{{ podcast.title }}</h3>
                    <p>Neuer Podcast online</p>
                    <a href="{{ path('blog_show',{'slug':podcast.slug}) }}" class="card-link stretched-link text-decoration-none link-black mt-auto fs-5">anhören <i class="fas fa-chevron-right"></i></a>
                </div>
            </div>
            {% endif %}
            {% if interview %}
            <div class="col">
                <div class="card card-body shadow-sm bg-white border-primary h-100">
                    <div class="text-uppercase small">{{ interview.type }}</div>
                    <h3 class="text-primary fw-normal">{{ interview.title }}</h3>
                    <p>{{ interview.title }}</p>
                    <a href="{{ path('blog_show',{'slug':interview.slug}) }}" class="card-link stretched-link text-decoration-none link-black mt-auto fs-5">lesen <i class="fas fa-chevron-right"></i></a>
                </div>
            </div>
            {% endif %}
            {% if blog_post %}
            <div class="col">
                <div class="card card-body shadow-sm text-bg-primary border-0 h-100">
                    <div class="text-uppercase small">{{ blog_post.type }}</div>
                    <h3 class="text-light fw-normal">{{ blog_post.title }}</h3>
                    <p>Aktueller Themenbeitrag</p>
                    <a href="{{ path('blog_show',{'slug':blog_post.slug}) }}" class="card-link stretched-link text-decoration-none link-white mt-auto fs-5">lesen <i class="fas fa-chevron-right"></i></a>
                </div>
            </div>
            {% endif %}
        </div>
{% endblock %}
{% block body %}
        <div class="row">
            <div class="col">
                <h2 class="mb-5 mt-5 fs-3 fw-light text-muted">Aktuelle Meldungen</h2>
                <div class="row row-cols-1 row-cols-lg-2 g-3 align-content-stretch">
                    {% for post in posts %}
                        {% if post.isPublished %}
                        <div class="col">
                            <div class="card border-0 bg-transparent mb-2 pb-2 border-bottom h-100">
                                {% if post.image %}
                                    <img src="{{ vich_uploader_asset(post)|imagine_filter('post_thumbnail')  }}" alt="{{ post }}" class="img-fluid mb-2">
                                    <div class="mb-0"><span class="fw-bold">{{ post.updatedAt|date('d.m.Y') }}</span> <span class="text-uppercase">{{ post.type }}</span></div>
                                    <a href="{{ path('blog_news_show',{'slug':post.slug}) }}" class="fs-3 card-link link-primary stretched-link text-decoration-none">{{ post }}</a>
                                {% else %}
                                    <a href="{{ path('blog_news_show',{'slug':post.slug}) }}" class="fs-3 card-link link-primary stretched-link text-decoration-none">{{ post }}</a>
                                    <div class="mb-0"><span class="fw-bold">{{ post.updatedAt|date('d.m.Y') }}</span> {{ post.type }}</div>
                                    <div class="d-block text-truncate text-wrap">{{ post.content|striptags|u.truncate(150) }} ...</div>
                                {% endif %}
                            </div>
                        </div>
                        {% endif %}
                    {% else %}
                        <div class="col">
                            Aktuell sind keine Meldungen vorhanden
                        </div>
                    {% endfor %}
                </div>
                <a href="{{ url('blog_news_index') }}" class="btn btn-outline-primary btn-lg mt-5">Weitere Meldungen</a>
            </div>
        </div>
{% endblock %}

{% block aside %}
    <h2 class="mb-5 mt-5 fs-3 fw-light text-muted">Nächste Veranstaltungen</h2>
    <div class="d-flex flex-column">
        {% for event in events|sort((a, b) => a.startDate <=> b.startDate) %}
            {% if event.endDate|date('Ymd') >= date('now')|date('Ymd')%}
            <div class="mb-2 pb-2 border-bottom d-flex flex-column">
                <div class="fw-bold">{{ event.startDate|date('d.m.Y') }}</div>
                <a href="{{ url('event_show',{'slug':event.slug}) }}" class="fs-4 link-primary text-decoration-none">{{ event.title }}</a>
                <small>{{ event.location }}</small>
            </div>
            {% endif %}
        {% else %}
            <div class="mb-2 pb-2 border-bottom">
                Aktuell sind keine Veranstaltungen geplant
            </div>
        {% endfor %}
    </div>
    <a href="{{ url('event_index') }}" class="btn btn-outline-primary btn-lg mt-5">Weitere Termine</a>
{% endblock %}
