{% extends 'base.html.twig' %}

{% block title %}Almuni Portal{% endblock %}

{% block body %}

    <div class="container">
        <div class="row g-3">
            <div class="col-12 col-md-8">
                <h1 class="h3">Alumni-Portal des Treptow-Kollegs Berlin</h1>
                <p class="lead">
                    Hier entsteht das Alumni-Portal für alle Alumni und Lehrkräfte des Kollegs zur Erhaltung und Pflege eines
                    Kompetenznetzwerks.
                </p>
                <a href="https://www.treptow-kolleg.de" target="_blank" class="btn btn-lg btn-secondary mt-5">Weiter zum Treptow-Kolleg Berlin<i class="ms-2 fa fa-chevron-right"></i></a>
            </div>
            <div class="col-12 col-md-4">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
                <p class="">
                    Bleib auf dem Laufenden und trage dich schon jetzt für den Alumni-Newsletter ein.
                </p>
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-12 mb-3">
                        {{ form_widget(form.email) }}
                    </div>
                    <div class="col-12" id="some-custom-id">
                        {{ form_row(form.submit) }}
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}
