{% extends '_full.html.twig' %}

{% set meta_title = 'Alumni-Portal' %}
{% set meta_subtitle = 'Suchergebnisse' %}
{% set meta_description = 'Blog-Beiträge, News und Veranstaltungen finden.' %}

{% set seo_title = 'Blog-Beiträge, News und Veranstaltungen finden' %}

{% set sidebar = 'index' %}

{% block page_header %}
<section class="py-5">
    <div class="container">
        <div class="row g-3">
            <div class="col-12 mb-3">
                {{ render(controller('App\\Controller\\AppController::searchForm')) }}
            </div>
            <div class="col-12">
                <h3 class="h5 fw-normal">{{ results|length }} Suchergebnisse für <span class="fst-italic fw-bold">{{ search }}</span></h3>
            </div>
            {% for result in results %}
                <div class="col-12">
                    <div class="card card-body">
                        <div class="text-uppercase">{{ result.type.title }}</div>
                        <a href="{{ url('blog_show',{'slug':result.slug}) }}" class="fs-4 stretched-link text-decoration-none">{{ result.title }}</a>
                        <p>{{ result.content|striptags|slice(0,124) }}...</p>
                    </div>
                </div>
            {% else %}
                <div>Keine Ergebnisse gefunden</div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}

{% block body %}{% endblock %}

{% block aside %}{% endblock %}
