{% extends 'base.html.twig' %}

{% block title %}Profilbild aktualisieren{% endblock %}

{% block page_header %}
    <nav class="bg-transparent" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url('app_index') }}">treptowkolleg.de</a></li>
            <li class="breadcrumb-item"><a href="{{ url('profile_index') }}">Mein Bereich</a></li>
            <li class="breadcrumb-item active fw-bolder" aria-current="page">Mein Profilbild</li>
        </ol>
    </nav>

    <h1 class="h3">Profil bearbeiten</h1>
    <h2 class="h5 text-primary mb-3">Profilbild aktualisieren</h2>
{% endblock %}
{% block body %}
    {{ form_start(form, { 'attr': {'novalidate':'novalidate'} }) }}
    {{ form_errors(form) }}

    <div class="mb-3">
        {% if app.user.image.name %}
            <img src="{{ vich_uploader_asset(app.user)|imagine_filter('avatar')  }}" class="img-fluid img-thumbnail" alt="...">
        {% else %}
            <img src="{{ asset('images/avatar_no_text.svg') }}" class="img-fluid img-thumbnail" alt="...">
        {% endif %}
    </div>

    <div class="mb-5">
        {{ form_row(form.imageFile) }}
    </div>

    <button type="submit" class="btn btn-primary">Speichern</button> <a href="{{ path('profile_index') }}" class="btn btn-light ms-2">Abbrechen</a>
    {{ form_end(form) }}
{% endblock %}
{% block aside %}

{% endblock %}

