{% extends '_full.html.twig' %}

{% set meta_title = 'Mein Portal' %}
{% set meta_subtitle = 'Avatar' %}
{% set sidebar = 'profile-image' %}

{% block page_header %}
<section class=" py-3">
    <div class="container">

        {{ include('component/profile_subbar.html.twig',{'selected':'image'}) }}

        {{ form_start(form, { 'attr': {'novalidate':'novalidate'} }) }}

        <div class="row">
            <div class="col-12">
                {% if form.file.vars.errors is not empty %}
                    <div class="form-errors">
                        {% for error in form.file.vars.errors %}
                            <p class="error">{{ error.message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="row g-3">
            <div class="col-lg-4">
                {% if app.user.image.name %}
                    <img src="{{ vich_uploader_asset(app.user)|imagine_filter('avatar')  }}" class="img-fluid w-100 img-thumbnail" alt="{{ app.user.lastname }}-avatar">
                {% else %}
                    <img src="{{ asset('images/avatar_no_text.svg') }}" class="img-fluid w-100 img-thumbnail" alt="{{ app.user.lastname }}-avatar">
                {% endif %}
            </div>
            <div class="col-lg-8">
                <div class="col-lg-12" id="section-school">
                    <div class="card bg-white">
                        <div class="card-body  border-bottom border-primary">
                            <h3 class="h5 mb-0 text-center text-lg-start">Avatar</h3>
                        </div>
                        <div class="card-body">
                            <div class="row row-cols-1 g-3 mb-3">
                                {{ form_row(form.imageFile) }}
                            </div>
                            <div class="">
                                <div class="row g-3">
                                    <div class="col-lg-6"><button type="submit" class="btn btn-primary w-100">Speichern</button></div>
                                    <div class="col-lg-6"><a href="{{ path('profile_index') }}" class="btn btn-light w-100">Abbrechen</a></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        {{ form_end(form) }}

    </div>
</section>
{% endblock %}
{% block body %}

{% endblock %}
{% block aside %}

{% endblock %}

