{% extends '_full.html.twig' %}

{% set meta_title = 'Mein Bereich' %}
{% set meta_subtitle = 'Übersicht' %}
{% set sidebar = 'profile-index' %}

{% block page_header %}
<section class=" py-3">

    <div class="container">
        <div class="mb-3">
            <div class="nav nav-underline">
                {% if is_granted('ROLE_USER') %}
                    <a href="{{ path('profile_index') }}" class="nav-item nav-link active text-nowrap">
                        <i class="fa-solid fa-dashboard text-primary"></i>
                        <span class="ms-1 d-none d-lg-inline">Übersicht</span>
                    </a>
                    <a href="{{ path('profile_profile_new') }}" class="nav-item nav-link text-nowrap">
                        <i class="fa-solid fa-user text-primary"></i>
                        <span class="ms-1 d-none d-lg-inline">Profil</span>
                    </a>
                    <a href="{{ path('chat_index') }}" class="nav-item nav-link text-nowrap">
                        <i class="fa-solid fa-envelope text-primary"></i>
                        <span class="ms-1 d-none d-lg-inline">Postfach</span>
                    </a>
                {% endif %}
                {% if is_granted('ROLE_AUTHOR') %}
                    <a href="{{ path('authoring_blogpost_new') }}" class="nav-item nav-link text-nowrap ms-auto">
                        <i class="fa-solid fa-file-circle-plus text-primary"></i>
                        <span class="ms-1 d-none d-lg-inline">Artikel</span>
                    </a>
                    <a href="{{ path('authoring_event_new') }}" class="nav-item nav-link text-nowrap">
                        <i class="fa-solid fa-calendar-plus text-primary"></i>
                        <span class="ms-1 d-none d-lg-inline">Event</span>
                    </a>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('admin_user_index') }}" class="nav-item nav-link text-nowrap">
                        <i class="fa-solid fa-users text-primary"></i>
                        <span class="ms-1 d-none d-lg-inline">Rollen</span>
                    </a>
                {% endif %}
            </div>
        </div>

        <div class="row g-1 mb-3 align-content-stretch">

            <div class="col-12 col-lg-4 bg-white">
                <div class="slim-form mt-4 h-100">
                    <label class="pt-2" for="opt">Schule</label>
                    <select class="slim-select-multi-school custom-select" multiple id="opt">
                        <option>Treptow-Kolleg</option>
                        <option>Kolleg Schöneberg</option>
                        <option>Charlotte-Wolff-Kolleg</option>
                    </select>
                </div>
            </div>

            <div class="col-12 col-lg-4 bg-white">
                <div class="slim-form mt-4 h-100">
                    <label for="opt" class="pt-2">Leistungskurs</label>
                    <select class="slim-select-multi-school custom-select" multiple id="opt">
                        <option>Informatik</option>
                        <option>B</option>
                        <option>C</option>
                    </select>
                </div>
            </div>

            <div class="col-6 col-lg-2 bg-white">
                <div class="slim-form mt-4 h-100">
                    <label for="opt" class="pt-2">Startjahr</label>
                    <select class="slim-select-single-school custom-select" id="opt">
                        <option>2024</option>
                        <option>B</option>
                        <option>C</option>
                    </select>
                </div>
            </div>

            <div class="col-6 col-lg-2 bg-white">
                <div class="slim-form mt-4 h-100">
                    <label for="opt" class="pt-2">Abgangsjahr</label>
                    <select class="slim-select-single-school custom-select" id="opt">
                        <option>2024</option>
                        <option>B</option>
                        <option>C</option>
                    </select>
                </div>
            </div>


        </div>

    </div>

    <div class="container">



    {% if not app.user.isVerified %}
        <div class="alert alert-light">
            <h5>E-Mail-Adresse bestätigen!</h5>
            <p>Schaue bitte auch in deinem Spam-Ordner nach, solltest du keine E-Mail erhalten haben.</p>
            <a class="btn btn-outline-primary" href="{{ url('app_confirm') }}">Erneut E-Mail zur Verifizierung senden</a>
            <div class="small mt-4">Bei bestehenden Problemen bitte eine E-Mail an <a href="mailto:alumniportal@treptowkolleg.de">alumniportal@treptowkolleg.de</a> senden, um eine manuelle Verifizierung vorzunehmen.</div>
        </div>

    {% else %}
        <div class="row g-3 align-content-stretch">

            <div class="col-12">
                <div class="card bg-white">
                    <div class="card-body  border-bottom border-primary">
                        <h3 class="h5 text-center text-lg-start">Erste Schritte</h3>
                        <p class="card-text">Bitte richte deinen Account vollständig ein, um alle Bereiche des Alumni-Portals nutzen zu können.</p>
                    </div>
                    <div class="list-group list-group-flush">
                        <a href="#" class="list-group-item list-group-item-action link-primary fw-bold d-flex  align-items-center justify-content-between">
                            <div><i class="fa-solid fa-fw fa-1 me-2"></i>E-Mail-Adresse verifizieren</div>
                            <i class="fa-solid fa-chevron-right"></i>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action text-muted disabled d-flex align-items-center justify-content-between">
                            <div><i class="fa-solid fa-fw fa-2 me-2"></i>Alumni-Profil einrichten</div>
                            <i class="fa-solid fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
                <small class="ms-3 text-muted">Wird angezeigt, falls E-Mail-Adresse und/oder Profil noch nicht aktiviert sind.</small>
            </div>

            <div class="col-lg-4 order-3 order-lg-0">
                <div class="card bg-white h-100">
                    <div class="card-body  border-bottom border-primary">
                        <h3 class="h5 mb-0 text-center text-lg-start">Kontakte</h3>
                    </div>
                    <div class="list-group list-group-flush border-bottom-0">
                        {% for person in app.user.userprofiles.first.friends %}
                            <div class="list-group-item list-group-item-action d-flex align-items-center justify-content-between">
                                <div><a href="#" class="text-decoration-none fw-bold">{{ person }}</a></div>
                                <div class="d-flex justify-content-end align-items-center flex-wrap">
                                    <a href="#" class="btn btn-link pe-0"><i class="fa-solid fa-star text-secondary"></i></a>
                                    <a href="#" class="btn btn-link pe-0"><i class="fa-regular fa-paper-plane"></i></a>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="list-group-item list-group-item-action d-flex align-items-center justify-content-between">
                            <div><a href="#" class="text-decoration-none fw-bold">Peter</a></div>
                            <div class="d-flex justify-content-end align-items-center flex-wrap">
                                <a href="#" class="btn btn-link pe-0"><i class="fa-regular fa-star"></i></a>
                                <a href="#" class="btn btn-link pe-0"><i class="fa-regular fa-paper-plane"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="h-100"></div>
                    <div class="list-group list-group-flush">
                        <a href="#" class="list-group-item list-group-item-action link-primary fw-bold d-flex align-items-center justify-content-between">
                            <div>weitere Personen finden</div>
                            <i class="fa-solid fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
                <small class="ms-3 text-muted">Als Bekannte markierte Personen</small>
            </div>

            <div class="col-lg-8 order-0 order-lg-3">
                <div class="card bg-white">
                    <div class="card-body border-bottom border-primary">
                        <h3 class="h5 mb-0 text-center text-lg-start">Veranstaltungen</h3>
                    </div>
                    <div class="list-group list-group-flush border-bottom-0">

                        <div class="list-group-item list-group-item-action d-flex align-items-center justify-content-between">
                            <div class="d-flex flex-wrap align-items-center">
                                <div class="me-2" style="min-width: 100px">23.07.2025</div>
                                <div><a href="#" class="text-decoration-none">{{ 'Name der Veranstaltung'}}</a></div>
                            </div>
                            <div class="d-flex justify-content-end align-items-center flex-wrap">
                                <a href="#" class="btn btn-link pe-0" data-bs-toggle="tooltip" data-bs-title="nicht von dir abonniert"><i class="fa-regular fa-fw fa-star"></i></a>
                                <a href="#" class="btn btn-link pe-0" data-bs-toggle="tooltip"  data-bs-title="von Bekannten abonniert"><i class="fa-solid fa-fw fa-user"></i></a>
                            </div>
                        </div>

                        <div class="list-group-item list-group-item-action d-flex align-items-center justify-content-between">
                            <div class="d-flex flex-wrap align-items--center">
                                <div class="me-2" style="min-width: 100px">23.07.2025</div>
                                <div><a href="#" class="text-decoration-none">{{ 'Name der Veranstaltung'}}</a></div>
                            </div>
                            <div class="d-flex justify-content-end align-items-center flex-wrap">
                                <a href="#" class="btn btn-link pe-0" data-bs-toggle="tooltip" data-bs-title="von dir abonniert"><i class="fa-solid fa-fw fa-star text-secondary"></i></a>
                                <a href="#" class="btn btn-link pe-0" data-bs-toggle="tooltip"  data-bs-title="von Bekannten abonniert"><i class="fa-solid fa-fw fa-user"></i></a>
                            </div>
                        </div>

                        <div class="list-group-item list-group-item-action d-flex align-items-center justify-content-between">
                            <div class="d-flex flex-wrap align-items--center">
                                <div class="me-2" style="min-width: 100px">23.07.2025</div>
                                <div><a href="#" class="text-decoration-none">{{ 'Name der Veranstaltung'}}</a></div>
                            </div>
                            <div class="d-flex justify-content-end align-items-center flex-wrap">
                                <a href="#" class="btn btn-link pe-0" data-bs-toggle="tooltip" data-bs-title="von dir abonniert"><i class="fa-solid fa-fw fa-star text-secondary"></i></a>
                                <a href="#" class="btn btn-link pe-0" data-bs-toggle="tooltip"  data-bs-title="nicht von Bekannten abonniert"><i class="fa-regular fa-fw fa-user"></i></a>
                            </div>
                        </div>

                        <div class="list-group-item list-group-item-action d-flex align-items-center justify-content-between">
                            <div class="d-flex flex-wrap align-items--center">
                                <div class="me-2" style="min-width: 100px">23.07.2025</div>
                                <div><a href="#" class="text-decoration-none">{{ 'Name der Veranstaltung'}}</a></div>
                            </div>
                            <div class="d-flex justify-content-end align-items-center flex-wrap">
                                <a href="#" class="btn btn-link pe-0" data-bs-toggle="tooltip" data-bs-title="von dir abonniert"><i class="fa-solid fa-fw fa-star text-secondary"></i></a>
                                <a href="#" class="btn btn-link pe-0" data-bs-toggle="tooltip"  data-bs-title="nicht von Bekannten abonniert"><i class="fa-regular fa-fw fa-user"></i></a>
                            </div>
                        </div>

                        <div class="list-group-item list-group-item-action d-flex align-items-center justify-content-between">
                            <div class="d-flex flex-wrap align-items--center">
                                <div class="me-2" style="min-width: 100px">23.07.2025</div>
                                <div><a href="#" class="text-decoration-none">{{ 'Name der Veranstaltung'}}</a></div>
                            </div>
                            <div class="d-flex justify-content-end align-items-center flex-wrap">
                                <a href="#" class="btn btn-link pe-0" data-bs-toggle="tooltip" data-bs-title="von dir abonniert"><i class="fa-solid fa-fw fa-star text-secondary"></i></a>
                                <a href="#" class="btn btn-link pe-0" data-bs-toggle="tooltip"  data-bs-title="nicht von Bekannten abonniert"><i class="fa-regular fa-fw fa-user"></i></a>
                            </div>
                        </div>

                    </div>
                    <div class="h-100"></div>
                    <div class="list-group list-group-flush">
                        <a href="#" class="list-group-item list-group-item-action link-primary fw-bold d-flex align-items-center justify-content-between">
                            <div>weitere Termine finden</div>
                            <i class="fa-solid fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
                <small class="ms-3 text-muted mb-3">Termine, die ich oder meine Bekannte abonniert haben.</small>
            </div>

        </div>

        </div>



        </section>
    {% endif %}

{% endblock %}

{% block body %}{% endblock %}

{% block aside %}{% endblock %}