{% extends '_full.html.twig' %}

{% set meta_title = 'Mein Portal' %}
{% set meta_subtitle = 'Übersicht' %}
{% set sidebar = 'profile-index' %}

{% block page_header %}
<section class=" py-3">
    <div class="container">
        {{ include('component/profile_subbar.html.twig',{'selected':'index'}) }}
        <div class="row g-3 align-content-stretch">
            {% if not app.user.isVerified or not app.user.userProfiles.count > 0 %}
                <div class="col-12">
                    <div class="card bg-white">
                        <div class="card-body  border-bottom border-primary">
                            <h3 class="h5 text-center text-lg-start">Erste Schritte</h3>
                            <p class="card-text">Bitte richte deinen Account vollständig ein, um alle Bereiche des Alumni-Portals nutzen zu können.</p>
                        </div>
                        <div class="list-group list-group-flush">
                            <a href="{{ url('app_confirm') }}" class="list-group-item list-group-item-action {{ app.user.isVerified ? 'disabeld' : '' }} link-primary fw-bold d-flex  align-items-center justify-content-between">
                                <div><i class="fa-solid fa-fw fa-1 me-2"></i>E-Mail-Adresse verifizieren</div>
                                <i class="fa-solid fa-{{ app.user.isVerified ? 'check text-success' : 'chevron-right' }}"></i>
                            </a>
                            <a href="{{ url('profile_profile_new') }}" class="list-group-item list-group-item-action  {{ app.user.isVerified ? '' : 'disabeld text-muted' }} d-flex align-items-center justify-content-between">
                                <div><i class="fa-solid fa-fw fa-2 me-2"></i>Alumni-Profil einrichten</div>
                                <i class="fa-solid fa-chevron-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if app.user.isVerified and app.user.userProfiles %}
                <div class="col-lg-4 order-3 order-lg-0">
                    <div class="card bg-white h-100">
                        <div class="card-body  border-bottom border-primary">
                            <h3 class="h5 mb-0 text-center text-lg-start">Kontakte</h3>
                        </div>
                        <div class="list-group list-group-flush border-bottom-0">
                            {% for person in app.user.userprofiles.first.friends %}
                                <div class="list-group-item list-group-item-action d-flex align-items-center justify-content-between">
                                    <div><a href="#" class="text-decoration-none fw-bold">{{ person }}</a></div>
                                    <div class="d-flex justify-content-end align-items-center flex-wrap">
                                        <a href="#" class="btn btn-link pe-0"><i class="fa-solid fa-star text-secondary"></i></a>
                                        <a href="#" class="btn btn-link pe-0"><i class="fa-regular fa-paper-plane"></i></a>
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="list-group-item list-group-item-action d-flex align-items-center justify-content-between">
                                <div><a href="#" class="text-decoration-none fw-bold">Peter</a></div>
                                <div class="d-flex justify-content-end align-items-center flex-wrap">
                                    <a href="#" class="btn btn-link pe-0"><i class="fa-regular fa-star"></i></a>
                                    <a href="#" class="btn btn-link pe-0"><i class="fa-regular fa-paper-plane"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="h-100"></div>
                        <div class="list-group list-group-flush">
                            <a href="#" class="list-group-item list-group-item-action link-primary fw-bold d-flex align-items-center justify-content-between">
                                <div>weitere Personen finden</div>
                                <i class="fa-solid fa-chevron-right"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8 order-0 order-lg-3">
                    <div class="card bg-white">
                        <div class="card-body border-bottom border-primary">
                            <h3 class="h5 mb-0 text-center text-lg-start">Veranstaltungen</h3>
                        </div>
                        <div class="list-group list-group-flush border-bottom-0">

                            <div class="list-group-item list-group-item-action d-flex align-items-center justify-content-between">
                                <div class="d-flex flex-wrap align-items-center">
                                    <div class="me-2" style="min-width: 100px">23.07.2025</div>
                                    <div><a href="#" class="text-decoration-none">{{ 'Name der Veranstaltung'}}</a></div>
                                </div>
                                <div class="d-flex justify-content-end align-items-center flex-wrap">
                                    <a href="#" class="btn btn-link pe-0" data-bs-toggle="tooltip" data-bs-title="nicht von dir abonniert"><i class="fa-regular fa-fw fa-star"></i></a>
                                    <a href="#" class="btn btn-link pe-0" data-bs-toggle="tooltip"  data-bs-title="von Bekannten abonniert"><i class="fa-solid fa-fw fa-user"></i></a>
                                </div>
                            </div>

                            <div class="list-group-item list-group-item-action d-flex align-items-center justify-content-between">
                                <div class="d-flex flex-wrap align-items--center">
                                    <div class="me-2" style="min-width: 100px">23.07.2025</div>
                                    <div><a href="#" class="text-decoration-none">{{ 'Name der Veranstaltung'}}</a></div>
                                </div>
                                <div class="d-flex justify-content-end align-items-center flex-wrap">
                                    <a href="#" class="btn btn-link pe-0" data-bs-toggle="tooltip" data-bs-title="von dir abonniert"><i class="fa-solid fa-fw fa-star text-secondary"></i></a>
                                    <a href="#" class="btn btn-link pe-0" data-bs-toggle="tooltip"  data-bs-title="von Bekannten abonniert"><i class="fa-solid fa-fw fa-user"></i></a>
                                </div>
                            </div>

                            <div class="list-group-item list-group-item-action d-flex align-items-center justify-content-between">
                                <div class="d-flex flex-wrap align-items--center">
                                    <div class="me-2" style="min-width: 100px">23.07.2025</div>
                                    <div><a href="#" class="text-decoration-none">{{ 'Name der Veranstaltung'}}</a></div>
                                </div>
                                <div class="d-flex justify-content-end align-items-center flex-wrap">
                                    <a href="#" class="btn btn-link pe-0" data-bs-toggle="tooltip" data-bs-title="von dir abonniert"><i class="fa-solid fa-fw fa-star text-secondary"></i></a>
                                    <a href="#" class="btn btn-link pe-0" data-bs-toggle="tooltip"  data-bs-title="nicht von Bekannten abonniert"><i class="fa-regular fa-fw fa-user"></i></a>
                                </div>
                            </div>

                            <div class="list-group-item list-group-item-action d-flex align-items-center justify-content-between">
                                <div class="d-flex flex-wrap align-items--center">
                                    <div class="me-2" style="min-width: 100px">23.07.2025</div>
                                    <div><a href="#" class="text-decoration-none">{{ 'Name der Veranstaltung'}}</a></div>
                                </div>
                                <div class="d-flex justify-content-end align-items-center flex-wrap">
                                    <a href="#" class="btn btn-link pe-0" data-bs-toggle="tooltip" data-bs-title="von dir abonniert"><i class="fa-solid fa-fw fa-star text-secondary"></i></a>
                                    <a href="#" class="btn btn-link pe-0" data-bs-toggle="tooltip"  data-bs-title="nicht von Bekannten abonniert"><i class="fa-regular fa-fw fa-user"></i></a>
                                </div>
                            </div>

                            <div class="list-group-item list-group-item-action d-flex align-items-center justify-content-between">
                                <div class="d-flex flex-wrap align-items--center">
                                    <div class="me-2" style="min-width: 100px">23.07.2025</div>
                                    <div><a href="#" class="text-decoration-none">{{ 'Name der Veranstaltung'}}</a></div>
                                </div>
                                <div class="d-flex justify-content-end align-items-center flex-wrap">
                                    <a href="#" class="btn btn-link pe-0" data-bs-toggle="tooltip" data-bs-title="von dir abonniert"><i class="fa-solid fa-fw fa-star text-secondary"></i></a>
                                    <a href="#" class="btn btn-link pe-0" data-bs-toggle="tooltip"  data-bs-title="nicht von Bekannten abonniert"><i class="fa-regular fa-fw fa-user"></i></a>
                                </div>
                            </div>

                        </div>
                        <div class="h-100"></div>
                        <div class="list-group list-group-flush">
                            <a href="#" class="list-group-item list-group-item-action link-primary fw-bold d-flex align-items-center justify-content-between">
                                <div>weitere Termine finden</div>
                                <i class="fa-solid fa-chevron-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</section>

{% endblock %}

{% block body %}{% endblock %}

{% block aside %}{% endblock %}