{% extends '_full.html.twig' %}

{% set meta_title = 'Mein Portal' %}
{% set meta_subtitle = 'Übersicht' %}
{% set sidebar = 'profile-index' %}

{% set seo_title = 'Mein Bereich' %}

{% block page_header %}
<section class=" py-3">
    <div class="container">
        {{ include('component/profile_subbar.html.twig',{'selected':'index'}) }}
        <div class="row g-3 align-content-stretch">
            {% if not app.user.isVerified or not app.user.userProfiles.count > 0 %}
                <div class="col-12">
                    <div class="card bg-light-subtle border-0 shadow-sm rounded rounded-2">
                        <div class="card-body  border-bottom border-primary">
                            <h3 class="h5 text-center text-lg-start">Erste Schritte</h3>
                            <p class="card-text">Bitte richte deinen Account vollständig ein, um alle Bereiche des Alumni-Portals nutzen zu können.</p>
                        </div>
                        <div class="list-group list-group-flush">
                            <a href="{{ url('app_confirm') }}" class="list-group-item list-group-item-action {{ app.user.isVerified ? 'disabled  text-muted' : 'link-primary fw-bold' }}  d-flex  align-items-center justify-content-between">
                                <div><i class="fa-solid fa-fw fa-1 me-2"></i>E-Mail-Adresse verifizieren</div>
                                <i class="fa-solid fa-{{ app.user.isVerified ? 'check text-success' : 'chevron-right' }}"></i>
                            </a>
                            <a href="{{ url('profile_profile_new') }}" class="list-group-item list-group-item-action  {{ app.user.isVerified ? 'link-primary fw-bold' : 'disabled text-muted' }} d-flex align-items-center justify-content-between">
                                <div><i class="fa-solid fa-fw fa-2 me-2"></i>Alumni-Profil einrichten</div>
                                <i class="fa-solid fa-chevron-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if app.user.isVerified and app.user.userProfiles.count > 0 %}

                <div class="col-12 order-0">
                    <div class="card bg-light-subtle border-0 shadow-sm rounded rounded-2">
                        <div class="card-body">
                            <a href="{{ url('people_show',{'slug':app.user.slug}) }}" class="stretched-link text-decoration-none d-flex align-items-center">
                                <i class="ti ti-user text-primary me-2"></i>
                                Mein Profil anzeigen
                                <i class="ti ti-chevron-right ms-auto"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 order-3 order-lg-0">
                    <div class="card bg-light-subtle border-0 shadow-sm rounded rounded-2 h-100">
                        <div class="card-body  border-bottom border-primary">
                            <h3 class="h6 mb-0 text-center text-lg-start">Kontakte</h3>
                        </div>
                        <div class="list-group list-group-flush bg-white border-bottom-0">
                            {% for chat in chats|sort %}
                                {% set message_unread = 0 %}
                                {% for message in chat.messages %}
                                    {% if message.sender != app.user and not message.isRead %}
                                        {% set message_unread = message_unread + 1 %}
                                    {% endif %}
                                {% endfor %}
                                {% if chat.owner == app.user %}
                                    {% if chat.participant.isContactable %}
                                        {{ include('component/_chat_list.html.twig',{'chat':chat, 'user':chat.participant, 'message':message_unread}) }}
                                    {% endif %}
                                {% else %}
                                    {% if chat.owner.isContactable %}
                                        {{ include('component/_chat_list.html.twig',{'chat':chat, 'user':chat.owner, 'message':message_unread}) }}
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                <div class="list-group-item">Noch keine Konversationen vorhanden.</div>
                            {% endfor %}
                        </div>
                        <div class="h-100 bg-white"></div>
                        <div class="list-group list-group-flush border-top border-bottom">
                            <a href="{{ url('people_index') }}" class="list-group-item list-group-item-action link-primary d-flex align-items-center justify-content-between">
                                <div>weitere Personen finden</div>
                                <i class="ti ti-chevron-right"></i>
                            </a>
                        </div>
                        <div class="card-body"></div>
                    </div>
                </div>

                <div class="col-12 col-lg-8 order-0 order-lg-3">
                    <div class="card bg-light-subtle border-0 shadow-sm rounded rounded-2 h-100">
                        <div class="card-header bg-light-subtle rounded-top-2">
                            <ul class="nav nav-tabs card-header-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active rounded-top-2" data-bs-toggle="tab" href="#a">
                                        <i class="ti ti-message-2 text-primary"></i>
                                        <span class="ms-1 d-none d-lg-inline">Plausche</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link rounded-top-2" data-bs-toggle="tab" href="#b">
                                        <i class="ti ti-roller-skating text-primary"></i>
                                        <span class="ms-1 d-none d-lg-inline">Hobbys</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane active" id="a">
                                <div class="list-group list-group-flush bg-white">
                                    {% for subject in groups %}
                                        <a href="{{ url('group_talk_show',{'slug':subject.slug}) }}" class="list-group-item list-group-item-action ripplelink swipe-link-start py-3">
                                            <span class="text-primary">{{ subject }}</span><br>
                                            <small>{{ subject.description }}</small>
                                        </a>
                                    {% else %}
                                        <div class="list-group-item py-3 d-flex justify-content-center align-items-center">
                                            Keine Elemente vorhanden
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="tab-pane" id="b">
                                {{ include('component/_hobby_list.html.twig',{'item':app.user.userProfiles.first}) }}

                            </div>
                        </div>
                        <div class="h-100 bg-white"></div>
                        <div class="list-group list-group-flush border-top">
                            <a href="{{ url('group_hobby_index') }}" class="list-group-item list-group-item-action link-primary d-flex align-items-center justify-content-between">
                                <div>weitere Gruppen finden</div>
                                <i class="ti ti-chevron-right"></i>
                            </a>
                        </div>
                        <div class="card-body border-top"></div>
                    </div>
                </div>

                <div class="col-lg-12 order-3">
                    <div class="card bg-light-subtle border-0 shadow-sm rounded rounded-2 h-100">
                        <div class="card-body border-bottom border-primary">
                            <h3 class="h6 mb-0 text-center text-lg-start">Veranstaltungen</h3>
                        </div>
                        <div class="list-group list-group-flush border-bottom-0 bg-white">
                            {% for post in app.user.followedEvents|sort((a, b) => a.startDate <=> b.startDate) %}
                                {% if post.endDate|date('Ymd') >= date('now')|date('Ymd')%}
                                    {{ include('component/_event_list.html.twig') }}
                                {% endif %}
                            {% else %}
                                <div class="list-group-item p-3 d-flex align-items-center justify-content-center text-muted">
                                    Du nimmst aktuell an keiner Veranstaltung teil.
                                </div>
                            {% endfor %}
                        </div>
                        <div class="h-100 bg-white"></div>
                        <div class="list-group list-group-flush border-top border-bottom">
                            <a href="{{ url('event_index') }}" class="list-group-item list-group-item-action link-primary d-flex align-items-center justify-content-between">
                                <div>weitere Termine finden</div>
                                <i class="ti ti-chevron-right"></i>
                            </a>
                        </div>
                        <div class="card-body"></div>
                    </div>
                </div>

                <div class="col-12  order-3">
                    <div class="card bg-light-subtle border-0 shadow-sm rounded rounded-2">
                        <div class="card-body  border-bottom border-primary">
                            <h3 class="h6 text-center text-lg-start mb-0">Aktuelle Stellenangebote <span class=" ms-2 badge bg-warning-subtle text-warning rounded fw-normal">dev</span></h3>
                            <p class="card-text text-center fw-bolder text-lg-start text-primary">In meiner Stadt</p>
                        </div>
                        <div class="list-group list-group-flush bg-white">
                            {% for offer in offers %}
                                {% if offer.active %}
                                    {{ include('component/_offer_fav_list.html.twig') }}
                                {% endif %}
                            {% else %}
                                <div class="list-group-item d-flex justify-content-center align-items-center">
                                    <span>Aktuell sind keine Stellen offen.</span>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="list-group list-group-flush border-top border-bottom">
                            <a href="{{ url('blog_news_offer_index') }}" class="list-group-item list-group-item-action link-primary d-flex align-items-center justify-content-between">
                                <div>weitere Stellen finden</div>
                                <i class="ti ti-chevron-right"></i>
                            </a>
                        </div>
                        <div class="card-body"></div>
                    </div>
                </div>

            {% endif %}
        </div>
    </div>
</section>

{% endblock %}

{% block body %}{% endblock %}

{% block aside %}{% endblock %}