{% extends 'base.html.twig' %}

{% block title %}Mein Mitgliederbereich{% endblock %}

{% block page_header %}
    <nav class="bg-transparent" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url('app_index') }}">treptowkolleg.de</a></li>
            <li class="breadcrumb-item active fw-bolder" aria-current="page">Mein Bereich</li>
        </ol>
    </nav>

    {% if not app.user.isVerified %}
        <div class="alert alert-light">
            <h5>E-Mail-Adresse bestätigen!</h5>
            <p>Schaue bitte auch in deinem Spam-Ordner nach, solltest du keine E-Mail erhalten haben.</p>
            <a class="btn btn-outline-primary" href="{{ url('app_confirm') }}">Erneut E-Mail zur Verifizierung senden</a>
            <div class="small mt-4">Bei bestehenden Problemen bitte eine E-Mail an <a href="mailto:alumniportal@treptowkolleg.de">alumniportal@treptowkolleg.de</a> senden, um eine manuelle Verifizierung vorzunehmen.</div>
        </div>

    {% else %}
        <div class="row align-content-stretch">
            <div class="col-lg-3 align-self-stretch">
                <div class="sticky-lg-top" style="top:40px">

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="mb-3 ms-lg-3">
                                {% if app.user.image.name %}
                                    <img src="{{ vich_uploader_asset(app.user)|imagine_filter('avatar')  }}" class="img-fluid img-thumbnail" alt="...">
                                {% else %}
                                    <img src="{{ asset('images/avatar_no_text.svg') }}" class="img-fluid img-thumbnail" alt="...">
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="d-flex flex-column flex-shrink-0">
                        <ul class="nav nav-pills nav-sidebar flex-column mb-auto">
                            <li class="nav-item">
                                <div class="nav-text">
                                    <i class="fa-solid fa-fw fa-gear me-2 text-primary fs-6"></i>
                                    Einstellungen
                                </div>
                            </li>
                            <li class="nav-item">
                                <a href="{{ url('profile_image_new') }}" class="nav-link">
                                    <i class="fa-solid fa-fw fa-image me-2"></i>
                                    Profilbild
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ url('profile_profile_new') }}" class="nav-link">
                                    <i class="fa-solid fa-fw fa-user me-2"></i>
                                    Profilinformationen
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="fa-solid fa-fw fa-user-lock me-2"></i>
                                    Konto
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="fa-solid fa-fw fa-envelope-open-text me-2"></i>
                                    Newsletter
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="fa-solid fa-fw fa-briefcase me-2"></i>
                                    Angebote
                                </a>
                            </li>

                            {% if is_granted('ROLE_AUTHOR') %}
                                <li class="nav-item">
                                    <div class="nav-text">
                                        <i class="fa-solid fa-fw fa-pen me-2 text-primary fs-6"></i>
                                        Authoring
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a href="{{ path('authoring_blogpost_index') }}" class="nav-link">
                                        <i class="fa-solid fa-fw fa-newspaper me-2"></i>
                                        Blog-Artikel
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{{ path('authoring_event_index') }}" class="nav-link">
                                        <i class="fa-solid fa-fw fa-calendar-days me-2"></i>
                                        Veranstaltungen
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{{ path('authoring_event_type_index') }}" class="nav-link">
                                        <i class="fa-solid fa-fw fa-list me-2"></i>
                                        Veranstaltungsarten
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fa-solid fa-fw fa-envelopes-bulk me-2"></i>
                                        Newsletter
                                    </a>
                                </li>
                            {% endif %}

                            {% if is_granted('ROLE_ADMIN') %}
                                <li class="nav-item">
                                    <div class="nav-text">
                                        <i class="fa-solid fa-fw fa-dashboard me-2 text-primary fs-6"></i>
                                        Administration
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a href="{{ path('admin_user_index') }}" class="nav-link">
                                        <i class="fa-solid fa-fw fa-users me-2"></i>
                                        Benutzerrollen
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <h1 class="h3">Mein Mitgliederbereich</h1>
                <h2 class="h5 text-primary">
                    Verwalte dein Profil und deine Vereinsmitgliedschaft bequem online
                </h2>

                <div class="dashboard-title">Alumni-Profil</div>
                <div class="row mt-3 mb-5 g-lg-3">

                    <div class="col-lg-4 "><label class="col-form-label" for="alumni-name">Anzeigename</label></div>
                    <div class="col-lg-8">
                        <input type="text" id="alumni-name" class="form-control" disabled readonly value="{{ app.user.userProfiles.first }}">
                    </div>

                    <div class="col-lg-4 "><label class="col-form-label" for="alumni-exam">Abschluss und Abgangsjahr</label></div>
                    <div class="col-lg-5">
                        <input type="text" id="alumni-exam" class="form-control" disabled readonly value="{{ app.user.userProfiles.first.examType|trans }}">
                    </div>
                    <div class="col-lg-3">
                        <input type="text" id="alumni-exam" class="form-control" disabled readonly value="{{ app.user.userProfiles.first.outYear }}">
                    </div>

                    <div class="col-lg-4 "><span class="label">Leistungskurse</span></div>
                    <div class="col-lg-8">
                        <ul class="list-inline">
                            {% for item in app.user.userProfiles.first.performanceCourse|slice(0,2) %}
                                <li class="list-inline-item"><span class="badge text-bg-primary">{{ item|trans }}</span></li>
                            {% else %}
                                <li class="list-inline-item">unbekannt</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div class="dashboard-title">Konto-Übersicht</div>
                <div class="row mt-3 mb-5 g-lg-3">
                    <div class="col-lg-4 "><label class="col-form-label" for="name">Name</label></div>
                    <div class="col-lg-8">
                        <input type="text" id="name" class="form-control" disabled readonly value="{{ app.user.fullname }}">
                    </div>

                    <div class="col-lg-4 "><label class="col-form-label" for="email">E-Mail</label></div>
                    <div class="col-lg-8">
                        <input type="email" id="email" class="form-control" disabled readonly value="{{ app.user.email }}">
                        <small class="form-text text-muted">Deine E-Mail-Adresse wird niemals veröffentlicht.</small>
                    </div>

                    <div class="col-lg-4 "><span class="label">Rollen</span></div>
                    <div class="col-lg-8">
                        <ul class="list-inline">
                            {% for item in app.user.roles %}
                                <li class="list-inline-item"><span class="badge text-bg-primary">{{ item|trans }}</span></li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="col-lg-4 "><span class="label">Verifizierung</span></div>
                    <div class="col-lg-8">
                        {% if app.user.isVerified %}
                            <div class="badge text-bg-light text-muted"><span class="me-2">verifiziert</span><i class="fas fa-check text-success"></i></div>
                        {% else %}
                            <div class="badge text-bg-light text-muted"><span class="me-2">Verifizierung ausstehend</span><i class="fas fa-circle-exclamation text-danger"></i></div>
                        {% endif %}
                    </div>

                    <div class="col-lg-4 "><span class="label">Verifizierungstyp</span></div>
                    <div class="col-lg-8">
                        <div class="badge text-bg-light text-muted"><span class="me-2">offizielles Schulmitglied</span><i class="fas fa-graduation-cap text-primary"></i></div>
                    </div>

                    <div class="col-lg-4 "><label class="col-form-label" for="school">Bildungseinrichtung</label></div>
                    <div class="col-lg-8">
                        <input type="text" id="school" class="form-control" disabled readonly value="{{ app.user.school ?? '' }}">
                    </div>
                </div>

                <div class="dashboard-title">Benachrichtigungen</div>

                <div class="row mt-3 mb-5 g-lg-3">

                    <div class="col-lg-4 "><span class="label">Newsletter</span></div>
                    <div class="col-lg-8">
                        {{ has_newsletter ? 'abonniert' : 'nicht abonniert' }}
                    </div>
                </div>


                <button type="button" class="btn btn-primary" id="liveToastBtn">Show live toast</button>
            </div>
        </div>

    {% endif %}



{% endblock %}
{% block body %}

{% endblock %}
{% block aside %}

{% endblock %}