{% extends 'base.html.twig' %}

{% block title %}Mein Mitgliederbereich{% endblock %}

{% block page_header %}
    <nav class="bg-transparent" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url('app_index') }}">treptowkolleg.de</a></li>
            <li class="breadcrumb-item active fw-bolder" aria-current="page">Mein Bereich</li>
        </ol>
    </nav>

    <h1 class="h3">Mein Mitgliederbereich</h1>
    <h2 class="h5 mb-5 text-primary">
        Verwalte dein Profil und deine Vereinsmitgliedschaft bequem online.
    </h2>

    <div class="d-flex flex-wrap align-items-center mb-5">
        <div class="rounded rounded-circle border border-primary text-bg-light text-muted fw-bold d-flex justify-content-center align-items-center me-3" style="width: 48px; height: 48px">
            {{ app.user.avatar }}
        </div>
        <div class="me-2">
            {{ app.user.firstname }} {{ app.user.lastname }}
        </div>
        <div class="me-2">
            {% if app.user.isVerified %}
                <div class="small badge text-bg-light text-muted"><span class="d-none d-md-inline">verifiziert</span> <i class="fas fa-check text-success"></i></div>
            {% else %}
                <div class="small badge text-bg-light text-muted"><span class="d-none d-md-inline">Verifizierung ausstehend</span> <i class="fas fa-circle-exclamation text-danger"></i></div>
            {% endif %}
        </div>
        <div class="">
            <div class="small badge text-bg-light text-muted"><span class="d-none d-md-inline">offizielles Schulmitglied</span> <i class="fas fa-graduation-cap text-primary"></i></div>
        </div>
        <div class="ms-auto d-none d-md-block">{{ app.user.school ?? '' }}</div>
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-3 mb-5">
        <div class="col">
            <div class="card card-body bg-body-tertiary border-primary h-100">
                <h3 class="h4">Profil</h3>
                <p class="lead">
                    Teile deine Expertise
                </p>
                <p class="card-text">
                    <a href="{{ url('profile_profile_new') }}" class="link-dark text-decoration-none stretched-link d-flex justify-content-between align-items-center">bearbeiten<i class="fas fa-chevron-right"></i></a>
                </p>
            </div>
        </div>
        <div class="col">
            <div class="card card-body bg-body-tertiary border-primary h-100">
                <h3 class="h4">Angebote</h3>
                <p class="lead">
                    Biete Lern- und Arbeitsgemeinschaften an
                </p>
                <p class="card-text mt-auto">
                    <a href="#" class="link-dark text-decoration-none stretched-link d-flex justify-content-between align-items-center">bearbeiten<i class="fas fa-chevron-right"></i></a>
                </p>
            </div>
        </div>
        {#
        <div class="col">
            <div class="card card-body bg-body-tertiary border-primary h-100">
                <h3 class="h4">Engagement</h3>
                <p class="lead">
                    Unterstütze die Vereinsarbeit
                </p>
                <p class="card-text mt-auto">
                    <a href="#" class="link-dark text-decoration-none stretched-link d-flex justify-content-between align-items-center">bearbeiten<i class="fas fa-chevron-right"></i></a>
                </p>
            </div>
        </div>
        #}

    </div>

    {% if is_granted('ROLE_AUTHOR') %}
        <h4 class="mb-3">Authoring</h4>
        <div class="row row-cols-1 row-cols-md-3 g-3 mb-5">
            <div class="col">
                <div class="list-group">
                    <div  class="list-group-item fw-bold fs-5 text-bg-primary">Blog</div>
                    <a href="{{ path('authoring_blogpost_new') }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">Artikel schreiben<i class="fa-solid fa-plus"></i></a>
                    <a href="{{ path('authoring_blogpost_index') }}" class="list-group-item list-group-item-action">Alle Artikel</a>
                </div>
            </div>
            <div class="col">
                <div class="list-group">
                    <div  class="list-group-item fw-bold fs-5 text-bg-primary">Veranstaltungen</div>
                    <a href="{{ path('authoring_event_new') }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">Veranstaltung planen<i class="fa-solid fa-plus"></i></a>
                    <a href="{{ path('authoring_event_index') }}" class="list-group-item list-group-item-action">Alle Termine</a>
                    <a href="{{ path('authoring_event_type_index') }}" class="list-group-item list-group-item-action">Kategorien verwalten</a>
                </div>
            </div>
            <div class="col">
                <div class="list-group">
                    <div  class="list-group-item fw-bold fs-5 text-bg-primary">Newsletter</div>
                    <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">Newsletter verfassen<i class="fa-solid fa-plus"></i></a>
                    <a href="#" class="list-group-item list-group-item-action">Alle Newsletter</a>
                    <a href="#" class="list-group-item list-group-item-action">Abonnenten verwalten</a>
                </div>
            </div>
        </div>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            <h4 class="mb-3">Administration</h4>
            <div class="row row-cols-1 row-cols-md-3 g-3 mb-5">
                <div class="col">
                    <div class="list-group">
                        <div  class="list-group-item fw-bold fs-5 text-bg-primary">Kontenverwaltung</div>
                        <a href="{{ path('admin_user_index') }}" class="list-group-item list-group-item-action">Alle Benutzer</a>
                    </div>
                </div>
            </div>
        {% endif %}

{% endblock %}
{% block body %}

{% endblock %}
{% block aside %}

{% endblock %}