{% extends 'base.html.twig' %}

{% block title %}Mein Mitgliederbereich{% endblock %}

{% block page_header %}
    <nav class="bg-transparent" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url('app_index') }}">treptowkolleg.de</a></li>
            <li class="breadcrumb-item"><a href="{{ url('profile_index') }}">Mein Bereich</a></li>
            <li class="breadcrumb-item active fw-bolder" aria-current="page">Mein Profil</li>
        </ol>
    </nav>

    <h1 class="h3">Profil bearbeiten</h1>
    <h2 class="h5 text-primary mb-3">Passe deine Informationen an</h2>
    <p>Am Ende der Seite kannst du einstellen, wer was von dir sehen darf.</p>
{% endblock %}
{% block body %}

    {{ form_errors(form) }}
    {{ form_start(form, { 'attr': {'novalidate':'novalidate'} }) }}

    <div class="h5 mt-3">Über mich</div>
    <div class="row">
        <div class="col-12">
            <div>{{ form_label(form.tags) }}</div>
            {{ form_widget(form.tags) }}
            <div class="mb-3">{{ form_help(form.tags) }}</div>

            {{ form_row(form.about) }}
            {{ form_row(form.portfolioLink) }}
        </div>
    </div>

    <div class="h5 mt-3">Schulbezogene Informationen</div>
    <div class="h5 fw-normal">Bildungsgang</div>
    <div class="row">
        <div class="col-md-3">{{ form_row(form.inYear) }}</div>
        <div class="col-md-3">{{ form_row(form.outYear) }}</div>
        <div class="col-md-6">{{ form_row(form.examType) }}</div>
    </div>

    <div class="h5 fw-normal">Fächer und Interessen</div>
    <div class="row">
        <div class="col-md-4">{{ form_row(form.hobbies) }}</div>
        <div class="col-md-4">{{ form_row(form.performanceCourse) }}</div>
        <div class="col-md-4">{{ form_row(form.favoriteSchoolSubjects) }}</div>
    </div>

    <div class="h5 mt-3">Akademische Informationen</div>
    <div class="row">
        <div class="col-md-6">{{ form_row(form.studium) }}</div>
        <div class="col-md-6">{{ form_row(form.university) }}</div>
    </div>
    <div class="h5 mt-3">Berufliche Informationen</div>
    <div class="row">
        <div class="col-md-6">{{ form_row(form.currentProfession) }}</div>
        <div class="col-md-6">{{ form_row(form.currentCompany) }}</div>
    </div>

    {{ form_row(form.interests) }}

    <div class="h5 mt-5 mb-3">Sichtbarkeit</div>
    <div class="mb-5">
        {{ form_row(form.networkState) }}
        {{ form_row(form.displayName) }}
    </div>


    <button type="submit" class="btn btn-primary">Speichern</button> <a href="{{ path('profile_index') }}" class="btn btn-light ms-2">Abbrechen</a>
    {{ form_end(form) }}
{% endblock %}
{% block aside %}
{% endblock %}
