{% extends '_full.html.twig' %}

{% set meta_title = 'Mein Portal' %}
{% set meta_subtitle = 'Alumni-Profil' %}
{% set sidebar = 'profile-info' %}

{% block page_header %}
<section class="py-3">
    <div class="container">

        {{ include('component/profile_subbar.html.twig',{'selected':'profile'}) }}

        {{ form_start(form, { 'attr': {'novalidate':'novalidate'} }) }}

        <div class="row">
            <div class="col-12">
                <div class="row g-3 align-content-stretch">
                    <div class="col-lg-12">
                        {{ form_errors(form) }}
                    </div>

                    <div class="col-lg-12 mt-0" id="section-school">
                        <div class="card bg-white">
                            <div class="card-body  border-bottom border-primary">
                                <h3 class="h5 mb-0 text-center text-lg-start">Schule</h3>
                            </div>
                            <div class="card-body">
                                <div class="row row-cols-2 g-3 mb-3">
                                    {{ form_row(form.inYear) }}
                                    {{ form_row(form.outYear) }}
                                </div>
                                <div class="row row-cols-1 g-3 mb-3">
                                    {{ form_row(form.examType) }}
                                </div>
                                <div class="row row-cols-1 row-cols-lg-2 g-3">
                                    {{ form_row(form.performanceCourse) }}
                                    {{ form_row(form.favoriteSchoolSubjects) }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12" id="section-vita">
                        <div class="card bg-white">
                            <div class="card-body  border-bottom border-primary">
                                <h3 class="h5 mb-0 text-center text-lg-start">Kurzvita</h3>
                            </div>
                            <div class="card-body">
                                <div class="row row-cols-1 g-3 mb-3">
                                    {{ form_row(form.about) }}
                                    {{ form_row(form.hobbies) }}
                                    {{ form_row(form.portfolioLink) }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12" id="section-uni">
                        <div class="card bg-white">
                            <div class="card-body  border-bottom border-primary">
                                <h3 class="h5 mb-0 text-center text-lg-start">Studium</h3>
                            </div>
                            <div class="card-body">
                                <div class="row row-cols-1 row-cols-lg-2 g-3">
                                    {{ form_row(form.studium) }}
                                    {{ form_row(form.university) }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12" id="section-work">
                        <div class="card bg-white">
                            <div class="card-body  border-bottom border-primary">
                                <h3 class="h5 mb-0 text-center text-lg-start">Beruf</h3>
                            </div>
                            <div class="card-body">
                                <div class="row row-cols-1 row-cols-lg-2 g-3 mb-3">
                                    {{ form_row(form.currentProfession) }}
                                    {{ form_row(form.currentCompany) }}
                                </div>
                                {{ form_row(form.interests) }}
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12" id="section-security">
                        <div class="card bg-white">
                            <div class="card-body  border-bottom border-primary">
                                <h3 class="h5 mb-0 text-center text-lg-start">Sichtbarkeit</h3>
                            </div>
                            <div class="card-body">
                                <div class="row row-cols-1 row-cols-lg-2 g-3 mb-5">
                                    {{ form_row(form.networkState) }}
                                    {{ form_row(form.displayName) }}
                                </div>
                                <div class="">
                                    <div class="row g-3">
                                        <div class="col-lg-12"><button type="submit" class="btn btn-primary w-100">Speichern</button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
</section>


{% endblock %}

{% block body %}{% endblock %}
{% block aside %}{% endblock %}

