{% extends '_full.html.twig' %}

{% set meta_title = 'Konto' %}
{% set meta_subtitle = 'Einstellungen' %}
{% set sidebar = 'profile-info' %}

{% set seo_title = 'Kontoeinstellungen' %}

{% block page_header %}
<section class="py-3">
    <div class="container">

        {{ include('component/profile_subbar.html.twig',{'selected':'account'}) }}

        <div class="row g-3">
            <div class="col-lg-12">
                <div class="card bg-white">
                    <div class="card-body  border-bottom border-primary">
                        <h3 class="h5 mb-0 text-center text-lg-start">Kontodaten</h3>
                        <p class="card-text text-center fw-bolder text-lg-start text-primary">Einstellungen und Personenangaben</p>
                    </div>
                    <div class="list-group list-group-flush">
                        <a href="{{ url('profile_settings_do',{'section':'person'}) }}" class="ripplelink swipe-link-start list-group-item list-group-item-action d-flex justify-content-between align-items-center py-3">
                            <span class="d-flex align-items-center"><i class="ri-user-3-line ri-fw me-2 text-primary"></i>Persönliche Daten</span>
                            <i class="ri-arrow-right-s-line text-primary"></i>
                        </a>
                        <a href="#" class="ripplelink list-group-item list-group-item-action bg-light-subtle d-flex justify-content-between align-items-center py-3 disabled">
                            <span class="d-flex align-items-center"><i class="ri-paint-fill ri-fw me-2 text-primary"></i>Layout und Design</span>
                            <div class="d-flex align-items-center">
                                <span class="badge bg-warning-subtle text-warning rounded">in Planung</span>
                            </div>
                        </a>
                        <a href="{{ url('profile_settings_do',{'section':'email'}) }}" class="ripplelink swipe-link-start list-group-item list-group-item-action d-flex justify-content-between align-items-center py-3">
                            <span class="d-flex align-items-center"><i class="ri-mail-line ri-fw me-2 text-primary"></i>E-Mail-Adresse</span>
                            <i class="ri-arrow-right-s-line text-primary"></i>
                        </a>
                        <a href="{{ url('profile_settings_do',{'section':'password'}) }}" class="ripplelink swipe-link-start list-group-item list-group-item-action d-flex justify-content-between align-items-center py-3">
                            <span class="d-flex align-items-center"><i class="ri-lock-fill ri-fw me-2 text-primary"></i>Passwort</span>
                            <i class="ri-arrow-right-s-line text-primary"></i>
                        </a>
                        <a href="{{ url('profile_settings_do',{'section':'privacy'}) }}" class="ripplelink swipe-link-start list-group-item list-group-item-action d-flex justify-content-between align-items-center py-3">
                            <span class="d-flex align-items-center"><i class="ri-shield-user-line ri-fw me-2 text-primary"></i>Privatsphäre</span>
                            <i class="ri-arrow-right-s-line text-primary"></i>
                        </a>
                        <a href="{{ url('profile_settings_do',{'section':'newsletter'}) }}" class="ripplelink swipe-link-start list-group-item list-group-item-action d-flex justify-content-between align-items-center py-3">
                            <span class="d-flex align-items-center"><i class="ri-newspaper-line ri-fw me-2 text-primary"></i>Newsletter</span>
                            <i class="ri-arrow-right-s-line text-primary"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="card bg-white">
                    <div class="card-body  border-bottom border-primary">
                        <h3 class="h5 mb-0 text-center text-lg-start">Browserdaten</h3>
                        <p class="card-text text-center fw-bolder text-lg-start text-primary">Von uns gespeicherte Cookies</p>
                    </div>
                    <div class="list-group list-group-flush">
                        {% for cookie, content in cookies %}
                            <div class="list-group-item d-flex flex-wrap align-items-center py-3">
                                <span class="fw-bold">{{ cookie|trans }}:</span>
                                <div class="d-flex justify-content-between justify-content-lg-end align-items-center flex-fill">
                                    <code class="small text-muted">{{ content }}</code>
                                    <a href="#" class="text-danger text-decoration-none ms-3"><i class="ri-close-circle-line"></i></a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="card-body">
                        <p class="card-text small fst-italic text-muted text-center text-lg-start">
                            Das Löschen der Session-ID führt dazu, dass du ausgeloggt wirst.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


{% endblock %}

{% block body %}{% endblock %}
{% block aside %}{% endblock %}

