{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1 class="h3 mb-3">Bleibe Teil der Community</h1>
    <p>
        Schließe dich unserem Alumni-Portal an und bleibe mit Lernenden und Lehrkräften in Kontakt. Teile Wissen und Erfahrungen und feiere gemeinsame Erfolge und Jubiläen.
    </p>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm, { 'attr': {'novalidate':'novalidate'} }) }}
    {{ form_row(registrationForm.firstname) }}
    {{ form_row(registrationForm.lastname) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.plainPassword, {
        label: 'Password'
    }) }}

    <p>
        Mit Klick auf Registrieren stimmst du den <a href="#">Nutzungsbedingungen</a> zu.
    </p>
    <button type="submit" class="btn btn-primary">Registrieren</button>
    {{ form_end(registrationForm) }}
{% endblock %}
