{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1 class="h3 mb-3">Bleibe Teil der Community</h1>
    <p>
        Schließe dich unserem Alumni-Portal an und bleibe mit Lernenden und Lehrkräften in Kontakt. Teile Wissen und Erfahrungen und feiere gemeinsame Erfolge und Jubiläen.
    </p>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm, { 'attr': {'novalidate':'novalidate','class':'needs-validation'} }) }}
    {{ form_row(registrationForm.firstname) }}
    {{ form_row(registrationForm.lastname) }}

    {{ form_row(registrationForm.hasSchool) }}
    <fieldset class="" id="school-fieldset" style="display: none">
        {{ form_row(registrationForm.school) }}
        {{ form_row(registrationForm.userType) }}
    </fieldset>
    <div class="mb-2">&nbsp;</div>
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.plainPassword, {
        label: 'Password'
    }) }}

    {{ form_row(registrationForm.captcha) }}

    <p>
        Mit Klick auf Registrieren stimmst du den <a href="{{ url('app_terms') }}" target="_blank">Nutzungsbedingungen</a> zu.
    </p>
    <button type="submit" class="btn btn-primary">Registrieren</button>
    {{ form_end(registrationForm) }}

    <script type="text/javascript">
        (function () {

            let $isCompany = document.querySelector('#registration_form_hasSchool');
            let $companyFieldset = document.querySelector('#school-fieldset');

            if($isCompany.checked){
                $companyFieldset.style.display ="grid";
            } else {
                $companyFieldset.style.display ="none";
            }

            $isCompany.addEventListener ('change', function (evt) {
                if($isCompany.checked){
                    $companyFieldset.style.display ="grid";
                } else {
                    $companyFieldset.style.display ="none";
                }
            });

        })()
    </script>
{% endblock %}
