{% extends '_full.html.twig' %}

{% set meta_title = 'Plausch' %}
{% set meta_subtitle = 'Austauschen' %}
{% set meta_description = 'Finde und vernetze dich mit Alumni und den ehemaligen Lehrkräften der teilnehmenden Schulen und Kollegs des zweiten Bildungsweges.' %}

{% set seo_title = 'Vernetze dich mit anderen Personen' %}

{% set sidebar = 'group' %}

{% block stylesheets %}
{{ parent() }}
    <style>
        .ck-editor__editable {
            border: none!important;         /* Entfernt den Rahmen */
            border-radius: 0!important;
            outline: none!important;
            box-shadow: none!important;/* Entfernt die abgerundeten Ecken */
            border-bottom: 1px solid var(--bs-off)!important;
            padding-left: 1rem!important;
            padding-right: 1rem!important;
        }

        /* Falls du auch den gesamten Editor-Container anpassen willst */
        .ck-editor__top {
            border: none!important;         /* Entfernt den Rahmen */
            border-radius: 0!important;
            outline: none!important;
            box-shadow: none!important;/* Entfernt die abgerundeten Ecken */
        }

        .ck-sticky-panel__content {
            border: none!important;         /* Entfernt den Rahmen */
            border-radius: 0!important;
            outline: none!important;
            box-shadow: none!important;/* Entfernt die abgerundeten Ecken */

        }
    </style>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Suche nur nach img-Tags innerhalb des Elements mit der ID 'content'
            var content = document.getElementById('content');

            if (content) {
                var images = content.querySelectorAll('img');

                // Füge 'img-fluid' zu allen img-Tags innerhalb von 'content' hinzu
                images.forEach(function(img) {
                    img.classList.add('img-fluid');
                });
            }
        });
    </script>
{% endblock %}

{% block page_header %}
    <section class="py-3">
        <div class="container">

            {{ include('component/group_post_subbar.html.twig',{'selected':'show'}) }}

            <div class="row g-3">

                <div class="col-12 mt-3">
                    <div class="card bg-light-subtle border-0 shadow-sm rounded rounded-2">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <i class="ti ti-message-2 text-primary me-2"></i>{{ element }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 mt-3">
                    <div class="card bg-light-subtle border-0 shadow-sm rounded-2">
                        <div class="card-body border-bottom border-primary">
                            Beiträge
                        </div>
                        {% if app.user %}

                            {{ form_start(form, {'attr': {'id': 'main-send'}}) }}
                            {{ form_widget(form.text, {'attr': {'placeholder': 'etwas schreiben'}}) }}
                                <input type="hidden" name="inhalt" id="helper-input">

                                <button type="submit" class="btn btn-light w-100 border-0"><i class="ti ti-pencil me-1 text-primary"></i>Speichern</button>

                            {{ form_end(form) }}

                            <link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/45.0.0/ckeditor5.css" />
                            <script src="https://cdn.ckeditor.com/ckeditor5/45.0.0/ckeditor5.umd.js"></script>
                            <script src="https://cdn.ckeditor.com/ckeditor5/45.0.0/translations/de.umd.js"></script>
                            <script>

                                let editor;

                                const {
                                    ClassicEditor,
                                    Essentials,
                                    Bold,
                                    Italic,
                                    Font,
                                    Paragraph
                                } = CKEDITOR;

                                ClassicEditor
                                    .create( document.querySelector( '#subject_post_text' ), {
                                        licenseKey: 'eyJhbGciOiJFUzI1NiJ9.eyJleHAiOjE3NzY3Mjk1OTksImp0aSI6IjQzNTU5Y2Y5LTE4NTgtNGY3Mi05MTY4LWRjMjJiMzBhNmVhNyIsInVzYWdlRW5kcG9pbnQiOiJodHRwczovL3Byb3h5LWV2ZW50LmNrZWRpdG9yLmNvbSIsImRpc3RyaWJ1dGlvbkNoYW5uZWwiOlsiY2xvdWQiLCJkcnVwYWwiXSwiZmVhdHVyZXMiOlsiRFJVUCJdLCJ2YyI6IjJkM2QwZGNkIn0.ryf90wmooy8vzT9D7DPTPOXc-9YdErvKAO1EgiCfX8UxUr4X1GoqjKd_3M9Vb7P97m0zv-HCp2TFoheD1xjigQ',
                                        plugins: [ Essentials, Bold, Italic, Font, Paragraph ],
                                        toolbar: [
                                            'undo', 'redo', '|', 'bold', 'italic', '|',
                                            'fontSize', 'fontFamily', 'fontColor', 'fontBackgroundColor',
                                        ]
                                    } )
                                    .then(newEditor => {
                                        editor = newEditor;
                                    })
                                    .catch(error => {
                                        console.error(error);
                                    });

                                document.getElementById('main-send').addEventListener('submit', function (e) {
                                    e.preventDefault();
                                    let value = editor.getData();
                                    if (value) {
                                        document.getElementById('helper-input').value = value;
                                        this.submit();
                                    }

                                });

                            </script>
                        {% endif %}
                        <div class="list-group list-group-flush bg-white border-top border-bottom" id="content">
                            {% for entry in element.subjectPosts|sort((a, b) => b.created <=> a.created) %}
                                <div class="list-group-item">
                                    <div class="">
                                        {% if (entry.owner.userProfiles.first.networkState == 'public') or (app.user and entry.writer.networkState == 'registered') %}
                                            <a href="{{ url('people_show',{'slug':entry.owner.slug}) }}" class="me-1 text-nowrap">{{ entry.owner.userProfiles.first }}</a>
                                            <div class="small text-muted">{{ entry.created|ago }}</div>
                                        {% else %}
                                            <div class="me-1">Alumnymous</div>
                                            <div class="small text-muted">{{ entry.created|ago }}</div>
                                        {% endif %}
                                        <div class="mb-0">{{ entry.text|raw }}</div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="list-group-item">
                                    Die Pinnwand ist noch leer.
                                </div>
                            {% endfor %}
                        </div>
                        <div class="card-body">
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>

{% endblock %}

{% block body %}{% endblock %}

{% block aside %}
{% endblock %}