{% extends '@!EasyAdmin/layout.html.twig' %}

{% block content_title %}Aktivitäten{% endblock %}

{% block configured_stylesheets %}
    {{ parent() }}
{% endblock %}

{% block configured_javascripts %}
    {{ parent() }}
{% endblock %}

{% block main %}
    <div class="mb-5">
        <div class="h5 border-bottom pb-2 mb-3">Systeminformationen</div>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th scope="col">Element</th>
                <th scope="col">Wert</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Systemzeit</td>
                    <td>{{ "now"|date }}</td>
                </tr>
                {% for key, value in serverStats %}
                    <tr>
                        <th class="text-nowrap">
                            {{ key|replace({
                                'server_time': 'Serverzeit',
                                'php_version': 'PHP-Version',
                                'symfony_version': 'Symfony-Version',
                                'memory_limit': 'Memory-Limit',
                                'upload_max_filesize': 'Upload-Limit',
                                'post_max_size': 'POST-Limit',
                                'max_execution_time': 'Max. Ausführungszeit',
                                'os': 'Betriebssystem',
                                'hostname': 'Hostname',
                                'server_software': 'Server-Software',
                                'server_ip': 'Server-IP',
                                'timezone': 'Zeitzone',
                                'sapi': 'PHP-SAPI',
                                'load_1': 'Systemlast (1 Min)',
                                'load_5': 'Systemlast (5 Min)',
                                'load_15': 'Systemlast (15 Min)',
                                'disk_free_mb': 'Freier Speicher (MB)',
                                'disk_total_mb': 'Gesamtspeicher (MB)',
                                'memory_usage_mb': 'RAM-Auslastung (MB)',
                                'memory_peak_mb': 'RAM-Peak (MB)'
                            }) }}
                        </th>
                        <td>
                            {% if value is iterable %}
                                {{ value|join(', ') }}
                            {% else %}
                                {{ value }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% if is_granted('ROLE_ADMIN') %}

        <div class="mb-5">
            <div class="h5 border-bottom pb-2 mb-3">Umfrageergebnisse</div>
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th scope="col">Umfrage</th>
                    <th scope="col">Ja</th>
                    <th scope="col">Nein</th>
                </tr>
                </thead>
                <tbody>
                {% for survey in surveys %}
                    <tr>
                        <td>{{ survey }}</td>
                        <td>{{ survey.surveyAnswers|filter(a => a.answer == true)|length }}</td>
                        <td>{{ survey.surveyAnswers|filter(a => a.answer == false)|length }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3" class="text-center">Keine aktiven Umfragen gefunden</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="mb-5">
            <div class="h5 border-bottom pb-2 mb-3">Change-Log</div>
            <ul class="list-group">
                <li class="list-group-item"><strong>15.03.2025</strong> Design-Anpassungen: subtile Rundung der Cards.</li>
                <li class="list-group-item"><strong>16.03.2025</strong> Newsletter können jetzt konfiguriert und geplant werden.</li>
                <li class="list-group-item"><strong>16.03.2025</strong> Alumni-Übersicht neu gestaltet.</li>
                <li class="list-group-item"><strong>16.03.2025</strong> Navigationsmenü um Details erweitert.</li>
                <li class="list-group-item"><strong>17.03.2025</strong> Sicherheitstest für Pinnwand abgeschlossen.</li>
                <li class="list-group-item"><strong>19.03.2025</strong> Newsletter-Warteschlange wird täglich um 10 Uhr erstellt.</li>
                <li class="list-group-item"><strong>19.03.2025</strong> Jede Stunde werden 100 Empfänger aus der Warteschlange abgearbeitet. Frühestens jedoch ab eingestellter Uhrzeit.</li>
                <li class="list-group-item"><strong>10.04.2025</strong> Hochschulen, Interessen und Hobbies wurden "datenbankifiziert".</li>
                <li class="list-group-item"><strong>13.05.2025</strong> Gruscheln wurde wunschgemäß implementiert.</li>
                <li class="list-group-item"><strong>13.05.2025</strong> Nachrichtensystem wurde "entchattifiziert".</li>
            </ul>
        </div>

    {% endif %}


    {% if is_granted('ROLE_AUTHOR') %}
        <div class="h5 border-bottom pb-2 mb-3">Meine aktiven Beiträge</div>
        <div class="h6 txt-primary">Themen-Blog</div>
            <table class="table datagrid mb-3">
                <thead>
                <tr>
                    <th class="py-2" data-column="title">Titel</th>
                    <th>Typ</th>
                    <th>Leitartikel</th>
                    <th>Erstellt</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for post in posts %}
                    <tr data-id="{{ loop.index }}">
                        <td class="field-text text-truncate" data-column="title">{{ post.title }}</td>
                        <td>{{ post.type }}</td>
                        <td>{{ post.isLeadPost ? 'ja' : 'nein' }}</td>
                        <td>{{ post.updatedAt|ago }}</td>
                        <td class="actions">
                            <a href="#" class="action-edit">
                                <span class="action-label">Anzeigen</span>
                            </a>
                            <a href="#" class="action-edit">
                                <span class="action-label">Bearbeiten</span>
                            </a>
                        </td>
                    </tr>
                {% else %}
                {% endfor %}
                </tbody>
            </table>
        <div class="h6 txt-primary">Aktuelles und Meldungen</div>
        <table class="table datagrid">
            <thead>
            <tr>
                <th class="py-2" data-column="title">Titel</th>
                <th>Typ</th>
                <th>Erstellt</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for post in news_articles %}
                <tr data-id="{{ loop.index }}">
                    <td class="field-text text-truncate" data-column="title">{{ post.title }}</td>
                    <td>{{ post.type }}</td>
                    <td>{{ post.updatedAt|ago }}</td>
                    <td class="actions">
                        <a href="#" class="action-edit">
                            <span class="action-label">Anzeigen</span>
                        </a>
                        <a href="#" class="action-edit">
                            <span class="action-label">Bearbeiten</span>
                        </a>
                    </td>
                </tr>
            {% else %}
            {% endfor %}
            </tbody>
        </table>

    {% endif %}

{% endblock main %}

{% block page_actions %}
    {#
    <a class="btn btn-primary" href="#">Some Action</a>
    <a class="btn btn-primary" href="#">Some Action</a>
    <a class="btn btn-primary" href="#">Some Action</a>
    #}
{% endblock %}