{% extends '@!EasyAdmin/layout.html.twig' %}

{% block content_title %}Aktivitäten{% endblock %}

{% block configured_stylesheets %}
    {{ parent() }}
{% endblock %}

{% block configured_javascripts %}
    {{ parent() }}
{% endblock %}

{% block main %}

    <div class="mb-5">
        <div class="h5 border-bottom pb-2 mb-3">Change-Log</div>
        <ul class="list-group">
            <li class="list-group-item"><strong>15.03.2025</strong> Design-Anpassungen: keine Ränder in Handy-Ansicht, subtile Rundung der Cards.</li>
            <li class="list-group-item"><strong>16.03.2025</strong> Newsletter können jetzt konfiguriert und geplant werden (noch kein Versand).</li>
            <li class="list-group-item"><strong>16.03.2025</strong> Alumni-Übersicht neu gestaltet.</li>
            <li class="list-group-item"><strong>16.03.2025</strong> Navigationsmenü um Details erweitert.</li>
            <li class="list-group-item text-bg-success"><strong>17.03.2025</strong> Sicherheitstest für Pinnwand abgeschlossen.</li>
        </ul>
    </div>


    {% if is_granted('ROLE_AUTHOR') %}
        <div class="h5 border-bottom pb-2 mb-3">Meine aktiven Beiträge</div>
        <div class="h6 txt-primary">Themen-Blog</div>
            <table class="table datagrid mb-3">
                <thead>
                <tr>
                    <th class="py-2" data-column="title">Titel</th>
                    <th>Typ</th>
                    <th>Leitartikel</th>
                    <th>Erstellt</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for post in posts %}
                    <tr data-id="{{ loop.index }}">
                        <td class="field-text text-truncate" data-column="title">{{ post.title }}</td>
                        <td>{{ post.type }}</td>
                        <td>{{ post.isLeadPost ? 'ja' : 'nein' }}</td>
                        <td>{{ post.updatedAt|ago }}</td>
                        <td class="actions">
                            <a href="#" class="action-edit">
                                <span class="action-label">Anzeigen</span>
                            </a>
                            <a href="#" class="action-edit">
                                <span class="action-label">Bearbeiten</span>
                            </a>
                        </td>
                    </tr>
                {% else %}
                {% endfor %}
                </tbody>
            </table>
        <div class="h6 txt-primary">Aktuelles und Meldungen</div>
        <table class="table datagrid">
            <thead>
            <tr>
                <th class="py-2" data-column="title">Titel</th>
                <th>Typ</th>
                <th>Erstellt</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for post in news_articles %}
                <tr data-id="{{ loop.index }}">
                    <td class="field-text text-truncate" data-column="title">{{ post.title }}</td>
                    <td>{{ post.type }}</td>
                    <td>{{ post.updatedAt|ago }}</td>
                    <td class="actions">
                        <a href="#" class="action-edit">
                            <span class="action-label">Anzeigen</span>
                        </a>
                        <a href="#" class="action-edit">
                            <span class="action-label">Bearbeiten</span>
                        </a>
                    </td>
                </tr>
            {% else %}
            {% endfor %}
            </tbody>
        </table>

    {% endif %}

{% endblock main %}

{% block page_actions %}
    {#
    <a class="btn btn-primary" href="#">Some Action</a>
    <a class="btn btn-primary" href="#">Some Action</a>
    <a class="btn btn-primary" href="#">Some Action</a>
    #}
{% endblock %}