{% extends 'base.html.twig' %}

{% block title %}Benutzerverwaltung{% endblock %}

{% block page_header %}
    <h1 class="h3">Benutzerverwaltung</h1>
    <h2 class="h5 mb-3 text-primary">
        Ändere die Rollenzuordnung der Benutzerkonten.
    </h2>
    <div class="table-responsive">
        <table class="table table-hover" id="datatable">
            <thead>
            <tr>
                <th>Benutzername</th>
                <th>Vorname</th>
                <th>Nachname</th>
                <th>Rollen</th>
                <th>verifiziert</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td><a href="{{ path('admin_user_role_update',{'id': user.id}) }}">{{ user.email }}</a></td>
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.lastname }}</td>
                    <td>{{ user.roles|join(', ') }}</td>
                    <td>{{ user.isVerified ? 'ja' : 'nein' }}</td>
                </tr>
            {% else %}
            {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        let tableOptions = {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/German.json"
        }

        let table = new DataTable('#datatable', {
            responsive: false,
            "language": tableOptions
        });
    </script>
{% endblock %}
{% block body %}


{% endblock %}
