{% extends 'base.html.twig' %}

{% block title %}Benutzerverwaltung{% endblock %}

{% block page_header %}
    <h1 class="h3">Rollen anpassen</h1>
    <h2 class="h5 text-primary">{{ user }}</h2>
{% endblock %}
{% block body %}
    <p class="lead">{{ user.firstname }} {{ user.lastname }}</p>
    {{ form_errors(form) }}

    {{ form_start(form, { 'attr': {'novalidate':'novalidate'} }) }}
    {{ form_row(form.roles) }}

    <button type="submit" class="btn btn-primary">Speichern</button> <a href="{{ path('admin_user_index') }}" class="btn btn-light ms-2">Abbrechen</a>
    {{ form_end(form) }}
{% endblock %}
