{% extends '_full.html.twig' %}

{% set meta_title = 'Personen' %}
{% set meta_subtitle = 'Alumni finden' %}

{% set sidebar = 'people' %}

{% block page_header %}
<section class="py-3">
    <div class="container">

        {{ include('component/person_subbar.html.twig') }}

        <div class="mb-3">{{ include('component/_person_filter.html.twig') }}</div>

        <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3 g-3 align-content-stretch">
            {% for person in people %}
                {% if (app.user and  person.networkState == 'registered') or person.networkState == 'public' or (filter in ['school','freunde'] and person.networkState == 'private') %}
                    {% if filtered_dates is empty or person.outYear in filtered_dates %}
                        {% if filtered_courses is empty or person.performanceCourse|filter((course) => course in filtered_courses)  %}
                            <div class="col mb-2 mb-md-0">
                                <div class="card text-bg-white align-self-stretch">
                                    <div class="row g-0">
                                        <div class="col-md-4">
                                            {% if person.user.image.name %}
                                                <img src="{{ vich_uploader_asset(person.user)|imagine_filter('avatar')  }}" class="img-fluid w-100" alt="...">
                                            {% else %}
                                                <img src="{{ asset('images/avatar_no_text.svg') }}" class="img-fluid w-100" alt="...">
                                            {% endif %}
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body d-flex flex-column h-100">
                                                <div class="d-flex align-items-start justify-content-between">
                                                    <h3 class="h4 mb-0 text-truncate">{{ person }}</h3>
                                                </div>

                                                {% if person.user.hasSchool %}
                                                    <p class="">{{ person.user.school }}</p>
                                                {% endif %}
                                                <a href="{{ url('people_show',{'slug':person.user.slug }) }}" class="card-link stretched-link text-decoration-none mt-auto">mehr erfahren <i class="fas fa-chevron-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% if app.user %}
                                    <div class="ps-2 pt-2 pb-2 border border-top-0 d-flex bg-light-subtle align-items-center">
                                        {% if app.user.userProfiles.count > 0 %}
                                            {% if person.user != app.user %}
                                                <div>
                                                    <span class="d-none small me-1 like-number-{{ person.id }}">{{ person.friends.count }}</span>
                                                    <div class="spinner-border spinner-border-sm d-none like-loader-{{ person.id }}" role="status" style="margin-right: 2px"></div>
                                                    {% set like_icon = 'fa-regular fa-star' %}
                                                    {% if app.user.userProfiles.0 in person.friends %}
                                                        {% set like_icon = 'fa-solid fa-star' %}
                                                    {% endif %}
                                                    <a href="#" class="like-button  me-2" data-url="{{ path('api_add_like') }}" data-value="{{ person.id }}"><i class="link-secondary like-icon-{{ person.id }} {{ like_icon }}"></i></a>
                                                </div>
                                                <div class="me-2">
                                                    <small class="text-muted" id="like-match-{{ person.id }}">
                                                        {% if app.user.userProfiles.first in person.userProfiles and person in app.user.userProfiles.first.userProfiles %}
                                                            Ihr kennt euch gegenseitig
                                                        {% endif %}
                                                    </small>
                                                </div>
                                                <div class="">
                                                    <a href="{{ url('chat_start',{'slug':person.user.slug}) }}" class="text-decoration-none">
                                                        <i class="link-primary fa-solid fa-envelope me-1"></i>
                                                        <small>Nachricht</small>
                                                    </a>
                                                </div>
                                            {% else %}
                                                <div>
                                                    <i class="link-primary fa-solid fa-user me-2"></i>
                                                    <small class="text-muted">Das bist du</small>
                                                </div>
                                            {% endif %}
                                        {% else %}
                                            <div>
                                                <i class="link-primary fa-solid fa-user-plus me-2"></i>
                                                <a href="{{ url('profile_profile_new') }}" class="text-decoration-none small">Profil anlegen, um Freunde hinzuzufügen</a>
                                            </div>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% else %}
                <div class="col">
                    Keine Personen gefunden
                </div>
            {% endfor %}
        </div>

        <div class="row g-3 py-3">
            <div class="col-12">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link disabled" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link active" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

    </div>
</section>

{% endblock %}

{% block body %}
    <div class="container">
        <h3>SoundEx für Name/Nachname</h3>
        <h4>{{ sx|default('null') }}</h4>
    </div>

{% endblock %}

{% block aside %}

   {# <a href="{{ url('people_index',{'filter':app.request.attributes.get('filter')}) }}" class="mb-3 d-block">Alle Personen anzeigen</a>
    {% if filter != 'school' %}
    <div class="fs-5 fw-bolder mb-1">Bildungseinrichtung</div>
    <div class="card  border-primary mb-3">
        <div class="list-group list-group-flush">
            {% for school in schools|sort((a, b) => b.users.count <=> a.users.count) %}
                {% if school.users.count > 0 %}
                    {% if school.title in filtered_schools %}
                        <div class="list-group-item d-flex justify-content-between align-items-center py-3 active">
                            <span>{{ school.title }}</span>
                        </div>
                    {% else %}
                        <a href="{{ url('people_index',{'courses':filtered_courses|join(','),'schools': school.title ~ ',' ~ filtered_schools|join(','), 'dates':filtered_dates|join(',')}) }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center py-3">
                            <span>{{ school.title }}</span>
                        </a>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <div class="fs-5 fw-bolder mb-1">Abgangsjahr</div>
    <div class="card  border-primary mb-3">
        <div class="list-group list-group-flush">
            {% for date in dates|sort((a, b) => a.outYear <=> b.outYear) %}
                {% if date.total > 0 %}
                    {% if date.outYear in filtered_dates %}
                        <div class="list-group-item d-flex justify-content-between align-items-center py-3 active">
                            <span>{{ date.outYear }}</span>
                        </div>
                    {% else %}
                        <a href="{{ url('people_index',{'filter':app.request.attributes.get('filter'),'courses':filtered_courses|join(','),'schools':filtered_schools|join(','),'dates': date.outYear ~ ',' ~ filtered_dates|join(',')}) }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center py-3">
                            <span>{{ date.outYear }}</span>
                        </a>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="fs-5 fw-bolder mb-1">Leistungskurs</div>
    <div class="card  border-primary">
        <div class="list-group list-group-flush">
            {% for course in courses|sort((a, b) => a.value <=> b.value) %}
                    {% if course.value in filtered_courses %}
                        <div class="list-group-item d-flex justify-content-between align-items-center py-3 active">
                            <span>{{ course.value|trans }}</span>
                        </div>
                    {% else %}
                        <a href="{{ url('people_index',{'filter':app.request.attributes.get('filter'),'courses':course.value ~ ',' ~ filtered_courses|join(','),'schools':filtered_schools|join(','),'dates': filtered_dates|join(',')}) }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center py-3">
                            <span>{{ course.value|trans }}</span>
                        </a>
                    {% endif %}
            {% endfor %}
        </div>
    </div>#}
{% endblock %}
