{% extends '_full.html.twig' %}

{% set meta_title = 'Alumni' %}
{% set meta_subtitle = 'Personen finden' %}
{% set meta_description = 'Finde und vernetze dich mit Alumni und den ehemaligen Lehrkräften der teilnehmenden Schulen und Kollegs des zweiten Bildungsweges.' %}

{% set seo_title = 'Vernetze dich mit anderen Personen' %}

{% set sidebar = 'people' %}

{% block page_header %}
<section class="py-3">
    <div class="container">

        {{ include('component/person_subbar.html.twig') }}

        <div class="mb-3">{{ include('component/_person_filter.html.twig') }}</div>

        {{ include('component/_people_pagination.html.twig') }}
        {{ include('component/_people_list.html.twig') }}
        {{ include('component/_people_pagination.html.twig') }}

    </div>
</section>

{% endblock %}

{% block body %}{% endblock %}

{% block aside %}{% endblock %}
