{% extends 'base.html.twig' %}

{% block title %}Personen{% endblock %}

{% block navbar %}
    <li class="nav-item"><a class="nav-link" href="{{ url('blog_news_all_index') }}">Aktuelles</a></li>
    <li class="nav-item"><a class="nav-link" href="{{ url('blog_index') }}">Themen</a></li>
    <li class="nav-item"><a class="nav-link" href="{{ url('event_index') }}">Termine</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Angebote</a></li>
    <li class="nav-item"><a class="nav-link active" href="{{ url('people_index') }}">Personen</a></li>
{% endblock %}

{% block page_header %}
    <nav class="bg-transparent" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url('app_index') }}">treptowkolleg.de</a></li>
            <li class="breadcrumb-item active fw-bolder" aria-current="page">Personen</li>
        </ol>
    </nav>

    <h1 class="h3">Personen</h1>

{% endblock %}
{% block body %}
    <form method="post" class="">
        <div class="input-group">
            <input type="search" id="person_search" name="person_search" class="form-control" placeholder="Personen finden">
            <div class="input-group-btn">
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
        <label for="person_search"></label>
    </form>

    <ul class="nav nav-underline mb-4">
        <li class="nav-item">
            <a class="nav-link {{ filter == 'all' ? 'active ' : '' }}" href="{{ url('people_index',{'courses':filtered_courses|join(','),'schools': filtered_schools|join(','), 'dates':filtered_dates|join(',')}) }}"><i class="fas fa-user-group me-2 text-primary"></i>Alle Personen</a>
        </li>
        {% if app.user %}
            <li class="nav-item">
                <a class="nav-link {{ filter == 'school' ? 'active ' : '' }}" href="{{ url('people_index',{'filter':'school','courses':filtered_courses|join(','),'schools': filtered_schools|join(','), 'dates':filtered_dates|join(',')}) }}"><i class="fas fa-university me-2 text-primary"></i>Meine Schule</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ filter == 'freunde' ? 'active ' : '' }}" href="{{ url('people_index',{'filter':'freunde','courses':filtered_courses|join(','),'schools': filtered_schools|join(','), 'dates':filtered_dates|join(',')}) }}"><i class="fas fa-handshake me-2 text-primary"></i>Meine Bekannten</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-bicycle me-2 text-primary"></i>Interessen-Matches</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url('app_register') }}">Registriere dich für weitere Ergebnisse</a>
            </li>
        {% endif %}
    </ul>

    <div class="row row-cols-1 row-cols-lg-2 g-3 align-content-stretch">
        {% for person in people %}
            {% if (app.user and  person.networkState == 'registered') or person.networkState == 'public' or (filter == 'school' and person.networkState == 'private') %}
                {% if filtered_dates is empty or person.outYear in filtered_dates %}
                    {% if filtered_courses is empty or person.performanceCourse|filter((course) => course in filtered_courses)  %}
                    <div class="col">
                        <div class="card bg-body-tertiary border-0 align-self-stretch">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="{{ asset('images/avatar_no_text.svg') }}" class="img-fluid" alt="...">
                                </div>
                                <div class="col-md-8">
                                        <div class="card-body d-flex flex-column h-100">
                                            <div class="d-flex align-items-start justify-content-between">
                                                <h3 class="h4 mb-0 text-truncate">{{ person }}</h3>
                                            </div>

                                            {% if person.user.hasSchool %}
                                                <p class="">{{ person.user.school }}</p>
                                            {% endif %}
                                            <a href="{{ url('people_show',{'slug':person.user.slug }) }}" class="card-link stretched-link text-decoration-none mt-auto">mehr erfahren <i class="fas fa-chevron-right"></i></a>
                                        </div>
                                </div>
                            </div>
                        </div>
                        {% if app.user %}
                            <div class="mt-2 d-flex align-items-center">
                                {% if person.user != app.user %}
                                    <div>
                                        <span class="d-none small me-1 like-number-{{ person.id }}">{{ person.friends.count }}</span>
                                        <div class="spinner-border spinner-border-sm d-none like-loader-{{ person.id }}" role="status"></div>
                                        {% set like_icon = 'fa-regular fa-heart' %}
                                        {% if app.user.userProfiles.0 in person.friends %}
                                            {% set like_icon = 'fa-solid fa-heart' %}
                                        {% endif %}
                                        <a href="{{ path('api_add_like') }}" class="like-button  me-2" data-value="{{ person.id }}"><i class="link-primary like-icon-{{ person.id }} {{ like_icon }}"></i></a>
                                    </div>
                                    <div class="me-2">
                                        <small class="text-muted" id="like-match-{{ person.id }}">
                                            {% if app.user.userProfiles.first in person.userProfiles and person in app.user.userProfiles.first.userProfiles %}
                                                Ihr kennt euch gegenseitig
                                            {% endif %}
                                        </small>
                                    </div>
                                    <div class="">
                                        <a href="#" class="text-decoration-none">
                                        <i class="link-primary fa-solid fa-envelope me-1"></i>
                                        <small>Nachricht</small>
                                        </a>
                                    </div>
                                {% else %}
                                    <div>
                                        <i class="link-primary fa-solid fa-user me-2"></i>
                                        <small class="text-muted">Das bist du</small>
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% else %}
            <div class="col">
                Keine Personen gefunden
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block aside %}
    <div class="fs-4 mb-1">Filtern nach ...</div>
    <a href="{{ url('people_index',{'filter':app.request.attributes.get('filter')}) }}" class="mb-3 d-block">Alle Personen anzeigen</a>
    {% if filter != 'school' %}
    <div class="fs-5 fw-bolder mb-1">Bildungseinrichtung</div>
    <div class="card  border-primary mb-3">
        <div class="list-group list-group-flush">
            {% for school in schools|sort((a, b) => b.users.count <=> a.users.count) %}
                {% if school.users.count > 0 %}
                    {% if school.title in filtered_schools %}
                        <div class="list-group-item d-flex justify-content-between align-items-center py-3 active">
                            <span>{{ school.title }}</span>
                        </div>
                    {% else %}
                        <a href="{{ url('people_index',{'courses':filtered_courses|join(','),'schools': school.title ~ ',' ~ filtered_schools|join(','), 'dates':filtered_dates|join(',')}) }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center py-3">
                            <span>{{ school.title }}</span>
                        </a>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <div class="fs-5 fw-bolder mb-1">Abgangsjahr</div>
    <div class="card  border-primary mb-3">
        <div class="list-group list-group-flush">
            {% for date in dates|sort((a, b) => a.outYear <=> b.outYear) %}
                {% if date.total > 0 %}
                    {% if date.outYear in filtered_dates %}
                        <div class="list-group-item d-flex justify-content-between align-items-center py-3 active">
                            <span>{{ date.outYear }}</span>
                        </div>
                    {% else %}
                        <a href="{{ url('people_index',{'filter':app.request.attributes.get('filter'),'courses':filtered_courses|join(','),'schools':filtered_schools|join(','),'dates': date.outYear ~ ',' ~ filtered_dates|join(',')}) }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center py-3">
                            <span>{{ date.outYear }}</span>
                        </a>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="fs-5 fw-bolder mb-1">Leistungskurs</div>
    <div class="card  border-primary">
        <div class="list-group list-group-flush">
            {% for course in courses|sort((a, b) => a.value <=> b.value) %}
                    {% if course.value in filtered_courses %}
                        <div class="list-group-item d-flex justify-content-between align-items-center py-3 active">
                            <span>{{ course.value|trans }}</span>
                        </div>
                    {% else %}
                        <a href="{{ url('people_index',{'filter':app.request.attributes.get('filter'),'courses':course.value ~ ',' ~ filtered_courses|join(','),'schools':filtered_schools|join(','),'dates': filtered_dates|join(',')}) }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center py-3">
                            <span>{{ course.value|trans }}</span>
                        </a>
                    {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
