{% extends '_full.html.twig' %}

{% set meta_title = 'Alumni' %}
{% set meta_subtitle = 'Personendetails' %}
{% set meta_description =  'Mehr über ' ~ person ~ ' der Bildungseinrichtung '  ~ person.user.school.title ~ ' erfahren.' %}

{% set seo_title = person %}
{% set sidebar = 'people' %}

{% block page_header %}
<section class="py-3">
    <div class="container">

        {{ include('component/person_subbar.html.twig',{'filter':'details','people':1}) }}

        <div class="row g-3">

            <div class="col-lg-3">
                {% if person.user.image.name %}
                    <img src="{{ vich_uploader_asset(person.user)|imagine_filter('avatar')  }}" class="img-fluid d-none d-lg-block img-thumbnail w-100" alt="...">
                    <img src="{{ vich_uploader_asset(person.user)|imagine_filter('avatar_sm')  }}" class="img-fluid d-lg-none d-block img-thumbnail w-100" alt="...">
                {% else %}
                    <img src="{{ asset('images/avatar_no_text.svg') }}" class="img-thumbnail d-none d-lg-block img-fluid w-100" alt="...">
                {% endif %}
            </div>

            <div class="col-lg-9">
                <div class="row g-3">
                    <div class="col-lg-12" id="section-school">
                        <div class="card bg-white">
                            <div class="card-body  border-bottom border-primary">
                                <h3 class="h5 mb-0 text-center text-lg-start">{{ person }}<small class="text-muted ms-1">({{ person.user.userType|trans }})</small></h3>
                                <div class="mb-0 text-center text-lg-start"><a href="{{ url('people_school',{'bsn':person.user.school.bsn}) }}">{{ person.user.school }}</a></div>
                            </div>
                            <div class="list-group list-group-flush">
                                {% if person.user.userType == 'Student' %}
                                    <div class="list-group-item">
                                        <div class="small text-primary">Abschluss</div>
                                        <div>{{ person.examType|trans }} ({% if person.outYear != "" %}{{ person.outYear }}{% else %}immatrikuliert{% endif %})</div>
                                    </div>
                                {% endif %}
                                <div class="list-group-item">
                                    <div class="small text-primary">Leistungskurse</div>
                                    <ul class="list-inline mb-0">
                                        {% for item in person.performanceCourse %}
                                            <li class="list-inline-item"><span class="badge text-bg-secondary">{{ item|trans }}</span></li>
                                        {% else %}
                                            <li class="list-inline-item">unbekannt</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="list-group-item">
                                    <div class="small text-primary">Lieblingsfächer</div>
                                    <ul class="list-inline mb-0">
                                        {% for item in person.favoriteSchoolSubjects %}
                                            <li class="list-inline-item"><span class="badge text-bg-primary">{{ item|trans }}</span></li>
                                        {% else %}
                                            <li class="list-inline-item">unbekannt</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    {{ person.about|default('Es wurde keine Vita hinterlegt.')|striptags|nl2br }}
                                </p>
                            </div>
                            {% if person.portfolioLink %}
                                <div class="list-group list-group-flush">
                                    <a class="list-group-item list-group-item-action" href="{{ person.portfolioLink }}" target="_blank"><i class="fa fa-link me-2"></i>Portfolio-Website</a>
                                </div>
                            {% endif %}
                            {% if app.user %}
                                <div class="ps-2 pt-2 pb-2 card-body d-flex bg-light-subtle align-items-center">
                                    {% if app.user.userProfiles.count > 0 %}
                                        {% if person.user != app.user %}
                                            <div>
                                                <span class="d-none small me-1 like-number-{{ person.id }}">{{ person.friends.count }}</span>
                                                <div class="text-off spinner-border spinner-border-sm d-none like-loader-{{ person.id }}" role="status" style="margin-right: 2px"></div>
                                                {% set like_icon = 'fa-regular fa-star' %}
                                                {% if app.user.userProfiles.0 in person.friends %}
                                                    {% set like_icon = 'fa-solid fa-star' %}
                                                {% endif %}
                                                <a href="#" class="like-button  me-2" data-url="{{ path('api_add_like') }}" data-value="{{ person.id }}"><i class="link-secondary like-icon-{{ person.id }} {{ like_icon }}"></i></a>
                                            </div>
                                            <div class="me-2">
                                                <small class="text-muted" id="like-match-{{ person.id }}">
                                                    {% if app.user.userProfiles.first in person.userProfiles and person in app.user.userProfiles.first.userProfiles %}
                                                        Ihr kennt euch
                                                    {% endif %}
                                                </small>
                                            </div>
                                            <div class="">
                                                {% if person.user.isContactable %}
                                                    <a href="{{ url('chat_start',{'slug':person.user.slug}) }}" class="text-decoration-none">
                                                        <i class="link-primary ri-chat-4-line me-1"></i>
                                                        <small>Nachricht</small>
                                                    </a>
                                                {% else %}
                                                    <a href="javascript:void(0)" class="text-muted text-decoration-none disabled">
                                                        <i class="link-muted ri-chat-off-line me-1"></i>
                                                        <small></small>
                                                    </a>
                                                {% endif %}
                                            </div>
                                        {% else %}
                                            <div>
                                                <i class="link-primary fa-solid fa-user me-2"></i>
                                                <small class="text-muted">Das bist du</small>
                                            </div>
                                        {% endif %}
                                    {% else %}
                                        <div>
                                            <i class="link-primary fa-solid fa-user-plus me-2"></i>
                                            <a href="{{ url('profile_profile_new') }}" class="text-decoration-none small">Profil anlegen, um Freunde hinzuzufügen</a>
                                        </div>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="card bg-white">
                            <div class="card-body border-bottom border-primary">
                                <h3 class="h5 mb-0 text-center text-lg-start">Nimmt teil</h3>
                            </div>
                            <div class="list-group list-group-flush border-bottom-0">
                                {% if person.user.isEventsVisible %}
                                    {% for post in person.user.followedEvents|sort((a, b) => a.startDate <=> b.startDate) %}
                                        {% if post.endDate|date('Ymd') >= date('now')|date('Ymd')%}
                                            {{ include('component/_event_list.html.twig') }}
                                        {% endif %}
                                    {% else %}
                                        <div class="list-group-item py-3">
                                            folgt keinen Veranstaltungen
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <div class="list-group-item py-3">
                                        folgt keinen Veranstaltungen
                                    </div>
                                {% endif %}
                            </div>
                            <div class="h-100"></div>
                            <div class="list-group list-group-flush">
                                <a href="{{ url('event_index') }}" class="list-group-item list-group-item-action link-primary d-flex align-items-center justify-content-between">
                                    <div>weitere Termine finden</div>
                                    <i class="ri-arrow-right-s-line"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    {% if person.user.hasPinnboard %}
                        <div class="col-12">
                            <div class="card bg-white">
                                <div class="card-body border-bottom border-primary">
                                    <h3 class="h5 mb-0 text-center text-lg-start">Pinnwand</h3>
                                </div>
                                {% if app.user %}
                                <div class="">
                                    <form method="post">
                                        <label class="d-flex justify-content-between align-items-center w-100">
                                            <input class="form-control bg-light ps-3" required name="comment" placeholder="Notiz hinterlassen">
                                            <button class="btn btn-primary border-top-0" type="submit"><i class="ri ri-pushpin-line"></i></button>
                                        </label>
                                        <input type="hidden" name="token" value="{{ csrf_token('pinboard-comment') }}">
                                    </form>
                                </div>
                                {% endif %}
                                <div class="list-group list-group-flush border-top-0">
                                    {% for entry in pinboard_entries %}
                                    <div class="list-group-item">
                                        <div class="">
                                            {% if (entry.writer.networkState == 'public') or (app.user and entry.writer.networkState == 'registered') %}
                                            <a href="{{ url('people_show',{'slug':entry.writer.user.slug}) }}" class="me-1 text-nowrap">{{ entry.writer }}</a>
                                            {% else %}
                                                <div class="me-1">######</div>
                                            {% endif %}
                                            <span class="">{{ entry.content }}</span>
                                        </div>
                                        <div class="small text-muted">{{ entry.created|ago }}</div>
                                    </div>
                                    {% else %}
                                        <div class="list-group-item">
                                            Die Pinnwand ist noch leer.
                                        </div>
                                    {% endfor %}
                                </div>

                            </div>
                        </div>
                    {% endif %}

                </div>
            </div>



        </div>
    </div>
</section>

{% endblock %}

{% block body %}

    {% set translatedArray = [] %}

    {% for item in person.performanceCourse %}
        {% set translatedItem = item | trans %}
        {% set translatedArray = translatedArray | merge([translatedItem]) %}
    {% endfor %}


{% set alumni = {
    "name": person,
    "bio": person.about|default('Keine Biographie hinterlegt.'),
    "image_url": vich_uploader_asset(person.user)|imagine_filter('avatar') ,
    "university": person.user.school.title,
    "university_url": person.user.school.url,
    "university_city": person.user.school.city,
    "university_country": "Deutschland",
    "degree": person.examType|trans,
    "graduation_year": person.outYear,
    "subjects": translatedArray,
}
%}



<script type="application/ld+json">
    {
    "@context": "https://schema.org",
    "@type": "Person",
    "name": "{{ alumni.name }}",
    "description": "{{ alumni.bio }}",
    "image": "{{ alumni.image_url }}",
    "alumniOf": {
    "@type": "EducationalOrganization",
    "name": "{{ alumni.university }}",
    "url": "{{ alumni.university_url }}"
    },
    "educationalCredentialAwarded": "{{ alumni.degree }}",
    "hasCredential": {
    "@type": "EducationalOccupationalCredential",
    "credentialCategory": "{{ alumni.degree }}",
    "dateIssued": "{{ alumni.graduation_year }}",
    "recognizedBy": {
      "@type": "EducationalOrganization",
      "name": "{{ alumni.university }}"
    }
    },
    "knowsAbout": {{ alumni.subjects|json_encode }}
    }
</script>

{% endblock %}
{% block aside %}{% endblock %}





