    {{ form_errors(form) }}
    {{ form_start(form, { 'attr': {'novalidate':'novalidate'} }) }}
    <h4 class="h5 mb-3">Pflichtangaben</h4>
    {{ form_row(form.title) }}
    {{ form_row(form.subtitle) }}
    {{ form_row(form.type) }}

    <div class="mb-5">
        {{ form_label(form.content) }}
        {{ form_widget(form.content) }}
        <trix-editor class="focus-ring" input="blog_post_form_content" style="min-height: 200px"></trix-editor>
        {{ form_errors(form.content) }}
    </div>

    <h3 class="h5 mb-3">Optionale Angaben</h3>
    {{ form_row(form.imageFile) }}
    {{ form_row(form.audioFile) }}

    <div class="mb-3">&nbsp;</div>
    {{ form_row(form.isLeadPost) }}
    {{ form_row(form.isPublished) }}


    <button type="submit" class="btn btn-primary">{{ button }}</button> <a href="{{ path('authoring_blogpost_index') }}" class="btn btn-light ms-2">Abbrechen</a>
    {{ form_end(form) }}

