{% extends 'base.html.twig' %}

{% block title %}Alle Artikel{% endblock %}

{% block page_header %}
    <nav class="bg-transparent" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url('app_index') }}">treptowkolleg.de</a></li>
            <li class="breadcrumb-item"><a href="{{ url('profile_index') }}">Mein Bereich</a></li>
            <li class="breadcrumb-item active fw-bolder" aria-current="page">Artikel</li>
        </ol>
    </nav>

    <h1 class="h3">Artikelübersicht</h1>
    <h2 class="h5 mb-3 text-primary">
        Meldungen und Posts verwalten
    </h2>
    <div class="d-flex align-items-center flex-wrap my-4">
        <a href="{{ path('authoring_blogpost_new') }}" class="btn btn-primary">Post anlegen</a>
    </div>
    <div class="table-responsive">
        <table class="table" id="datatable">
            <thead>
            <tr>
                <th>Titel</th>
                <th>Bild</th>
                <th>Zuletzt publiziert am</th>
                <th>veröffentlicht</th>
                <th>Aktion</th>
            </tr>
            </thead>
            <tbody>
            {% for post in blog_posts %}
                <tr>
                    <th><a href="{{ path('authoring_blogpost_update',{'id': post.id}) }}">{{ post.title }}</a></th>
                    <td>
                        {% if post.image.name %}
                        <img alt="{{ post.title }}" src="{{ vich_uploader_asset(post) }}" class="img-fluid" style="max-height: 16px"/>
                        {% endif %}
                    </td>
                    <td>{{ post.updatedAt|date('d.m.Y H:i') }} Uhr</td>
                    <td>{{ post.isPublished ? 'ja' : 'nein' }}</td>
                    <td></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        let tableOptions = {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/German.json"
        }

        let table = new DataTable('#datatable', {
            responsive: false,
            "language": tableOptions
        });
    </script>
{% endblock %}

