{% extends 'base.html.twig' %}

{% block title %}Veranstaltungen{% endblock %}

{% block page_header %}
    <h1 class="h3">Event-Typen</h1>
    <h2 class="h5 mb-3 text-primary">
        Kategorien verwalten
    </h2>
    <div class="d-flex align-items-center flex-wrap my-4">
        <a href="{{ path('authoring_event_type_new') }}" class="btn btn-primary">Kategorie anlegen</a>
    </div>
    <div class="table-responsive">
        <table class="table table-hover" id="datatable">
            <thead>
            <tr>
                <th>Typ</th>
                <th>Beschreibung</th>
                <th class="text-end">Events</th>
                <th class="text-end">Aktion</th>
            </tr>
            </thead>
            <tbody>
            {% for event_type in event_types %}
                <tr>
                    <th>{{ event_type.title }}</th>
                    <td class="text-truncate">{{ event_type.description }}</td>
                    <td class="text-end"><span class="badge text-bg-light rounded-pill">{{ event_type.events.count }}</span></td>
                    <td class="text-end"><a href="{{ path('authoring_event_type_edit',{'id':event_type.id}) }}" class="link-secondary">bearbeiten</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        let tableOptions = {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/German.json"
        }

        let table = new DataTable('#datatable', {
            responsive: false,
            "language": tableOptions
        });
    </script>
{% endblock %}
