{% extends '_full.html.twig' %}

{% set meta_title = 'Themen' %}
{% set meta_subtitle = 'Beitragsübersicht' %}
{% set meta_description = 'Erfahre mehr über die thematischen Blog-Beiträge der Alumni und ehemaligen Lehrkräfte sowie der teilnehmenden Schulen und Kollegs.' %}

{% set seo_title = 'Beitragsübersicht' %}

{% set sidebar = 'blog' %}

{% block page_header %}
<section class="py-3">
    <div class="container">

        {{ include('component/blog_subbar.html.twig',{'selected':'index'}) }}

        <div class="row g-3">

            <div class="col-lg-9">

                <div class="row row-cols-1 row-cols-lg-2 g-3 align-content-stretch mb-3">
                    {% for post in posts %}
                        {% if loop.index <= 6 %}
                            {% if post.isPublished %}
                                <div class="col">
                                    <div class="card text-white bg-white border-primary h-100">
                                        {% if post.blogPostImageUrl %}
                                            <img class="card-img" src="{{ asset(post.blogPostImageUrl)|imagine_filter('post_thumbnail')  }}" alt="{{ post }}" style="filter: brightness(60%);">
                                        {% else %}
                                            <img class="card-img" src="https://dummyimage.com/800x480/294a70/294a70&text=Preview" alt="{{ post }}" style="filter: brightness(60%);">
                                        {% endif %}
                                        <div class="card-img-overlay d-flex flex-column h-100">
                                            <div class="text-uppercase small card-text">{{ post.type }}</div>
                                            <h3 class="fw-normal h2">{{ post.title }}</h3>

                                            <a href="{{ path('blog_show',{'slug':post.slug}) }}" class="card-link stretched-link text-decoration-none link-white mt-auto fs-5">weiterlesen <i class="fas fa-chevron-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>

                {{ include('component/_pagination.html.twig',{'route_url':'blog_index', 'post_count':post_count, 'cut': 6}) }}


            </div>

            <div class="col-lg-3">
                <div class="card bg-white">
                    <div class="card-body  border-bottom border-primary">
                        <h3 class="h5 mb-0 text-center text-lg-start">Dein Beitrag</h3>
                    </div>
                    <div class="card-body">
                        <p>
                            Reiche einen eigenen Artikel zur Veröffentlichung im Themen-Blog ein. Beachte dabei unsere
                            Richtlinien für Veröffentlichungen von Beiträgen.
                        </p>
                        <a href="#"><i class="fa-regular fa-fw fa-file-pdf me-2"></i>Leitfaden - Community-Beiträge</a>
                        <p class="pt-3">
                            Sende deinen Beitrag an <a href="#">redaktion@treptowkolleg.de</a>.
                        </p>
                        <p class="mb-0">
                            Unter bestimmten Voraussetzungen kann für dich das <strong>Authoring</strong> freigeschaltet
                            werden. So kannst du auch selbstständig Beiträge veröffentlichen. Unsere Nutzungsbedingungen
                            gelten auch hier.
                        </p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
{% endblock %}
{% block body %}

{% endblock %}

{% block aside %}

{% endblock %}
