{% extends '_full.html.twig' %}

{% set meta_title = 'Themen' %}
{% set meta_subtitle = post.type %}

{% set sidebar = 'blog' %}

{% block page_header %}
<section class="py-3">
    <div class="container">

        {{ include('component/blog_subbar.html.twig',{'selected':'show'}) }}

        <div class="row g-3">

            <div class="col-lg-8">
                <h1 class="h3">{{ post }}</h1>
                <h2 class="h5 text-primary">{{ post.subtitle }}</h2>
                {% if post.blogPostImageUrl %}
                    <img src="{{ asset(post.blogPostImageUrl)|imagine_filter('lead_thumbnail')  }}" alt="{{ post }}" class="img-fluid mb-1 d-none d-lg-block">
                    <img src="{{ asset(post.blogPostImageUrl)|imagine_filter('post_thumbnail')  }}" alt="{{ post }}" class="img-fluid mb-1 d-block d-lg-none">
                    {% if post.imageCite %}
                        <div class="d-block mb-3 small">Foto:
                        {% if post.imageCityUrl %}
                            <span class=" fst-italic"><strong><a href="{{ post.imageCityUrl }}" target="_blank">{{ post.imageCite ? post.imageCite : '' }}</a></strong></span>
                            {% else %}
                                <span class="fst-italic"><strong>{{ post.imageCite ? 'Foto: ' ~ post.imageCite : '' }}</strong></span>
                        {% endif %}
                        </div>
                    {% endif %}

                {% endif %}
                <div class="fs-6">
                    {{ post.content|raw }}
                </div>
                {% if post.audio.name %}
                    <figure class="d-block mt-5">
                        <audio controls class="w-100">
                            <source src="{{ vich_uploader_asset(post, 'audioFile')  }}" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>
                    </figure>
                {% endif %}
                <div class="mt-5 mb-0 small"><span>{{ post.updatedAt|date('d.m.Y') }}</span> | <span class="text-uppercase">{{ post.type }}</span></div>
                <div class="fst-italic">Verfasst von: {{ post.author ? post.author.shortName : 'none' }}</div>
            </div>
            <div class="col-lg-4"></div>
        </div>


    </div>
</section>
{% endblock %}
{% block body %}


{% endblock %}

{% block aside %}

{% endblock %}
