{% extends '_full.html.twig' %}

{% set meta_title = 'Themen' %}
{% set meta_subtitle = post.type %}
{% set meta_description = post.content|striptags|slice(0,150) %}

{% set seo_title = post.title %}

{% set sidebar = 'blog' %}

{% block page_header %}
<section class="py-3">
    <div class="container">

        {{ include('component/blog_subbar.html.twig',{'selected':'show'}) }}

        <div class="row g-3">
            <div class="col-lg-8">
                <h1 class="h3">{{ post }}</h1>
                <h2 class="h5 text-primary">{{ post.subtitle }}</h2>
                {% if post.blogPostImageUrl %}
                    <img src="{{ asset(post.blogPostImageUrl)|imagine_filter('lead_thumbnail')  }}" alt="{{ post }}" class="img-fluid mb-1 d-none d-lg-block">
                    <img src="{{ asset(post.blogPostImageUrl)|imagine_filter('post_thumbnail')  }}" alt="{{ post }}" class="img-fluid mb-1 d-block d-lg-none">
                    {% if post.imageCite %}
                        <div class="d-block mb-3 small">Foto:
                        {% if post.imageCityUrl %}
                            <span class=" fst-italic"><strong><a href="{{ post.imageCityUrl }}" target="_blank">{{ post.imageCite ? post.imageCite : '' }}</a></strong></span>
                            {% else %}
                                <span class="fst-italic"><strong>{{ post.imageCite ? 'Foto: ' ~ post.imageCite : '' }}</strong></span>
                        {% endif %}
                        </div>
                    {% endif %}

                {% endif %}
                {% if post.blogPostAudioUrl %}
                    <figure class="d-block mt-5">
                        <audio controls class="w-100">
                            <source src="{{ asset(post.blogPostAudioUrl)  }}" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>
                    </figure>
                {% endif %}
                <div>
                    {{ post.content|raw }}
                </div>
                <div class="mt-5 mb-0 small"><span>{{ post.updatedAt|date('d.m.Y') }}</span> | <span class="text-uppercase">{{ post.type }}</span></div>
                <div class="fst-italic">Verfasst von: {{ post.author ? post.author.shortName : 'none' }}</div>
            </div>
            <div class="col-lg-4"></div>

            <div class="col-12 col-lg-4 mt-5">
                {% if prev_post %}
                    <a href="{{ url('blog_show',{'slug':prev_post.slug}) }}" class="d-flex flex-column text-decoration-none">
                        <div class="fs-5 text-wrap text-dark">{{ prev_post.title }}</div>
                        <div class="d-flex align-items-center">
                            <i class="ri-arrow-left-s-line me-2"></i>
                            Vorheriger Beitrag
                        </div>
                    </a>
                {% endif %}
            </div>

            <div class="col-12 col-lg-4 mt-lg-5">
                {% if next_post %}
                    <a href="{{ url('blog_show',{'slug':next_post.slug}) }}" class="d-flex flex-column align-items-lg-end text-decoration-none">
                        <div class="fs-5 text-wrap text-dark text-lg-end">{{ next_post.title }}</div>
                            <div class="d-flex align-items-center">
                            Nächster Beitrag
                            <i class="ri-arrow-right-s-line ms-2"></i>
                        </div>
                    </a>
                {% endif %}
            </div>

        </div>

    </div>
</section>
{% endblock %}
{% block body %}
{# TODO: JSON-LD Blog

<script type="application/ld+json">
{
"@context": "https://schema.org",
"@type": "Article",
"headline": "{{ article.title }}",
"description": "{{ article.description }}",
"author": {
"@type": "Person",
"name": "{{ article.author }}"
},
"publisher": {
"@type": "Organization",
"name": "Deine Webseite",
"logo": {
  "@type": "ImageObject",
  "url": "{{ asset('images/logo.png') }}"
}
},
"datePublished": "{{ article.published_at|date('Y-m-d') }}",
"dateModified": "{{ article.updated_at|date('Y-m-d') }}",
"image": "{{ article.image_url }}",
"mainEntityOfPage": {
"@type": "WebPage",
"@id": "{{ article.url }}"
}
}
</script>
#}
{% endblock %}

{% block aside %}

{% endblock %}
