{% extends '_full.html.twig' %}

{% set meta_title = 'Veranstaltungen' %}
{% set meta_subtitle = post.type %}
{% set meta_description = post.description|striptags|slice(0,150) %}

{% set seo_title = post.title %}

{% set sidebar = 'events' %}

{% block page_header %}
<section class="py-3">
    <div class="container">

        {{ include('component/event_subbar.html.twig',{'selected':'show'}) }}

        <div class="row g-3">

            <div class="col-12">
                <div class="card shadow-sm border-0 rounded rounded-2 bg-light-subtle">
                    <div class="card-body border-bottom border-primary">
                        <h3 class="h6 mb-0 text-center text-lg-start">Details</h3>
                        <div class="text-center text-lg-start fw-bolder text-primary text-truncate">{{ post }}</div>
                    </div>
                    <div class="card-body bg-white">
                        <div class="row row-cols-1 row-cols-lg-3 g-3 align-content-stretch mb-3">
                            <div class="col">
                                    <div class="h6 text-primary">Datum und Uhrzeit</div>
                                    <div>{{ post.startDate|date('d.m.Y, H:i') }} - {{ post.endDate|date('d.m.Y, H:i') }}</div>
                            </div>
                            {% if post.location %}
                                <div class="col">
                                    <div class="h6 text-primary">Veranstaltungsort</div>
                                    {% for line in post.location|split(',') %}
                                        <div>{{ line }}</div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            {% if post.contactPerson %}
                                <div class="col">
                                        <div class="h6 text-primary">Kontakt</div>
                                        <div>
                                            {% if post.website %}
                                                <div>
                                                    <a href="{{ post.website }}" target="_blank"><i class="fa fa-link me-2"></i>Website der Veranstaltung</a>
                                                </div>
                                            {% endif %}
                                            {% if post.contactEmail %}
                                                <a href="mailto:{{ post.contactEmail }}"><i class="fa fa-person fa-fw me-2"></i>{{ post.contactPerson }}</a>
                                            {% else %}
                                                <i class="fa fa-person fa-fw me-2"></i>{{ post.contactPerson }}
                                            {% endif %}
                                        </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-body border-top">
                        <div class="row">
                            <div class="col-lg-8">
                                {{ post.description|replace({'&nbsp;': ''})|raw }}
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-12">
                <div class="card shadow-sm border-0 rounded rounded-2 bg-light-subtle">
                    <div class="card-body border-bottom border-primary">
                        <h3 class="h6 mb-0 text-center text-lg-start">Teilnehmende Schulen</h3>
                    </div>
                    <div class="list-group list-group-flush bg-white border-bottom">
                        {% for school in post.school|sort((a,b) => a.title <=> b.title) %}
                            <div class="list-group-item p-0">
                                <a href="{{ url('people_school',{'bsn':school.bsn}) }}" class="ripplelink swipe-link-start d-flex justify-content-between align-items-center p-3">
                                    <span class="fw-bolder">{{ school.title }}</span>
                                    <i class="ri ri-arrow-right-s-line"></i>
                                </a>
                            </div>

                        {% endfor %}
                    </div>
                    <div class="card-body"></div>
                </div>
            </div>

            <div class="col-12 col-lg-6 mt-5">
                {% if prev_post %}
                    <a href="{{ url('event_show',{'slug':prev_post.slug}) }}" class="d-flex flex-column text-decoration-none">
                        <div class="fs-5 text-wrap text-dark">{{ prev_post.title }}</div>
                        <div class="d-flex align-items-center">
                            <i class="ri-arrow-left-s-line me-2"></i>
                            Vorheriger Termin
                        </div>
                    </a>
                {% endif %}
            </div>

            <div class="col-12 col-lg-6 mt-lg-5">
                {% if next_post %}
                    <a href="{{ url('event_show',{'slug':next_post.slug}) }}" class="d-flex flex-column align-items-lg-end text-decoration-none">
                        <div class="fs-5 text-wrap text-dark text-lg-end">{{ next_post.title }}</div>
                        <div class="d-flex align-items-center">
                            Nächster Termin
                            <i class="ri-arrow-right-s-line ms-2"></i>
                        </div>
                    </a>
                {% endif %}
            </div>

        </div>
    </div>
</section>


{% endblock %}

{% block body %}

    {% set location = post.location|split(',') %}


        <script type="application/ld+json">
            {
            "@context": "https://schema.org",
            "@type": "Event",
            "name": "{{ post }}",
            "startDate": "{{ post.startDate|date('c') }}",
            "endDate": "{{ post.endDate|date('c') }}",
            "location": {
            "@type": "Place",
            "name": "{{ location.0|default('Unbekannter Ort') }}"
            },
            "description": "{{ post.description|striptags }}",
            "offers": {
                "@type": "Offer",
                "validFrom": "{{ post.startDate|date('c') }}",
                "priceCurrency": "EUR",
                "price": "0",
                "availability": "InStock",
                "url": "{{ url('event_show',{'slug':post.slug}) }}"
            },
            "organizer": {
                "@type": "Organization",
                "name": "{{ post.contactPerson }}",
                "email": "{{ post.contactEmail }}",
                "url": "{{ post.website|default('https://www.alumni-portal.org') }}"
            },
            "eventStatus": "https://schema.org/EventScheduled",
            "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",
            "mainEntityOfPage": "{{ url('event_show',{'slug':post.slug}) }}",
            "performer": "{{ post.contactPerson }}"
            }
        </script>

{% endblock %}

{% block aside %}{% endblock %}
