{% extends '_full.html.twig' %}

{% set meta_title = 'Veranstaltungen' %}
{% set meta_subtitle = post.type %}

{% set sidebar = 'events' %}

{% block page_header %}
<section class="py-3">
    <div class="container">

        {{ include('component/event_subbar.html.twig',{'selected':'show'}) }}

        <div class="row g-3">
            <div class="col-12">
                <div class="mb-3">
                    <h1 class="h3">{{ post }}</h1>
                    {% if post.website %}
                        <a href="{{ post.website }}" target="_blank"><i class="fa fa-link me-2"></i>Website der Veranstaltung</a>
                    {% endif %}
                </div>
                <div class="row row-cols-1 row-cols-lg-3 g-3 align-content-stretch mb-3">
                    <div class="col">
                        <div class="card card-body h-100">
                            <div class="h5 text-primary"><i class="fa fa-calendar fa-fw me-1 text-black"></i>Datum und Uhrzeit</div>
                            <div>{{ post.startDate|date('d.m.Y, H:i') }} - {{ post.endDate|date('d.m.Y, H:i') }}</div>
                        </div>
                    </div>
                    {% if post.location %}
                        <div class="col">
                            <div class="card card-body h-100">
                                <div class="h5 text-primary"><i class="fa fa-location-dot fa-fw me-1 text-black"></i>Veranstaltungsort</div>
                                {% for line in post.location|split(',') %}
                                    <div>{{ line }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                    {% if post.contactPerson %}
                        <div class="col">
                            <div class="card card-body h-100">
                                <div class="h5 text-primary"><i class="fa fa-address-book fa-fw me-1 text-black"></i>Kontakt</div>
                                <div>{{ post.contactPerson }}</div>
                                {% if post.contactEmail %}
                                    <a href="mailto:{{ post.contactEmail }}">E-Mail schreiben</a>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-8">
                {{ post.description|raw }}
            </div>
        </div>
    </div>
</section>


{% endblock %}

{% block body %}{% endblock %}
{% block aside %}{% endblock %}
