{% extends '_full.html.twig' %}

{% set meta_title = 'Veranstaltungen' %}
{% set meta_subtitle = 'Übersicht' %}
{% set meta_description = 'Informiere dich über Veranstaltungen und Events der Alumni und ehemaligen Lehrkräfte sowie der teilnehmenden Schulen und Kollegs.' %}

{% set seo_title = 'Alle Veranstaltungen des Zweiten Bildungsweges' %}

{% set sidebar = 'events' %}

{% block page_header %}
<section class="py-3">
    <div class="container px-0">
        <div class="mb-5 px-3 px-sm-0">
        {{ include('component/event_subbar.html.twig',{'selected':'index'}) }}


        {{ include('component/_event_filter.html.twig') }}</div>

        <div class="row g-3">
            <div class="col-12">

                <div class="row row-cols-1 align-content-stretch">
                    <div class="col">
                        <div class="card shadow-sm bg-light-subtle border-0 rounded rounded-2">
                            <div class="card-body border-0 border-bottom border-primary">
                                <h3 class="h6 mb-0 text-center text-lg-start">Ergebnisse</h3>
                            </div>
                            <div class="card-body py-1 border-bottom">
                                <nav aria-label="Page Navigation" class="d-flex justify-content-center">
                                    <ul class="pagination mx-auto mb-0">
                                        {% set page_nr = 1 %}
                                        {% for event_nr in 1..event_count %}
                                            {% if loop.first or loop.index0 is divisible by(10) %}
                                                <li class="page-item">
                                                    <a class="page-link border-top-0 border-bottom-0 {{ page == page_nr ? 'active' : '' }}" href="{{ url('event_index',{'page':page_nr}) }}">
                                                        {{ page_nr }}
                                                    </a>
                                                </li>
                                                {% set page_nr = page_nr + 1 %}
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </nav>
                            </div>
                            <div class="list-group list-group-flush">
                                {% for post in posts|sort((a, b) => b.startDate <=> a.startDate) %}
                                    {% if loop.index <= 10 %}
                                        {% if post.endDate|date('Ymd') >= date('now')|date('Ymd')%}
                                            {{ include('component/_event_list.html.twig') }}
                                        {% endif %}
                                        {% if post.endDate|date('Ymd') <= date('-1 days')|date('Ymd')%}
                                            {{ include('component/_event_list_old.html.twig') }}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="card-body py-1 border-top">
                                <nav aria-label="Page Navigation" class="d-flex justify-content-center">
                                    <ul class="pagination mx-auto mb-0 ">
                                        {% set page_nr = 1 %}
                                        {% for event_nr in 1..event_count %}
                                            {% if loop.first or loop.index0 is divisible by(10) %}
                                                <li class="page-item">
                                                    <a class="page-link border-top-0 border-bottom-0 {{ page == page_nr ? 'active' : '' }}" href="{{ url('event_index',{'page':page_nr}) }}">
                                                        {{ page_nr }}
                                                    </a>
                                                </li>
                                                {% set page_nr = page_nr + 1 %}
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </nav>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>
{% endblock %}
{% block body %}


{% endblock %}

{% block aside %}



{% endblock %}