{% extends '_full.html.twig' %}

{% set meta_title = 'Nachrichten' %}
{% set meta_subtitle = post.type %}

{% set sidebar = 'news' %}

{% block page_header %}
<section class="py-3">
    <div class="container">

        {{ include('component/news_subbar.html.twig',{'selected':'show'}) }}

        <div class="row g-3">

            <div class="col-lg-8">
            <h1 class="h3">{{ post }}</h1>
            <h2 class="h5 text-primary">{{ post.subtitle }}</h2>
            {% if post.blogPostImageUrl %}
                <img src="{{ asset(post.blogPostImageUrl)|imagine_filter('lead_thumbnail')  }}" alt="{{ post }}" class="img-fluid mb-1">
                <small class="d-block mb-3 fst-italic">Bildunterschrift und Quelle</small>
            {% endif %}
            <div class="fs-6">
                {{ post.content|raw }}
            </div>
            <div class="mb-0 mt-5 small"><span>{{ post.updatedAt|date('d.m.Y') }}</span> | <span class="text-uppercase">{{ post.type }}</span></div>
            <div class="fst-italic">Verfasst von: {{ post.author ? post.author.shortName : 'none' }}</div>
            </div>
            <div class="col-lg-4"></div>
        </div>
    </div>
</section>
{% endblock %}
{% block body %}

{% endblock %}

{% block aside %}

{% endblock %}