{% extends '_full.html.twig' %}

{% set meta_title = 'Nachrichten' %}
{% set meta_subtitle = 'Beitragsübersicht' %}
{% set meta_description = 'Erfahre mehr über aktuelle Nachrichten und Pressemitteilungen der Alumni und ehemaligen Lehrkräfte sowie der teilnehmenden Schulen und Kollegs.' %}

{% set seo_title = 'Aktuelle Nachrichten und Pressemitteilungen' %}

{% set sidebar = 'news' %}

{% block page_header %}
<section class="py-3">
    <div class="container">

        {{ include('component/news_subbar.html.twig',{'selected':'index'}) }}

        {{ include('component/_pagination.html.twig',{'route_url':'blog_news_index', 'post_count':post_count, 'cut': 10}) }}

        <div class="row g-3">

            <div class="col-lg-12">
                {% for post in posts %}
                    {% if loop.index <= 10 %}
                        {% if post.isPublished %}
                            <div class="col">
                                <div class="card bg-white shadow-sm rounded rounded-2 mb-3 border-0 h-100">
                                    <div class="row g-1">
                                        {% if post.blogPostImage %}
                                            <div class="col-12 col-lg-3 order-1 order-lg-0">
                                                <img src="{{ asset(post.blogPostImageUrl)|imagine_filter('post_thumbnail')  }}" alt="{{ post }}" class="d-none d-lg-block rounded-start img-fluid">
                                                <img src="{{ asset(post.blogPostImageUrl)|imagine_filter('post_thumbnail')  }}" alt="{{ post }}" class="d-block d-lg-none img-fluid">
                                            </div>
                                            <div class="col-12 col-lg-9 order-0 order-lg-2">
                                                <div class="card-body">
                                                    <div class="mb-0"><span>{{ post.updatedAt|date('d.m.Y') }}</span> | <span class="text-uppercase">{{ post.type }}</span></div>
                                                    <a href="{{ path('blog_news_show',{'slug':post.slug}) }}" class="fs-4 card-link stretched-link text-decoration-none">{{ post }}</a>
                                                    <div class="d-none d-lg-block">
                                                        <div class="d-block text-truncate fs-6 text-wrap">{{ post.content|striptags|u.truncate(200) }}...</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 d-block d-lg-none order-2">
                                                <div class="card-body">
                                                    <div class="d-block text-truncate fs-6 text-wrap">{{ post.content|striptags|u.truncate(200) }}...</div>
                                                </div>
                                            </div>

                                        {% else %}
                                            <div class="col-12">
                                                <div class="card-body">
                                                    <div class="mb-0"><span>{{ post.updatedAt|date('d.m.Y') }}</span> | <span class="text-uppercase">{{ post.type }}</span></div>
                                                    <a href="{{ path('blog_news_show',{'slug':post.slug}) }}" class="fs-4 card-link stretched-link text-decoration-none">{{ post }}</a>
                                                    <div class="d-block text-truncate fs-6 text-wrap">{{ post.content|striptags|u.truncate(200) }}...</div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>

                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        {{ include('component/_pagination.html.twig',{'route_url':'blog_news_index', 'post_count':post_count, 'cut': 10}) }}

    </div>
</section>
{% endblock %}
{% block body %}

{% endblock %}

{% block aside %}

{% endblock %}