{% extends 'base.html.twig' %}

{% block title %}Aktuelle Meldungen{% endblock %}

{% block navbar %}
    <li class="nav-item"><a class="nav-link active" href="{{ url('blog_news_all_index') }}">Aktuelles</a></li>
    <li class="nav-item"><a class="nav-link" href="{{ url('blog_index') }}">Themen</a></li>
    <li class="nav-item"><a class="nav-link" href="{{ url('event_index') }}">Termine</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Angebote</a></li>
    <li class="nav-item"><a class="nav-link" href="{{ url('people_index') }}">Personen</a></li>
{% endblock %}

{% block page_header %}
    <nav class="bg-transparent" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url('app_index') }}">treptowkolleg.de</a></li>
            <li class="breadcrumb-item"><a href="{{ url('blog_news_all_index') }}">Aktuelles</a></li>
            <li class="breadcrumb-item active fw-bolder" aria-current="page">Meldungen</li>
        </ol>
    </nav>

    <h1 class="h3">Aktuelle Meldungen</h1>
{% endblock %}
{% block body %}
    <div class="row row-cols-1 g-3 align-content-stretch">
        {% for post in posts %}
            {% if post.isPublished %}
                <div class="col">
                    <div class="card border-0 bg-transparent mb-2 pb-2 border-bottom h-100">
                        <div class="row">
                            <div class="col-12 mb-2">
                                <div class="mb-0"><span>{{ post.updatedAt|date('d.m.Y') }}</span> | <span class="text-uppercase">{{ post.type }}</span></div>
                                <a href="{{ path('blog_news_show',{'slug':post.slug}) }}" class="fs-3 card-link link-primary text-decoration-none">{{ post }}</a>
                            </div>
                            {% if post.image.name %}
                                <div class="col-12 col-md-4">
                                    <img src="{{ vich_uploader_asset(post)|imagine_filter('post_thumbnail')  }}" alt="{{ post }}" class="img-fluid mb-2">
                                </div>
                                <div class="col-12 col-md-8">
                                    <div class="d-block text-truncate fs-6 mb-3 text-wrap">{{ post.content|striptags|u.truncate(200) }}...</div>
                                    <a href="{{ path('blog_news_show',{'slug':post.slug}) }}" class="btn btn-outline-primary">weiterlesen</a>
                                </div>
                            {% else %}
                                <div class="col-12">
                                    <div class="d-block text-truncate fs-6 mb-3 text-wrap">{{ post.content|striptags|u.truncate(200) }}...</div>
                                    <a href="{{ path('blog_news_show',{'slug':post.slug}) }}" class="btn btn-outline-primary">weiterlesen</a>
                                </div>
                            {% endif %}
                        </div>

                    </div>
                </div>
            {% endif %}
        {% else %}
            <div class="col">
                Aktuell sind keine Meldungen vorhanden
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block aside %}

{% endblock %}