{% extends '_full.html.twig' %}

{% set meta_title = 'Nachrichten' %}
{% set meta_subtitle = post.type %}
{% set meta_description = post.content|striptags|slice(0,150) %}

{% set seo_title = post.title %}

{% set sidebar = 'news' %}

{% block page_header %}
<section class="py-3">
    <div class="container">

        {{ include('component/news_subbar.html.twig',{'selected':'show'}) }}

        <div class="row g-3">

            <div class="col-lg-8">
            <h3 class="h3">{{ post }}</h3>
            <h4 class="h5 text-primary">{{ post.subtitle }}</h4>
            {% if post.blogPostImage %}
                <img src="{{ asset(post.blogPostImageUrl)|imagine_filter('lead_thumbnail')  }}" alt="{{ post }}" class="img-fluid mb-1 d-none d-lg-block">
                <img src="{{ asset(post.blogPostImageUrl)|imagine_filter('post_thumbnail')  }}" alt="{{ post }}" class="img-fluid mb-1 d-block d-lg-none">
                {% if post.imageCite %}
                    <div class="d-block mb-3 small">Foto:
                        {% if post.imageCityUrl %}
                            <span class=" fst-italic"><strong><a href="{{ post.imageCityUrl }}" target="_blank">{{ post.imageCite ? post.imageCite : '' }}</a></strong></span>
                        {% else %}
                            <span class="fst-italic"><strong>{{ post.imageCite ? post.imageCite : '' }}</strong></span>
                        {% endif %}
                    </div>
                {% endif %}
            {% endif %}
            <div class="fs-6">
                {{ post.content|raw }}
            </div>
            <div class="mb-0 mt-5 small"><span>{{ post.updatedAt|date('d.m.Y') }}</span> | <span class="text-uppercase">{{ post.type }}</span></div>
            <div class="fst-italic">Verfasst von: {{ post.author ? post.author.shortName : 'none' }}</div>
            </div>
            <div class="col-lg-4"></div>

            <div class="col-12 col-lg-4 mt-5">
                {% if prev_post %}
                    <a href="{{ url('blog_news_show',{'slug':prev_post.slug}) }}" class="d-flex flex-column text-decoration-none">
                        <div class="fs-5 text-wrap text-dark">{{ prev_post.title }}</div>
                        <div class="d-flex align-items-center">
                            <i class="ri-arrow-left-s-line me-2"></i>
                            Vorheriger Beitrag
                        </div>
                    </a>
                {% endif %}
            </div>

            <div class="col-12 col-lg-4 mt-lg-5">
                {% if next_post %}
                    <a href="{{ url('blog_news_show',{'slug':next_post.slug}) }}" class="d-flex flex-column align-items-lg-end text-decoration-none">
                        <div class="fs-5 text-wrap text-dark text-lg-end">{{ next_post.title }}</div>
                        <div class="d-flex align-items-center">
                            Nächster Beitrag
                            <i class="ri-arrow-right-s-line ms-2"></i>
                        </div>
                    </a>
                {% endif %}
            </div>

        </div>
    </div>
</section>
{% endblock %}
{% block body %}
    <script type="application/ld+json">
        {
        "@context": "https://schema.org",
        "@type": "NewsArticle",
        "headline": "{{ post.title }}",
"description": "{{ post.subtitle }}",
"author": {
    "@type": "Person",
    "name": "{{ post.author.userProfiles.0 }}",
    "url": "{{ url('app_index')  }}"
    },
"publisher": {
"@type": "Organization",
"name": "Alumni-Portal des Zweiten Bildungsweges",
"logo": {
      "@type": "ImageObject",
      "url": "{{ absolute_url(asset('favicon.192x192.png')) }}"
    }
},
"datePublished": "{{ post.updatedAt|date('c') }}",
"dateModified": "{{ post.updatedAt|date('c') }}",
"image": "{{ asset(post.blogPostImageUrl)|imagine_filter('post_thumbnail')  }}",
"mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ url('blog_show',{'slug':post.slug}) }}"
    },
"articleSection": "{{ post.type }}",
"isAccessibleForFree": "true",
"url": "{{ url('blog_show',{'slug':post.slug})  }}"
}
    </script>
{% endblock %}

{% block aside %}

{% endblock %}