{% extends '_full.html.twig' %}

{% set meta_title = 'Mein Portal' %}
{% set meta_subtitle = 'Postfach' %}
{% set sidebar = 'profile-chat' %}

{% block page_header %}
<section class="py-3">
    <div class="container">
        {{ include('component/profile_subbar.html.twig',{'selected':'chat'}) }}

        <div class="row g-3">


            <div class="col-lg-12">
                <div class="d-flex flex-column flex-lg-row">
                    <a class="{{ partner.isContactable ?: 'disabled' }} btn btn-primary mb-3 mb-lg-0 me-0 me-lg-2" href="{{ url('chat_new',{'id':message.chat.id}) }}"><i class="fa-regular fa-paper-plane me-2"></i>Neue Nachricht</a>
                    <a class="btn btn-light"  href="{{ url('chat_start',{'slug':partner.slug}) }}"><i class="fas fa-chevron-left me-2 text-primary"></i>Zurück zum Postfach</a>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="card bg-white">
                    <div class="card-body  border-bottom border-primary">
                        <h3 class="h5 mb-0 text-center text-lg-start text-truncate">{{ message.subject }}</h3>
                        <div class="text-center text-lg-start fw-bolder text-primary text-truncate"><a href="{{ url('people_show',{'slug':partner.slug}) }}" class=" text-decoration-none"><i class="bx bx-user me-1"></i>{{ partner.userprofiles.first }}</a></div>
                    </div>
                    <div class="card-body">
                        <div class="pb-3 mb-3 border-bottom">{{ message.message|striptags|nl2br }}</div>
                        <div class="d-flex justify-content-between align-items-center">
                            {% if message.sender != app.user %}
                                <a class="{{ partner.isContactable ?: 'disabled' }} btn btn-sm btn-light"  href="{{ url('chat_new',{'id':message.chat.id,'subject':message.subject}) }}"><i class="fa-solid fa-reply text-primary"></i><span class="ms-2 d-none d-lg-inline">Antworten</span></a>
                            {% else %}
                                <div>
                                    Von dir
                                </div>
                            {% endif %}
                            <div class="text-center text-lg-start small text-muted">{{ message.created|ago }} gesendet</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="d-flex justify-content-between align-items-center">
                    <a href="#" class="disabled text-decoration-none"><i class="ri ri-arrow-left-s-line me-1"></i>Vorherige</a>
                    <a href="#" class="text-decoration-none">Nächste<i class="ri ri-arrow-right-s-line ms-1"></i></a>
                </div>
            </div>

        </div>
    </div>
</section>






{% endblock %}

{% block body %}{% endblock %}
{% block aside %}{% endblock %}