{% extends '_full.html.twig' %}

{% set meta_title = 'Mein Portal' %}
{% set meta_subtitle = 'Postfach' %}
{% set sidebar = 'profile-chat' %}

{% set seo_title = 'Postfachübersicht' %}

{% block page_header %}
    <section class="py-3">
        <div class="container">
            {{ include('component/profile_subbar.html.twig',{'selected':'chat'}) }}

            <div class="row g-3">

                <div class="col-lg-12">
                    <div class="alert alert-warning rounded-2 shadow-sm" role="alert">
                        <span>Das Nachrichtensystem wird derzeit überarbeitet und kann eventuell Fehler erzeugen.</span>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="">
                        <div class="d-flex flex-column flex-lg-row">
                            <a href="#" class="btn btn-primary rounded-2 flex-grow-1 flex-lg-grow-0" data-bs-toggle="modal" data-bs-target="#messageModal"><i class="ri-chat-4-line me-2"></i>Neue Nachricht</a>
                            <div class="ms-lg-3 mt-3 mt-lg-0 flex-grow-1 flex-lg-grow-1">
                                <label for="table-search" class="visually-hidden" hidden="hidden">Filtern</label>
                                <input type="search" class="form-control h-100" id="table-search" placeholder="Nachrichten filtern" aria-controls="datatable" style="height: 38px!important;">
                            </div>
                        </div>
                    </div>
                </div>



                <div class="col-lg-12">
                    <div class="card bg-light-subtle rounded-2 border-0 shadow-sm">
                        <div class="card-header bg-light-subtle rounded-top-2">
                            <ul class="nav nav-tabs card-header-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active rounded-top-2" data-bs-toggle="tab" href="#a">
                                        <i class="ti ti-inbox text-primary"></i>
                                        <span class="ms-1">Eingang</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link rounded-top-2" data-bs-toggle="tab" href="#b">
                                        <i class="ti ti-outbound text-primary"></i>
                                        <span class="ms-1">Ausgang</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane active" id="a">
                                <div id="inbound" class="table-responsive">
                                    <table class="table table-hover nowrap" style="width: 100%" id="datatable">
                                        <thead>
                                        <tr>
                                            <th>Von</th>
                                            <th>Betreff</th>
                                            <th class="text-end">Datum</th>
                                            <th class="text-end"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for message in receivedMessages|sort((b, a) => a.created <=> b.created) %}
                                            <tr class="{{ message.isRead ? '' : 'fw-bold' }}">
                                                <td>
                                                    <a href="{{ url('people_show',{'slug':message.sender.slug}) }}" class="text-decoration-none d-flex justify-content-start align-items-center"><i class="ti ti-user text-primary me-1"></i>{{ message.sender.userProfiles.first }}</a>
                                                </td>
                                                <td>
                                                    <a href="{{ url('chat_read',{'id':message.id}) }}" class="d-block text-decoration-none">{{ message.title }}</a>
                                                </td>
                                                <td class="text-end">
                                                    {{ message.created|date('d.m.Y H:i') }}
                                                </td>
                                                <td>
                                                    <a href="#" class="d-block text-decoration-none"><i class="ti ti-trash"></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane active" id="b">
                                <div id="outbound" class="table-responsive">
                                    <table class="table table-hover nowrap" style="width: 100%" id="datatable-2">
                                        <thead>
                                        <tr>
                                            <th>An</th>
                                            <th>Betreff</th>
                                            <th class="text-end">Datum</th>
                                            <th class="text-end"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for message in sendMessages|sort((b, a) => a.created <=> b.created) %}
                                            <tr>
                                                <td>
                                                    <a href="{{ url('people_show',{'slug':message.recipient.slug}) }}" class="text-decoration-none d-flex justify-content-start align-items-center"><i class="ti ti-user text-primary me-1"></i>{{ message.recipient.userProfiles.first }}</a>
                                                </td>
                                                <td>
                                                    <a href="{{ url('chat_read',{'id':message.id}) }}" class="d-block text-decoration-none">{{ message.title }}</a>
                                                </td>
                                                <td class="text-end">
                                                    {{ message.created|date('d.m.Y H:i') }}
                                                </td>
                                                <td>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block body %}
{% endblock %}

{% block aside %}
    <!-- Modal -->
    <div class="modal fade" id="messageModal" tabindex="-1" aria-labelledby="messageModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content rounded-2 border-0 bg-white shadow">
                {{ form_start(form) }}
                <div class="modal-header">
                    <h1 class="modal-title fs-6" id="messageModalLabel">Neue Nachricht</h1>
                    <button type="button" class="btn-close btn-sm" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{ form_row(form.recipient) }}
                    {{ form_row(form.title) }}
                    {{ form_row(form.content) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light rounded-2" data-bs-dismiss="modal">Abbrechen</button>
                    <button type="submit" class="btn btn-primary rounded-2">Senden</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}