{% extends 'base.html.twig' %}

{% block title %}Chat{% endblock %}

{% block navbar %}
    <li class="nav-item"><a class="nav-link" href="{{ url('blog_news_all_index') }}">Aktuelles</a></li>
    <li class="nav-item"><a class="nav-link" href="{{ url('blog_index') }}">Themen</a></li>
    <li class="nav-item"><a class="nav-link" href="{{ url('event_index') }}">Termine</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Angebote</a></li>
    <li class="nav-item"><a class="nav-link active" href="{{ url('people_index') }}">Personen</a></li>
{% endblock %}

{% block page_header %}
    <nav class="bg-transparent" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url('app_index') }}">treptowkolleg.de</a></li>
            <li class="breadcrumb-item"><a href="{{ url('people_index') }}">Personen</a></li>
            <li class="breadcrumb-item active fw-bolder" aria-current="page">Chat</li>
        </ol>
    </nav>

    <h1 class="h3 mb-3">Chat</h1>

    <a href="{{ url('chat_index') }}" class="btn btn-outline-primary mb-3"><i class="fas fa-chevron-left me-2"></i>Zurück zur Übersicht</a>
{% endblock %}
{% block body %}
    <div class="row g-3">
        <div class="col-2 col-md-1">
            {% if partner.image.name %}
                <img src="{{ vich_uploader_asset(partner)|imagine_filter('avatar')  }}" class="img-fluid" alt="...">
            {% else %}
                <img src="{{ asset('images/avatar_no_text.svg') }}" class="img-fluid" alt="...">
            {% endif %}
        </div>
        <div class="col-8 col-md-7"></div>
        <div class="col-2 col-md-1">
            {% if app.user.image.name %}
                <img src="{{ vich_uploader_asset(app.user)|imagine_filter('avatar')  }}" class="img-fluid" alt="...">
            {% else %}
                <img src="{{ asset('images/avatar_no_text.svg') }}" class="img-fluid" alt="...">
            {% endif %}
        </div>
        <div class="col-9">
            <div class="d-flex justify-content-between">
                <input type="text" class="form-control" placeholder="Nachricht senden...">
                <button type="submit" class="btn btn-primary"><i class="fa-solid fa-paper-plane"></i></button>
            </div>
        </div>
        <div class="col-3"></div>
        <div class="col-md-9">
            <div class="p-3 border-bottom border-top" style="height: 400px; overflow-y: auto; -ms-overflow-y: auto">
                <div class="d-flex flex-column h-100">
                    <span class="me-auto flex-shrink-1 mb-1" style="font-size: .8rem">23.07.10:22</span>
                    <span class="bg-light me-auto text-wrap flex-shrink-1 p-2 mb-3" style="max-width: 70%">Hey, wie geht's?<br>Mir geht es soweit ziemlich gut. Ich bin auf jeden Fall auf die nächste Veranstaltung gespannt.</span>

                    <span class="ms-auto flex-shrink-1 mb-1" style="font-size: .8rem">23.07.1998 10:08</span>
                    <span class="bg-primary-subtle ms-auto text-wrap flex-shrink-1 p-2 mb-3" style="max-width: 70%">Hallo!</span>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
        <small>Die neueste Nachricht ist immer oben!</small>
    </div>
{% endblock %}

{% block aside %}
    <div class="fs-5 fw-bolder mb-1">Konversationen</div>
    <div class="card  border-primary">
        <div class="list-group list-group-flush">
            {% for chat in chats|sort %}
                {% set active = '' %}
                {% if (chat.owner == app.user) %}
                {% if(chat.participant == partner) %}{% set active = 'active' %}{% endif %}
                    <a href="{{ url('chat_start',{'slug':chat.participant.slug}) }}" class="py-3 list-group-item list-group-item-action {{ active }}">{{ chat.participant.userProfiles.first }}</a>
                {% else %}
                    {% if(chat.owner == partner) %}{% set active = 'active' %}{% endif %}
                    <a href="{{ url('chat_start',{'slug':chat.owner.slug}) }}" class="py-3 list-group-item list-group-item-action {{ active }}">{{ chat.owner.userProfiles.first }}</a>
                {% endif %}
            {% else %}
                <div class="list-group-item">Noch keine Chats vorhanden.</div>
            {% endfor %}
        </div>
    </div>
{% endblock %}