{% for city, schools in items %}
    <div class="col mb-3">
        <div class="accordion accordion-flush" id="schools-{{ city }}">
            <div class="accordion-item bg-transparent">
                <h6 class="accordion-header bg-transparent">
                    <button class="accordion-button p-0 border-0 bg-transparent collapsed" style="box-shadow: none" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ city }}" aria-expanded="true" aria-controls="collapse-{{ city }}">
                        {{ city }}
                    </button>
                </h6>
                <div id="collapse-{{ city }}" class="accordion-collapse collapse" data-bs-parent="#schools-{{ city }}">
                    <div class="accordion-body px-0">
                        <ul class="nav flex-column small">
                            {% for school in schools|sort((a, b) => a.title <=> b.title) %}
                            <li class="nav-item p-1"><a href="{{ url('people_school',{'bsn':school.bsn}) }}" class="nav-link p-0 text-body-secondary">{{ school.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "ItemList",
    "name": "Kollegs und Abendgymnasien in Deutschland",
    "description": "Liste der teilnehmenden Schulen der Bundesländer Deutschlands für das Alumni-Portal.",
    "url": "{{ url('app_index') }}",
    "itemListElement": [
    {% for city, schools in items %}
        {
            "@type": "ItemList",
            "name": "{{ city }}",
            "itemListElement": [
            {% for school in schools|sort((a, b) => a.title <=> b.title) %}
                {
                    "@type": "ListItem",
                    "position": "{{ loop.index }}",
                    "item": {
                        "@type": "Course",
                        "name": "Abitur im Zweiten Bildungsweg",
                        "description": "Verbessere BAföG-gefördert deinen Schulabschluss.",
                        "provider": {
                            "@type": "Organization",
                            "name": "{{ school.title }}",
                            "sameAs": "{{ url('people_school',{'bsn':school.bsn}) }}"
                        },
                        "url": "{{ url('people_school',{'bsn':school.bsn}) }}"
                    }
                }{% if not loop.last %},{% endif %}
            {% endfor %}
            ]
        }{% if not loop.last %},{% endif %}
    {% endfor %}
    ]
  }
</script>


