<footer class="pb-3 bg-off bg-opacity-25">

    <div class="container">
        <h6 class="text-muted mt-3 mb-4 fw-normal small">Teilnehmende Kollegs und Abendgymnasien</h6>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
            {{ render(controller('App\\Controller\\ApiController::getSchools')) }}
        </div>
    </div>

    <div class="container">
        <div class="d-flex align-items-center flex-wrap mb-3 mt-3 pb-3 border-bottom">
            <a class="text-decoration-none bg-white p-2 me-2" href="https://www.treptow-kolleg.de" target="_blank"><img src="{{ asset('images/tk.png') }}" class="" height="24" alt="code-for-logo"></a>
            <a class="text-decoration-none bg-white p-2" href="https://codefor.de/berlin/" target="_blank"><img src="https://codefor.de/img/logo.svg" class="" alt="code-for-logo" height="24"></a>
        </div>
        <div class="d-flex flex-column flex-lg-row justify-content-between align-items-center">

            <div class="me-lg-auto mb-3 mb-lg-0 small">
                &copy;2024 Alumni am Treptow-Kolleg Berlin
            </div>
            <div class="text-center">
                <ul class="list-inline mb-0 small">
                    <li class="list-inline-item"><a href="{{ url('app_imprint') }}" class="">Impressum</a></li>
                    <li class="list-inline-item"><a href="{{ url('app_privacy') }}" class="">Datenschutz</a></li>
                    <li class="list-inline-item"><a href="{{ url('app_green_data') }}" class="">Green-Data</a></li>
                    <li class="list-inline-item"><a href="{{ url('app_terms') }}" class="">Nutzungsbedingungen</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>