<div class="py-0 global-nav border-bottom border-primary border-3 shadow-sm sticky-top">
    <div class="container d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
            <a href="{{ path('app_index') }}"
               class="d-flex align-items-center link-body-emphasis text-decoration-none p-2 me-2 ps-0 border-end border-3 border-primary">
                <img src="{{ asset('images/logo.svg') }}" height="24" class="" alt="logo">
            </a>
            <div>
                <h1 class="h5 mb-0 user-select-none">{{ meta_title|default('Alumni Portal') }}</h1>
                <h2 class="h6 user-select-none text-primary mb-0">{{ meta_subtitle|default('des ZBW') }}</h2>
            </div>
        </div>


        <ul class="nav py-3">
            {% if app.user %}
                <li class="nav-item  dropdown">
                        <a type="button" class="nav-link dropdown-toggle pe-0" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="ri-user-3-line"></i>
                            {% if is_granted('ROLE_USER') and app.user.isVerified and app.user.userProfiles.count > 0 %}
                                <span id="unread-count" data-id="{{ app.user.id }}" class="d-none small badge text-bg-secondary rounded fw-normal align-self-center" style="font-size: .6rem;"></span>
                            {% endif %}
                        </a>
                        <ul class="dropdown-menu rounded rounded-2 shadow border-0 bg-white">
                            <li><h6 class="dropdown-header">Alumni-Portal</h6></li>
                            <li><a class="dropdown-item" href="{{ url('profile_index') }}"><i class="ri-layout-2-line ri-fw me-2"></i>Mein Portal</a></li>
                            <li><a class="dropdown-item" href="{{ url('chat_index') }}"><i class="ri-contacts-book-2-line ri-fw me-2" id="mail-marker"></i><span>Kontakte</span></a></li>
                            <li><a class="dropdown-item" href="{{ url('profile_school') }}"><i class="ri-school-line ri-fw me-2"></i>Meine Schule</a></li>
                            <li>
                                <a class="dropdown-item d-flex justify-content-between align-items-center" href="{{ url('blog_news_offer_index') }}">
                                    <div>
                                        <i class="ri-money-euro-box-line ri-fw me-2"></i>Stellenangebote
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <span class=" ms-2 badge bg-primary-subtle text-primary rounded fw-normal">neu</span>
                                    </div>
                                </a>
                            </li>
                            <li class="dropdown-divider"></li>
                            <li><h6 class="dropdown-header">Einstellungen</h6></li>
                            <li><a class="dropdown-item" href="{{ path('profile_profile_new') }}"><i class="ri-user-3-line ri-fw me-2"></i>Profil</a></li>
                            <li><a class="dropdown-item" href="{{ url('profile_image_new') }}"><i class="ri-image-2-line ri-fw me-2"></i>Profilbild</a></li>
                            <li><a class="dropdown-item" href="{{ url('profile_settings') }}"><i class="ri-settings-2-line ri-fw me-2"></i>Konto</a></li>
                            {% if is_granted('ROLE_AUTHOR') or is_granted('ROLE_PLANNER') %}
                                <li class="dropdown-divider"></li>
                                <li><h6 class="dropdown-header">Administration</h6></li>
                                <li>
                                    <a href="{{ path('admin') }}" class="dropdown-item" target="_blank">
                                        <i class="ti ti-dashboard me-1"></i>
                                        Übersicht
                                    </a>
                                </li>
                            {% endif %}
                            <li class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{{ url('app_logout') }}"><i class="ri-logout-box-line ri-fw me-2"></i>Abmelden</a></li>
                        </ul>
                </li>
                {% if app.user.userProfiles.count > 0 %}

                {% endif %}
            {% else %}
                <li class="nav-item"><a href="{{ url('profile_index') }}" class="nav-link pe-0"><i class="ri-user-3-line"></i></a></li>
            {% endif %}
            <li class="nav-item"><a href="#" class="nav-link pe-0" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i class="ri-menu-line"></i></a></li>
        </ul>
    </div>
</div>

<div class="offcanvas offcanvas-end bg-white" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <div class="h5 offcanvas-title" id="offcanvasRightLabel">
            <div class="d-flex align-items-center">
                <img src="{{ asset('images/logo.svg') }}" height="24" class="me-2" alt="logo">
                Navigation
            </div>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        {{ include('component/_profile_sidebar.html.twig',{'selected':sidebar|default('main')}) }}
    </div>
</div>