<div class="py-0 bg-white border-bottom border-primary border-3 shadow-sm sticky-top">
    <div class="container d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
            <a href="{{ path('app_index') }}"
               class="d-flex align-items-center link-body-emphasis text-decoration-none p-2 me-2 ps-0 border-end border-3 border-primary">
                <img src="{{ asset('images/logo.svg') }}" height="24" class="" alt="logo">
            </a>
            <div>
                <div class="h5 mb-0 user-select-none">{{ meta_title|default('Alumni Portal') }}</div>
                <div class="h6 user-select-none text-primary mb-0">{{ meta_subtitle|default() }}</div>
            </div>
        </div>

        <div class="ms-auto me-5 d-none d-lg-block" style="min-width: 300px">
            {{ render(controller('App\\Controller\\AppController::searchForm')) }}
        </div>
        <ul class="nav py-3">
            {% if app.user %}
                <li class="nav-item  dropdown">
                        <a type="button" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bx bx-user" style="vertical-align: middle"></i>
                            {% if is_granted('ROLE_USER') and app.user.isVerified and app.user.userProfiles.count > 0 %}
                                <span id="unread-count" data-id="{{ app.user.id }}" class="d-none small badge text-bg-secondary rounded fw-normal align-self-center" style="font-size: .6rem; vertical-align: middle"></span>
                            {% endif %}
                        </a>
                        <ul class="dropdown-menu">
                            <li><h6 class="dropdown-header">Alumni-Portal</h6></li>
                            <li><a class="dropdown-item" href="{{ url('profile_index') }}"><i class="bx bx-fw bx-card"></i>Mein Portal</a></li>
                            <li><a class="dropdown-item" href="{{ url('chat_index') }}"><i class="bx bx-fw bx-group" id="mail-marker"></i><span>Kontakte</span></a></li>
                            <li><a class="dropdown-item" href="{{ url('people_index',{'filter':'school'}) }}"><i class="bx bx-fw bxs-school"></i>Meine Schule</a></li>
                            <li class="dropdown-divider"></li>
                            <li><h6 class="dropdown-header">Einstellungen</h6></li>
                            <li><a class="dropdown-item" href="{{ path('profile_profile_new') }}"><i class="bx bx-fw bxs-user-detail"></i>Profil</a></li>
                            <li><a class="dropdown-item" href="{{ url('profile_image_new') }}"><i class="bx bx-fw bx-image"></i>Profilbild</a></li>
                            <li><a class="dropdown-item" href="{{ url('profile_index') }}"><i class="bx bx-fw bx-cog"></i>Konto</a></li>
                            <li class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{{ url('app_logout') }}"><i class="bx bx-fw bx-log-out-circle"></i>Abmelden</a></li>
                        </ul>
                </li>
                {% if app.user.userProfiles.count > 0 %}

                {% endif %}
            {% else %}
                <li class="nav-item"><a href="{{ url('app_register') }}" class="nav-link"><i class="fa-solid bx bx-plus" style="vertical-align: middle"></i></a></li>
                <li class="nav-item"><a href="{{ url('profile_index') }}" class="nav-link"><i class="bx bx-user" style="vertical-align: middle"></i></a></li>
            {% endif %}
            <li class="nav-item"><a href="#" class="nav-link" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i class="bx bx-menu" style="vertical-align: middle"></i></a></li>
        </ul>
    </div>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasRightLabel">Navigation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="mb-3 d-block d-lg-none">
            {{ render(controller('App\\Controller\\AppController::searchForm')) }}
        </div>
        {{ include('component/_profile_sidebar.html.twig',{'selected':sidebar|default('main')}) }}
    </div>
</div>