<div class="d-flex flex-column flex-shrink-0">
    <ul class="nav nav-pills nav-sidebar flex-column mb-auto">
        <li class="nav-item">
            <a href="{{ url('app_index') }}" class="nav-link {{ selected == 'main' ? 'active' : '' }}">Startseite</a>
        </li>
        <li class="nav-item">
            <a href="{{ url('blog_news_all_index') }}" class="nav-link {{ selected == 'news' ? 'active' : '' }}">Aktuelles</a>
        </li>
        <li class="nav-item">
            <a href="{{ url('blog_index') }}" class="nav-link {{ selected == 'blog' ? 'active' : '' }}">Themen</a>
        </li>
        <li class="nav-item">
            <a href="{{ url('event_index') }}" class="nav-link {{ selected == 'events' ? 'active' : '' }}">Veranstaltungen</a>
        </li>
        <li class="nav-item">
            <a href="{{ url('people_index') }}" class="nav-link {{ selected == 'people' ? 'active' : '' }}">Personen</a>
        </li>


        {% if is_granted('ROLE_AUTHOR') %}
            <li class="nav-item">
                <div class="nav-text">
                    <i class="fa-solid fa-fw fa-pen me-2 text-primary fs-6"></i>
                    Authoring
                </div>
            </li>
            <li class="nav-item">
                <a href="{{ path('authoring_blogpost_index') }}" class="nav-link {{ selected == 'auth-blog' ? 'active' : '' }}">
                    <i class="fa-solid fa-fw fa-newspaper me-2"></i>
                    Blog-Artikel
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('authoring_event_index') }}" class="nav-link {{ selected == 'auth-event' ? 'active' : '' }}">
                    <i class="fa-solid fa-fw fa-calendar-days me-2"></i>
                    Veranstaltungen
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('authoring_event_type_index') }}" class="nav-link {{ selected == 'auth-event-type' ? 'active' : '' }}">
                    <i class="fa-solid fa-fw fa-list me-2"></i>
                    Veranstaltungsarten
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link {{ selected == 'auth-newsletter' ? 'active' : '' }}">
                    <i class="fa-solid fa-fw fa-envelopes-bulk me-2"></i>
                    Newsletter
                </a>
            </li>
        {% endif %}

        {% if is_granted('ROLE_ADMIN') %}
            <li class="nav-item">
                <div class="nav-text">
                    <i class="fa-solid fa-fw fa-dashboard me-2 text-primary fs-6"></i>
                    Administration
                </div>
            </li>
            <li class="nav-item">
                <a href="{{ path('admin_user_index') }}" class="nav-link {{ selected == 'admin-user-roles' ? 'active' : '' }}">
                    <i class="fa-solid fa-fw fa-users me-2"></i>
                    Benutzerrollen
                </a>
            </li>
        {% endif %}
    </ul>
</div>