<div class="mb-3">
    <ul class="nav nav-underline mb-4">
        {% if filter|default() == 'details' %}
            <a href="{{ url('people_index') }}" class="nav-item nav-link {{ selected|default() == 'index' ? 'active' : '' }} text-nowrap">
                <i class="ri-arrow-left-double-line text-primary"></i>
                <span class="ms-1">Zurück</span>
            </a>
        {% else %}
            <li class="nav-item">
                <a class="nav-link {{ filter == 'all' ? 'active ' : '' }}" href="{{ url('people_index',{'filter':'all'}) }}">
                    <i class="ri-group-2-line text-primary"></i>
                    <span class="ms-1 d-none d-lg-inline">Alle</span>
                </a>
            </li>
            {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link {{ filter == 'freunde' ? 'active ' : '' }}" href="{{ url('people_index',{'filter':'freunde'}) }}">
                        <i class="ri-star-fill text-primary"></i>
                        <span class="ms-1 d-none d-lg-inline">Bekannte</span>
                    </a>
                </li>
                {% if app.user.hasSchool %}
                    <li class="nav-item">
                        <a class="nav-link {{ filter == 'school' ? 'active ' : '' }}" href="{{ url('profile_school') }}">
                            <i class="ri-school-line  text-primary"></i>
                            <span class="ms-1 d-none d-lg-inline">Meine Schule</span>
                        </a>
                    </li>
                {% endif %}
            {% endif %}
            {% if people_count|default(null) %}
                <li class="nav-item ms-auto">
                    <a class="nav-link disabled" href="#">
                        <span class="me-1 text-primary fw-bolder">{{ people_count }}</span>
                        <i class="ri-group-2-line text-primary"></i>
                    </a>
                </li>
            {% endif %}
        {% endif %}
    </ul>
</div>