{% extends '_full.html.twig' %}

{% set meta_title = 'Gruppen' %}
{% set meta_subtitle = 'Überblick' %}
{% set meta_description = 'Finde und vernetze dich mit Alumni und den ehemaligen Lehrkräften der teilnehmenden Schulen und Kollegs des zweiten Bildungsweges.' %}

{% set seo_title = 'Vernetze dich mit anderen Personen' %}

{% set sidebar = 'groups' %}

{% block page_header %}
    <section class="py-3">
        <div class="container py-5">

            <div class="row g-3">



                <div class="col-12 mb-3">
                    <div class="card bg-light-subtle border-0 shadow-sm rounded rounded-2">
                        <div class="card-body">
                            <h3 class="h6 mb-0">Hobbies</h3>
                        </div>
                        <div class="list-group list-group-flush border-bottom bg-white">
                            {% for category in hobby_categories|sort((a,b) => a.label <=> b.label) %}
                                {% set x = 0 %}
                                {% for hobby in category.hobbies|sort((a,b) => a.label <=> b.label) %}
                                    {% if hobby.userProfiles.count > 0 or hobby.events.count > 0 or hobby.personOffers.count > 0 %}
                                        {% if x == 0 %}
                                            <div class="list-group-item bg-light-subtle border-bottom border-primary pt-3">
                                                <span class="text-primary">{{ category }}</span>
                                            </div>
                                            {% set x = 1 %}
                                        {% endif %}
                                        <a href="{{ url('group_hobby_show',{'slug':hobby.slug}) }}" class="list-group-item ripplelink swipe-link-start list-group-item-action d-flex justify-content-start align-items-center py-3">
                                            <i class="ti ti-roller-skating text-primary me-2"></i>
                                            <div class="text-truncate">{{ hobby }}</div>
                                            <span class="ms-auto badge fw-normal text-dark-emphasis bg-secondary-subtle rounded-start-2 d-flex align-items-center">
                                                {{ hobby.userProfiles.count }}
                                                <i class="ti ti-users ms-1"></i>
                                            </span>
                                            <span class="badge fw-normal text-dark-emphasis bg-secondary-subtle d-flex align-items-center">
                                                {{ hobby.events.count }}
                                                <i class="ti ti-calendar-event ms-1"></i>
                                            </span>
                                            <span class="badge fw-normal text-dark-emphasis bg-secondary-subtle d-flex align-items-center">
                                                {{ hobby.personOffers.count }}
                                                <i class="ti ti-briefcase ms-1"></i>
                                            </span>
                                            <span class="badge fw-normal text-primary bg-primary-subtle rounded-end-2 d-flex align-items-center">
                                                0
                                                <i class="ti ti-message-2 ms-1"></i>
                                            </span>
                                        </a>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </div>
                        <div class="card-body"></div>
                    </div>
                </div>

                <div class="col-12 mb-3">
                    <div class="card bg-light-subtle border-0 shadow-sm rounded rounded-2">
                        <div class="card-body">
                            <h3 class="h6 mb-0">Berufliche Interessen</h3>
                        </div>
                        <div class="list-group list-group-flush border-bottom bg-white">
                            {% for category in interest_categories|sort((a,b) => a.label <=> b.label) %}
                                {% set x = 0 %}
                                {% for hobby in category.interests|sort((a,b) => a.label <=> b.label) %}
                                    {% if hobby.userProfiles.count > 0 or hobby.events.count > 0 or hobby.personOffers.count > 0 %}
                                        {% if x == 0 %}
                                            <div class="list-group-item bg-light-subtle border-bottom border-primary pt-3">
                                                <span class="text-primary">{{ category }}</span>
                                            </div>
                                            {% set x = 1 %}
                                        {% endif %}
                                        <a href="{{ url('group_interest_show',{'slug':hobby.slug}) }}" class="list-group-item ripplelink swipe-link-start list-group-item-action d-flex justify-content-start align-items-center py-3">
                                            <i class="ti ti-briefcase text-primary me-2"></i>
                                            <div class="text-truncate">{{ hobby }}</div>
                                            <span class="ms-auto badge fw-normal text-dark-emphasis bg-secondary-subtle rounded-start-2 d-flex align-items-center">
                                                {{ hobby.userProfiles.count }}
                                                <i class="ti ti-users ms-1"></i>
                                            </span>
                                            <span class="badge fw-normal text-dark-emphasis bg-secondary-subtle d-flex align-items-center">
                                                {{ hobby.events.count }}
                                                <i class="ti ti-calendar-event ms-1"></i>
                                            </span>
                                            <span class="badge fw-normal text-dark-emphasis bg-secondary-subtle d-flex align-items-center">
                                                {{ hobby.personOffers.count }}
                                                <i class="ti ti-briefcase ms-1"></i>
                                            </span>
                                            <span class="badge fw-normal text-primary bg-primary-subtle rounded-end-2 d-flex align-items-center">
                                                0
                                                <i class="ti ti-message-2 ms-1"></i>
                                            </span>
                                        </a>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </div>
                        <div class="card-body"></div>
                    </div>
                </div>
            </div>



        </div>
    </section>

{% endblock %}

{% block body %}{% endblock %}

{% block aside %}{% endblock %}