{% extends '_full.html.twig' %}

{% set meta_title = 'Gruppen' %}
{% set meta_subtitle = 'Hobbys' %}
{% set meta_description = 'Finde und vernetze dich mit Alumni und den ehemaligen Lehrkräften der teilnehmenden Schulen und Kollegs des zweiten Bildungsweges.' %}

{% set seo_title = 'Vernetze dich mit anderen Personen' %}

{% set sidebar = 'group' %}

{% block page_header %}
    <section class="py-3">
        <div class="container">

            {{ include('component/group_subbar.html.twig',{'selected':'show'}) }}

            <div class="row g-3">

                <div class="col-12 mt-3">
                    <div class="card bg-light-subtle border-0 shadow-sm rounded rounded-2">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <i class="ti ti-layout text-primary me-2"></i>{{ element }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="card bg-light-subtle border-0 shadow-sm rounded rounded-2">
                        <div class="card-header bg-light-subtle rounded-top-2">
                            <ul class="nav nav-tabs card-header-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active rounded-top-2" data-bs-toggle="tab" href="#a">
                                        <i class="ti ti-message-2 text-primary"></i>
                                        <span class="ms-1 d-none d-lg-inline">Plausche</span>
                                        <span class="ms-1 small badge fw-normal text-bg-light border border-dark-subtle rounded-2">{{ element.groupSubjects.count ?? 0 }}</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link rounded-top-2" data-bs-toggle="tab" href="#b">
                                        <i class="ti ti-calendar-event text-primary"></i>
                                        <span class="ms-1 d-none d-lg-inline">Veranstaltungen</span>
                                        <span class="ms-1 small badge fw-normal text-bg-light border border-dark-subtle rounded-2">{{ element.events.count ?? 0 }}</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link rounded-top-2" data-bs-toggle="tab" href="#c">
                                        <i class="ti ti-briefcase text-primary"></i>
                                        <span class="ms-1 d-none d-lg-inline">Stellenangebote</span>
                                        <span class="ms-1 small badge fw-normal text-bg-light border border-dark-subtle rounded-2">{{ element.personOffers.count ?? 0 }}</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane active" id="a">
                                {% if app.user and app.user.userProfiles is not empty and (element in app.user.userProfiles.first.userHobbies or element in app.user.userProfiles.first.userInterests) %}
                                    <div class="card-body border-bottom">
                                        <a href="#" class="btn btn-primary btn-sm rounded-2" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="ti ti-plus me-1"></i>Plausch erstellen</a>
                                    </div>
                                {% endif %}
                                <div class="list-group list-group-flush bg-white">
                                    {% for subject in element.groupSubjects %}
                                        <a href="{{ url('group_talk_show',{'slug':subject.slug}) }}" class="list-group-item list-group-item-action ripplelink swipe-link-start py-3">
                                            <span class="text-primary">{{ subject }}</span><br>
                                            <small>{{ subject.description }}</small>
                                        </a>
                                    {% else %}
                                        <div class="list-group-item py-3 d-flex justify-content-center align-items-center">
                                            Keine Elemente vorhanden
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="tab-pane" id="b">
                                <div class="list-group list-group-flush">
                                    {% for post in element.events|sort((a, b) => b.startDate <=> a.startDate) %}
                                        {% if post.endDate|date('Ymd') >= date('now')|date('Ymd')%}
                                            {{ include('component/_event_list.html.twig') }}
                                        {% endif %}
                                        {% if post.endDate|date('Ymd') <= date('-1 days')|date('Ymd')%}
                                            {{ include('component/_event_list_old.html.twig') }}
                                        {% endif %}
                                    {% else %}
                                        <div class="list-group-item py-3 d-flex justify-content-center align-items-center">
                                            Keine Elemente vorhanden
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="tab-pane" id="c">
                                <div class="list-group list-group-flush">
                                    {% for offer in element.personOffers %}
                                        {{ include('component/_offer_fav_list.html.twig') }}
                                    {% else %}
                                        <div class="list-group-item d-flex justify-content-center align-items-center">
                                            <span class="py-2">Keine Elemente vorhanden</span>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="card-body border-top"></div>
                    </div>
                </div>

            </div>

            {{ include('component/_people_list_short.html.twig',{'people':element.userProfiles}) }}

        </div>
    </section>

{% endblock %}

{% block body %}{% endblock %}

{% block aside %}
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content rounded-2 border-0 bg-white shadow">
                {{ form_start(form) }}
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Plausch erstellen</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{ form_row(form.title) }}
                    {{ form_row(form.description) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light rounded-2" data-bs-dismiss="modal">Abbrechen</button>
                    <button type="submit" class="btn btn-primary rounded-2">Speichern</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}