{% extends '_full.html.twig' %}

{% set meta_title = 'Alumni' %}
{% set meta_subtitle = 'Schule' %}
{% set meta_description = school.description|striptags|slice(0,150) %}

{% set seo_title = school.title %}


{% set sidebar = 'people' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.4/dist/leaflet.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-gesture-handling@1.2.2/dist/leaflet-gesture-handling.min.css" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.4/dist/leaflet.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet-gesture-handling@1.2.2/dist/leaflet-gesture-handling.min.js"></script>
{% endblock %}

{% block page_header %}
<section class="py-3">
    <div class="container px-0">

        <div class="mb-3 px-3 px-sm-0">
            <div class="nav nav-underline mb-0">
                <a href="javascript:void(0)" onclick="history.back()" class="nav-item nav-link {{ selected|default() == 'index' ? 'active' : '' }} text-nowrap">
                    <i class="ri-arrow-left-double-line text-primary"></i>
                    <span class="ms-1">Zur端ck</span>
                </a>
                {% if is_granted('ROLE_ADMIN')  %}
                    <a class="nav-item nav-link text-nowrap" target="_blank" href="{{ ea_url()
                        .setController('App\\Controller\\Admin\\SchoolCrudController')
                        .setAction('edit')
                        .setEntityId(school.id)
                    }}">
                        <i class="ti ti-pencil text-primary"></i>
                        Bearbeiten
                    </a>
                {% endif %}
            </div>
        </div>

        <div class="row g-3">
            <div class="col-lg-12" id="section-school">
                <div class="card shadow-sm bg-light-subtle border-top-0 border-start-0 border-end-0 rounded rounded-2">
                    <div class="card-body border-bottom border-primary">
                        <h3 class="h6 mb-0">{{ school.title }}</h3>
                        <div class="mb-0"><span class="text-primary">{{ school.district }}</span></div>
                    </div>
                    <div class="card-body bg-white">
                        {{ school.description|default('keine Beschreibung verf端gbar')|raw }}
                    </div>
                    <div class="card-body border-top small text-end">
                        Registrierte Alumni: <span class="badge rounded text-bg-white">{{ school.users.count }}</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-12" id="section-events">
                <div class="card shadow-sm bg-light-subtle border-0 rounded rounded-2">
                    <div class="card-body border-bottom border-primary">
                        <h3 class="h6 mb-0">Veranstaltungen</h3>
                    </div>
                    <div class="list-group list-group-flush">
                        {% for post in school.events|sort((a, b) => b.startDate <=> a.startDate) %}
                            {% if loop.index <= 10 %}
                                {% if post.endDate|date('Ymd') >= date('now')|date('Ymd')%}
                                    {{ include('component/_event_list.html.twig') }}
                                {% endif %}
                                {% if post.endDate|date('Ymd') <= date('-1 days')|date('Ymd')%}
                                    {{ include('component/_event_list_old.html.twig') }}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="card-body border-top">
                    </div>
                </div>
            </div>

            <div class="col-lg-12" id="section-map">
                <div class="card shadow-sm bg-light-subtle border-0 rounded rounded-2">
                    <div class="card-body rounded rounded-2 ratio ratio-21x9" id="map" data-lon="{{ school.lon }}" data-lat="{{ school.lat }}" data-name="{{ school.title }}"></div>
                </div>
            </div>

        </div>
    </div>
</section>

    <script>
        // Koordinaten aus Twig in JavaScript 端bernehmen
        let mapDiv = document.getElementById("map");
        let lat = mapDiv.getAttribute('data-lat');
        let lng = mapDiv.getAttribute('data-lon');
        let name = mapDiv.getAttribute('data-name');


        // Karte initialisieren
        let map = L.map('map', {
            center: [lat, lng],
            zoom: 16,
            scrollWheelZoom: false, // Deaktiviert normales Scroll-Zoomen
            gestureHandling: true,
            zoomControl: false
        });

        // OpenStreetMap-Tiles hinzuf端gen
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; OpenStreetMap contributors'
        }).addTo(map);

        // Marker setzen
        L.marker([lat, lng]).addTo(map)
            .bindPopup(name);
    </script>

    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "EducationalOrganization",
            "name": "{{ school.title }}",
            "url": "{{ school.url }}",
            "logo": "https://www.beispielschule.de/logo.png",
            "address": {
                "@type": "PostalAddress",
                "streetAddress": "{{ school.street }}",
                "addressLocality": "{{ school.city }}",
                "postalCode": "{{ school.plz }}",
                "addressCountry": "DE"
            },
            "geo": {
                "@type": "GeoCoordinates",
                "latitude": "{{ school.lat }}",
                "longitude": "{{ school.lon }}"
            }
        }
    </script>


{% endblock %}